@charset "utf-8";
/* CSS Document */


/* 標準 Standard */
:root {
    
    --global-Fonts-color: #1e2d40; /* Bady  1e2d40  字的         預設顏色          var(--global-Fonts-color) */
    --global-Fonts-title: #090a0c; /* Bady  090a0c  bold重點字    預設標題顏色      var(--global-Fonts-title) */
    /*================================================================================================================*/    
    --global-Fonts-333color: #333333; /* Bady字的顏色        var(--global-Fonts-333color) */
    --global-Fonts-555color: #555555; /* Bady字的顏色        var(--global-Fonts-555color) */
    --global-Fonts-777color: #777777; /* Bady字的顏色        var(--global-Fonts-777color) */
    --global-Fonts-959color: #959595; /* Bady字的顏色        var(--global-Fonts-959color) */
    --global-Fonts-999color: #999999; /* Bady字的顏色        var(--global-Fonts-999color) */
    --global-Fonts-000color: #000000; /* Bady字的顏色        var(--global-Fonts-000color) */
    --global-Fonts-FFFcolor: #FFFFFF; /* Bady字的顏色        var(--global-Fonts-FFFcolor) */
    --global-Fonts-BBBcolor: #BBBBBB; /* Bady字的顏色        var(--global-Fonts-BBBcolor) */
    
    /*================================================================================================================*/
    --global-dividing-line: #1e2d408a; /* 導覽列分向/斜線 #1e2d408a rgba(30,45,64,0.35)*    var(--global-dividing-line) */
    --global-a-focus: #43B5FC; /* a:focus 2px 外框線的顏色 #43B5FC                         var(--global-a-focus)*/
    --global-a-hover: #775108; /* a:focus 2px 碰觸的顏色 #775108                          var(--global-a-hover)*/    
    
    /*================================================================================================================*/
    --global-border-000color: #000000; /* Bady外框線的 黑色              var(--global-border-000color) */
    --global-border-FFFcolor: #FFFFFF; /* Bady外框線的 白色              var(--global-border-FFFcolor) */      
    --global-border-BBBcolor: #BBBBBB; /* Bady外框線的 顏色              var(--global-border-BBBcolor) */
    --global-border-CCCcolor: #CCCCCC; /* Bady外框線的 顏色              var(--global-border-CCCcolor) */
    --global-border-EEEcolor: #EEEEEE; /* Bady外框線的 顏色              var(--global-border-EEEcolor) */ 
    --global-border-555color: #555555; /* Bady外框線的 E6白色            var(--global-border-555color) */
    --global-border-E6E6color: #E6E6E6; /* Bady外框線的 E6白色           var(--global-border-E6E6color) */
    --global-border-ADADcolor: #ADADAD; /* Bady外框線的 顏色             var(--global-border-ADADcolor) */ 
    --global-border-AEAEcolor: #AEAEAE; /* Bady外框線的 顏色             var(--global-border-AEAEcolor) */      
    
    --global-border-transparent: transparent; /* 背景色 透明             var(--global-border-transparent) */ 
    --global-border-D23600color: #D23600; /* Bady外框線的 顏色           var(--global-border-D23600color) */ 
    
    /*================================================================================================================*/
    --global-background-000color: #000000; /* 背景色 黑色              var(--global-background-000color) */
    --global-background-FFFcolor: #FFFFFF; /* 背景色 白色              var(--global-background-FFFcolor) */
    
    --global-background-BBBcolor: #BBBBBB; /* 背景色                  var(--global-background-BBBcolor) */
    --global-background-CCCcolor: #CCCCCC; /* 背景色                  var(--global-background-CCCcolor) */
    --global-background-EEEcolor: #EEEEEE; /* 背景色                  var(--global-background-EEEcolor) */ 
    
    --global-background-E6E6color: #E6E6E6; /* 背景色 E6白色           var(--global-background-E6E6color) */
    --global-background-transparent: transparent; /* 背景色 透明       var(--global-background-transparent) */  
    
}

/* 標準 Standard Hover #775108 */
:root {
    --global-Fonts-Hover-color: #775108; /* Bady字HOVER的顏色          var(--global-Fonts-Hover-color) */
    --global-Fonts-Hover-title: #775108; /* Bady重點字標題HOVER顏色     var(--global-Fonts-Hover-title) */
    
    /*================================================================================================================*/
}



/* 主色 #0263B8 customize 客製化 */
:root {
    --customize-Fonts-color: #1e2d40; /* 字的顏色                      var(--customize-Fonts-color) */
    --customize-Fonts-bold-title: #090a0c; /* 重點字  標題顏色          var(--customize-Fonts-bold-title) */
    --customize-Fonts-d7a975-color: #d7a975; /* 亮金色字的顏色(亮色)     var(--customize-Fonts-d7a975-color) */
    
    /*================================================================================================================*/    
    --customize-Fonts-Hover-775108-color: #775108; /* 字HOVER的顏色                  var(--customize-Fonts-Hover-775108-color) */
    --customize-Fonts-Hover-775108-bold-title: #775108; /* 重點字 標題HOVER顏色       var(--customize-Fonts-Hover-775108-bold-title) */
    --customize-Fonts-Hover-d7a975-color: #d7a975; /* 亮金色字HOVER的顏色             var(--customize-Fonts-Hover-d7a975-color) */
    
    /*================================================================================================================*/
    --customize-0263B8-color: #0263B8; /* 主色-藍色             var(--customize-0263B8-color) */
    --customize-014785-color: #014785; /* 主色-深藍色           var(--customize-014785-color) */
    --customize-d7a975-color: #d7a975; /* 主色-亮金色           var(--customize-d7a975-color) */
    --customize-775108-color: #775108; /* 主色-深金色           var(--customize-775108-color) */
    
    /*================================================================================================================*/
    --customize-border-0263B8-color: #0263B8; /* 主色外框線-藍色             var(--customize-border-0263B8-color) */
    --customize-border-014785-color: #014785; /* 主色外框線-深藍色           var(--customize-border-014785-color) */
    --customize-border-d7a975-color: #d7a975; /* 主色外框線-深藍色           var(--customize-border-d7a975-color) */
    --customize-border-775108-color: #775108; /* 主色外框線-深藍色           var(--customize-border-775108-color) */
    
    /*================================================================================================================*/
    --customize-background-color-1: #0263B8; /* 主背景色 藍色               var(--customize-background-color-1) */
    --customize-background-color-2: #014785; /* 主背景色 深藍色             var(--customize-background-color-2) */    
    /*================================================================================================================*/
    --customize-background-Hover-color-0: #0263B8; /* 主背景色 HOVER深金色      var(--customize-background-Hover-color-0) */
    --customize-background-Hover-color-1: #dbb189; /* 主背景色 HOVER淺金色      var(--customize-background-Hover-color-1) */
    --customize-background-Hover-color-2: #dbb189; /* 主背景色 HOVER深金色      var(--customize-background-Hover-color-2) */
    --customize-background-Hover-color-3: #775108; /* 主背景色 HOVER深金色      var(--customize-background-Hover-color-3) */
}


/*
color: #1e2d40;
color: var(--global-Fonts-color);

color: #090a0c;
color: var(--global-Fonts-title);

color: #FFFFFF;
color: var(--global-Fonts-FFFcolor);

color: #d7a975;
color: var(--customize-Fonts-d7a975-color);



border-color: #555555;
border-color: var(--global-border-555color);

border-color: transparent;
border-color: var(--global-border-transparent);



background-color: #FFFFFF;
background-color: var(--global-background-FFFcolor);

background-color: #EEEEEE;
background-color: var(--global-background-EEEcolor);

background-color: transparent;
background-color: var(--global-background-transparent);



background-color: #0263B8;
background-color: var(--customize-background-color-1);

background-color: #014785;
background-color:  var(--customize-background-color-2);

background-color: #dbb189;
background-color: var(--customize-background-Hover-color-1);

background-color: #dbb189;
background-color:  var(--customize-background-Hover-color-2);

background-color: #775108;
background-color:  var(--customize-background-Hover-color-3);

color: #775108;
color: var(--customize-Fonts-Hover-775108-color);

color: #775108;
color: var(--customize-Fonts-Hover-775108-bold-title);



border: 1px solid #0263B8;
border: 1px solid var(--customize-0263B8-color);

background-color: #0263B8;	
background-color: var(--customize-background-Hover-color-0); 

*/






