<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

	<!-- 定義輸出目標 -->
	<targets>
		<!-- Info Log -->
		<target xsi:type="File" name="infoFile"
				fileName= "${basedir}/logs/info.log"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}" />

		<!-- Error Log -->
		<target xsi:type="File" name="errorFile"
				fileName="${basedir}/logs/error.log"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception}" />

	</targets>

	<!-- 設定規則 -->
	<rules>
		<!-- Info 級別輸出到 info.log -->
		<logger name="*" minlevel="Info" maxlevel="Info" writeTo="infoFile" />

		<!-- Error 級別輸出到 error.log -->
		<logger name="*" minlevel="Error" writeTo="errorFile" />
	</rules>
</nlog>