<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<proxy enabled="true" preserveHostHeader="true" reverseRewriteHostInResponseHeaders="false"/>
		<rewrite>
			<rules>
				<rule name="ReverseProxy_To_SSR_Node" stopProcessing="true">
					<match url="(.*)"/>
					<serverVariables>
						<set name="HTTP_X_FORWARDED_PROTO" value="https"/>
						<set name="HTTP_X_FORWARDED_HOST" value="{HTTP_HOST}"/>
						<set name="HTTP_X_FORWARDED_FOR" value="{REMOTE_ADDR}"/>
					</serverVariables>
					<action type="Rewrite" url="http://127.0.0.1:{自行輸入_SSR_PORT}/{R:1}" appendQueryString="true"/>
				</rule>
			</rules>
		</rewrite>
		<httpProtocol>
			<customHeaders>
				<add name="X-Frame-Options" value="SAMEORIGIN"/>
				<add name="X-Content-Type-Options" value="nosniff"/>
				<add name="Referrer-Policy" value="strict-origin-when-cross-origin"/>
				<add name="Permissions-Policy" value="geolocation=(), microphone=(), camera=(), fullscreen=(self)"/>
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>