@charset "utf-8";
/* CSS Document */

/* ============================================ */
/* ==  跑馬燈 marquee-left_section ============= */
/* ============================================ */
.marquee-left_section {
	position: relative; 
	display: block;

	/*background-image: url(../images/);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: top;*/
	
	background: transparent; /*transparent*/	
	background-color: #fff9eb; /*transparent*/ 
}
.marquee-left_section .no-gutters {
	margin-right: 0;
	margin-left: 0;	
	/*border: 1px solid #c89d65;*/
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	
	background-color: var(--color_007069);
}
@media (max-width:575px) {
    .marquee-left_section .no-gutters {
        padding: 1px 1px 1px 120px;
    }
}
@media (min-width:576px) {
    .marquee-left_section .no-gutters {
        padding: 1px 1px 1px 160px;
    }
}

.marquee-left_section .GeneratedMarquee {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	
	width: 100%;
	padding: 0;
	background-color: transparent;	
	background-color: #fff9eb;
	
	border-top-left-radius: 0px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 0px;
}

.marquee-left_section .m-icon {
	position: relative;
}
.marquee-left_section .m-icon::before {
	position: absolute;
	content: url("../../images/marquee_icon_40x40.svg");		
	z-index: 0;
	background-color: var(--color_007069);
	/*border-radius: 50px 0 0 50px;
	-webkit-border-radius: 50px 0 0 50px;
	-moz-border-radius: 50px 0 0 50px;
	-ms-border-radius: 50px 0 0 50px;
	-o-border-radius: 50px 0 0 50px;*/
	/*background-position: center right;
	background-repeat: no-repeat;
	padding-right: 3px;*/
}
@media (max-width:575px) {
    .marquee-left_section .m-icon::before {
        width: 32px;
		height: 32px;
		top: 10px;
		left: 20px;
		content: url("../../images/marquee_icon_32x32.svg");	
    }
}
@media (min-width:576px) {
    .marquee-left_section .m-icon::before {
        width: 40px;
		height: 40px;
		top: 6px;
		left: 30px;
    }
}

.marquee-left_section .m-icon::after{
	position: absolute;
	content: "快訊";	
	z-index: 0;
	display: flex;
	justify-content: left;
	align-items: center;
	color: var(--FFFcolor);
	font-weight: bold;	
	/*background: #873c00;*/
	padding-left: 3px;
}
@media (max-width:575px) {
    .marquee-left_section .m-icon::after {
		top: 10px;
		left: 60px;
		font-size: 125%;
    }
}
@media (min-width:576px) {
    .marquee-left_section .m-icon::after {
		top: 9px;
		left: 80px;
		font-size: 137.5%;
    }
}

.marquee-left_section .marquee-area .block-hidden {
	position: relative;
	display: block;
	
	height: 48px;
	padding-right: 30px;
	overflow: hidden;
}

.marquee-left_section .marquee-area .marqee {
	height: 48px;
	margin: 0 auto;
	overflow: hidden; 
	position: relative;
	margin-right: 1rem;
	/*background: black;*/
}

.marquee-left_section .marquee-area .marqee > ul.me-ul {
	position: absolute;
    list-style: none;
    padding-left: 0;
	margin-bottom: 0rem;
	
	display: inline-flex;
}

.marquee-left_section .marquee-area .marqee > ul.me-ul > li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	
	display: inline-flex;
	
	white-space: nowrap;
 	margin-right: 2em;
	height: 48px;
}

.marquee-left_section .marquee-area .marqee > ul.me-ul > li > h2 {
	font-size: 100%;
	margin-bottom: 0;
}

.marquee-left_section .marquee-area .marqee > ul.me-ul > li > h2 > a {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	
	display: inline-flex;
	
	height: 48px;
	color: var(--color_007069);
	font-weight: bold;
	margin-right: 50px;
}
@media (max-width:575px) {
    .marquee-left_section .marquee-area .marqee > ul.me-ul > li > h2 > a {
		font-size: 125%;
    }
}
@media (min-width:576px) {
    .marquee-left_section .marquee-area .marqee > ul.me-ul > li > h2 > a {
		font-size: 137.5%; /*1.5em*/
    }
}

.marquee-left_section .marquee-area .marqee > ul.me-ul > li > h2 > a:hover,
.marquee-left_section .marquee-area .marqee > ul.me-ul > li > h2 > a:focus {
	color: #800000;
}
.marquee-left_section .marquee-area .marqee > ul.me-ul > li > h2 > a:focus {
	text-decoration: none;
	outline: 2px solid #43B5FC;
	outline-offset: -2px !important;	
}


/* ============================================ */
.marquee-left_section .marquee-area .marqee > ul.me-ul {
	animation: marqee 3.5s linear infinite; /*30S*/
	-webkit-animation: marqee 3.5s linear infinite; /* Safari 4+ */
	-moz-aanimation: marqee 3.5s linear infinite; /* Fx 5+ */
	-o-animation: marqee 3.5s linear infinite;/* Opera 12+ */
	animation: marqee 3.5s linear infinite; 
}
/* // 左右 LEFT */
.marquee-left_section .marquee-area .marqee > ul.me-ul:hover {
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	-o-animation-play-state: paused;
	animation-play-state: paused;
	cursor: pointer;
}

.marquee-left_section .marquee-area .marqee > ul.me-ul.paused {
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	-o-animation-play-state: paused;
	animation-play-state: paused;
	cursor: pointer;
}
/* // 左右 RIGHT-->LEFT */
/*@keyframes marqee {
	0% {
		left: 100%;
		transform: translateX(0%);
	}
	
	100% {
		left: 0;
		transform: translateX(-100%);
	}
}*/
/* // 上下 UP-->DOWN */
.marquee-left_section .marquee-area .marqee > ul > li {
	animation: marqee 3.5s linear infinite; /*30S*/
    -webkit-animation: marqee 3.5s linear infinite; /* Safari 4+ */
	-moz-aanimation: marqee 3.5s linear infinite; /* Fx 5+ */
	-o-animation: marqee 3.5s linear infinite;/* Opera 12+ */
	animation: marqee 3.5s linear infinite; 
}
.marquee-left_section .marquee-area .marqee > ul > li {
	animation: marqeefadein 3.5s linear infinite; /*30S*/
    -webkit-animation: marqeefadein 3.5s linear infinite; /* Safari 4+ */
	-moz-aanimation: marqeefadein 3.5s linear infinite; /* Fx 5+ */
	-o-animation: marqeefadein 3.5s linear infinite;/* Opera 12+ */
	animation: marqeefadein 3.5s linear infinite; 
}
/*===================================================================*/

@keyframes marqee {
	0% {
		top: 100%;
		transform: translateY(0%);
	}	
    
	100% {
		top: 0;
		transform: translateY(-100%);
	}
}
@keyframes marqeefadein {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
/* ============================================ */
/* ==  跑馬燈 marquee-left_section ========= */
/* ============================================ */















  