@charset "utf-8";
/* CSS Document */

/*-------------------------------------*/
/*----- visitor_section ---------------*/
.visitor_section {
	/*display: -webkit-box;*/
	/*display: -ms-flexbox;*/
	display: flex;
	-webkit-box-pack: start;			/* baseline / center / end / inherit / initial / revert / start / stretch / unset */
	-ms-flex-pack: start;
	justify-content: flex-start;		/* flex-start / flex-end / center / space-between / space-around / space-evenly */
	position: relative;
	background-color: var(--Customize_Footercolor);
}

.visitor_section .info_contact > div.dbox {
	display: block;
	/*margin: 10px 0 0 0;*/
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

.visitor_section .info_contact > div p {
	font-size: 85%; /*0.9375em*/
    font-weight: 600;
    color: var(--blackcolor);
	margin: 0;
	text-align: left;
}
/*@media screen and (max-width: 1200px) {
	.visitor_section .info_contact > div p {
		padding: 0 15px;
	}
}
@media screen and (max-width: 992px) {
	.visitor_section .info_contact > div p {
		padding: 0 15px;
	}
}
@media screen and (max-width: 768px) {
	.visitor_section .info_contact > div p {
		padding: 0 1px;
	}
}*/

.visitor_section .info_contact > div a {
	color: var(--FFFcolor);
}
/*----- visitor_section ---------------*/
/*-------------------------------------*/

/*-------------------------------------*/
/*----- copyright_section -------------*/
.copyright_section {
	/*display: -webkit-box;*/
	/*display: -ms-flexbox;*/
	display: flex;
	-webkit-box-pack: center;			/* baseline / center / end / inherit / initial / revert / start / stretch / unset */
	-ms-flex-pack: center;
	justify-content: center;		/* flex-start / flex-end / center / space-between / space-around / space-evenly */
	position: relative;
	/*background-color: #e8e8e8;*/
	background-color: var(--color_00615a);
}

.copyright_section div.dbox {
	display: block;
	/*margin: 10px 0 0 0;*/
}

.copyright_section div.dbox-tb {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	
	display: inline-block;
	margin: 0;
}

.copyright_section span.sp {
	font-size: 93.75%; /*87.5%*/ /*93.75%*/
	font-weight: 700;
	color: var(--G555color);
	/*margin: 0 auto;*/
	text-align: left;
	margin: 0;
}
@media screen and (max-width: 575px) {
	.copyright_section span.sp {
		font-size: 75%;
	}
}
/*@media screen and (max-width: 1200px) {
	.copyright_section p {
		padding: 0 15px;
	}
}
@media screen and (max-width: 992px) {
	.copyright_section p {
		padding: 0 15px;
	}
}
@media screen and (max-width: 768px) {
	.copyright_section p {
		padding: 0 1px;
	}
}*/

.copyright_section .top-line {
	border-top: 1px solid var(--G777color);
}

.copyright_section a {
	color: var(--G555color);
}
/*----- copyright_section -------------*/
/*-------------------------------------*/