WCMS_Frontend/public/Legacy/
WCMS_Frontend/dist-ssr/
WCMS_Frontend/dist-csr/
WCMS_Backend/.vs/
WCMS_Backend/obj/
WCMS_Backend/bin/
WCMS_Frontend/WCMS_Frontend.zip
WCMS_Backend/Migrations/
WCMS_Backend/publish/
