@charset "utf-8";
/* CSS Document */

/* ======================================================== */
/* --------------------------------------------------------
**	首頁 @import區
**	Container-Custom
**	表單 ( form-control / input / Label )
**	內頁左邊選單 / 內頁上邊選單
**	自訂 共用 - 按鈕
**	自訂 Model ( 互動視窗 )
**	Fullpage-wrapper
**	layout_padding set
**	ContentPlaceContent_ContentSubMenu H1~H6
**	ContentPlaceContent_ContentConentA H1~H6
----------------------------------------------------------- */
/* ======================================================== */


:root {
    --Customize_color: #097782;
    --Customize_HRcolor: #0da7b5;
    --Graycolor: #727171;
    --FFFcolor: #FFFFFF;
    --blackcolor: #000000;
    --b2020color: #202020;
    --G333color: #333333;
    --G555color: #555555;
    --G777color: #777777;
    --G999color: #999999;
    --G979color: #979797;
}
/* color: var(--Customize_color); */
/* background-color: var(--Customize_color); */



/* =================================================== */
/* ------ 首頁 @import區 ------------------------------ */
/* =================================================== */
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
/*font-family: "Noto Sans TC", sans-serif;*/

/* =================================================== */
/* ------ 首頁 @import區 ------------------------------ */
/* =================================================== */



/* ========================================================================= */
/* ------ 首頁 CSS BADY 所有內容設定開始 ---- 以下 START ------- */
/* ========================================================================= */
* {
	font-family: "open sans","微軟正黑體",sans-serif;
}

body {
    font-family: "open sans","微軟正黑體",sans-serif;
    font-size: 100%;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    
    color: var(--blackcolor);
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
a, a:hover {
    color: var(--Customize_color);
    text-decoration: none;
}
a:focus {
    text-decoration: none;
    
    /* 灰色虛線 */
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    
    /* 藍線 */
	/*outline: thin dotted;
    outline: 2px solid #43B5FC;
	outline-offset: -2px;*/
}
[tabindex="-1"]:focus:not(:focus-visible) {
	text-decoration: none;

	outline: thin dotted !important;
    outline: 2px solid #43B5FC;
	outline-offset: -2px;
}

img {
    max-width: 100%;
    height: auto;
}

img.img_class {
    -o-object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    transition-duration: .7s;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-timing-function: cubic-bezier(.19, 1, .22, 1)
}

.img-fluid {
    max-width: 100%;
    height: auto;
    width: 100%;
    /*height: 100%;*/
    object-fit: cover;
}

.shine::before {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    content: "";
    display: block;
    height: 100%;
    left: -90%;
    position: absolute;
    top: 0;
    transform: skewX(25deg);
    width: 30%;
    z-index: 2;
    pointer-events: none;
}
.shine:hover::before, 
.shine:focus::before {
    animation: shine 0.65s;
}
@keyframes shine {
    100% {
        left: 125%;
    }
}

.list-group {
    list-style: none;
}

.pad {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
@media (max-width: 1305px) {
	.pad {
		padding-top: 0rem;
		padding-bottom: 0rem;
	}
}

.bg_area {
	position: relative; 
	/*z-index: 16;*/
	background-color: transparent;
	background-size: auto; 
	background-repeat: no-repeat; 
	/*background-position: bottom;*/
	/*background-image: url(images/bg/main_background-image_1903x4000.png)*/
}

/*.fixed-top {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}*/


.global_section {
    position: relative;
    display: block;
    width: 100%;
    height: 3px;
    background-color: transparent;
}

/* ============================================= */
/* ------ Container-Custom --------------------- */
/* ============================================= */
.container,.container-fluid,.container-lg,.container-md,.container-sm,.container-xl {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}
@media (min-width:576px) {
	.container,.container-sm {
		max-width: 540px
	}
}
@media (min-width:768px) {
	.container,.container-md,.container-sm {
		max-width: 720px
	}
}
@media (min-width:992px) {
	.container,.container-lg,.container-md,.container-sm {
		max-width: 960px
	}
}
@media (min-width:1200px) {
	.container,.container-lg,.container-md,.container-sm,.container-xl {
		max-width: 1170px; /*1140*/
	}
}

/* ====================================================== */
/* ------ Container-1014 --------------------- */
@media (min-width: 1200px) {
  .container-customize0 {
    max-width: 992px; /*1170 / 1500*/
  }
}
.container-customize0 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* ====================================================== */
/* ------ Container-Custom --------------------- */
@media (min-width: 1200px) {
  .container-customize1 {
    max-width: 1470px; /*1170 / 1500*/
  }
}
.container-customize1 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* ====================================================== */
/* ------ Container-1344 --------------------- */
@media (min-width: 1200px) {
  .container-customize2 {
    max-width: 1344px; /*1170 / 1500*/
  }
}
.container-customize2 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* ====================================================== */
/* ------ container-fluid-customize --------------------- */
.container-fluid-customize {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 1200px) {
  .container-fluid-customize {
    width: 100%;
    padding-right: 32px;
    padding-left: 32px;
    margin-right: auto;
    margin-left: auto;
  }
}

/* ============================================= */
/* ------ Container-Custom --------------------- */
/* ============================================= */


/* ============================================= */
/* ------ 表單所有 ( 以下 ) ---------------------- */
/* ============================================= */
.required {
	color: red;
	font-size: 87.5%; /*0.875em*/
	margin-left: 5px;
}

.y-required {
	color: yellow;
	font-size: 87.5%; /*0.875em*/
	margin-left: 5px;
}

.col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}

.form-control:not(.form-control-lg):not(.form-control-sm), 
.swal-modal input.swal-content__input:not(.form-control-lg):not(.form-control-sm) {
    height: -webkit-calc(1.5em + .75rem + 3px);
    height: -moz-calc(1.5em + .75rem + 3px);
    height: calc(1.5em + .75rem + 3px);
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;    
    color: var(--blackcolor);
    background-color: var(--FFFcolor);
    background-clip: padding-box;    
    border: 1px solid #AEAEAE;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


/* ============================================= */
/* ------ 自訂 勾選開關 ------------------------- */
.form-check-input {
    position: absolute;
    margin-top: 0.65rem; /*.3rem*/
    margin-left: 0rem; /*-1.25rem*/
}

.form-check-input {
	padding-top: calc(.375rem + 1px);
	padding-bottom: calc(.375rem + 1px);
	margin-bottom: 0;
	font-size: inherit;
	line-height: 1.5;
	width: 18px;
	height: 18px;
}

.custom-check-label {
	padding-top: calc(.375rem + 1px);
	padding-bottom: calc(.375rem + 1px);
	margin-bottom: 0;
	font-size: inherit;
	line-height: 1.5;
}

.custom-check-label span.check-txt {
    margin-left: 1.5rem;
}
/* ------ 自訂 勾選開關 ------------------------- */
/* ============================================= */


/* ============================================= */
/* ------ 自訂 輸入區 --------------------------- */
textarea.custom-form-control-height-lg {
    height: auto !important;
}
/* ------ 自訂 輸入區 --------------------------- */
/* ============================================= */

.questionnaire-block-box {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 100%; /*1em*/
    font-weight: 400;
    line-height: 1.5;
    color: var(--blackcolor);    
    background-color: var(--FFFcolor);    
    background-clip: padding-box;    
    border: 1px solid #AEAEAE;    
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.block-linebox {
    display: block;
    width: 100%;    
    padding: .375rem .75rem;
    font-size: 100%; /*1em*/
    font-weight: 400;
    line-height: 1.5;
    
    color: var(--blackcolor);
    background-color: var(--FFFcolor);
    background-clip: padding-box;
    border: 1px solid #AEAEAE;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
/* ============================================= */
/* ------ 表單所有 ( 以上 ) ---------------------- */
/* ============================================= */



/* ============================================= */
/* ------ 自訂 按鈕 ----------------------------- */
/* ============================================= */
.btn {
    position: relative;	
    
    display: inline-block;
    font-size: 100%;
    line-height: 1.5;
    font-weight: 400;
    
    color: var(--blackcolor);
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    border: 1px solid transparent;     
    background-color: transparent;

    padding: 0.5rem 1.5rem;    
    
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn.btn-rounded {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

/*------------------------------------------------*/
/* 藍底色+白字 */
.btn.btn-customize-viewmore {
    color: var(--FFFcolor);
    border: 1px solid #00479d;
    background-color: #00479d;
    z-index: 1;
}

.btn.btn-customize-viewmore:hover {
    color: #775108;
	border-color: #d7a975;
    background-color: #d7a975;
}
/*------------------------------------------------*/
/* 白底色+藍黑字 */
.btn.btn-customize-white-viewmore {
    color: #1e2d40;
    border: 1px solid #d7a975;
    background-color: var(--FFFcolor);
    z-index: 1;
}

.btn.btn-customize-white-viewmore:hover {
    color: var(--FFFcolor);
	border-color: var(--FFFcolor);
    background-color: #d7a975;
}
/*------------------------------------------------*/
/* 無底色+白字 */
.btn.btn-customize-transparent-viewmore {
    color: var(--FFFcolor);
    border: 1px solid var(--FFFcolor);
    background-color: transparent;
    z-index: 1;
}

.btn.btn-customize-transparent-viewmore:hover {
    color: #775108;
	border-color: var(--FFFcolor);
    background-color: #d7a975;
}
/* ============================================= */
/* ------ 自訂 按鈕 ----------------------------- */
/* ============================================= */


/* ============================================= */
/* ------ 自訂 Model --------------------------- */
/* ============================================= */
.custom-model-box {
	position: relative;
	display: block;
}

.custom-model-box .modal-open {
	overflow: hidden
}

.custom-model-box .modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	display: none;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	outline: 0
}

.custom-model-box .modal.fade .modal-dialog {
	-webkit-transition: -webkit-transform .3s ease-out;
	-o-transition: -o-transform .3s ease-out;
	transition: transform .3s ease-out;
	-webkit-transform: translate(0,-25%);
	-ms-transform: translate(0,-25%);
	-o-transform: translate(0,-25%);
	transform: translate(0,-25%)
}

.custom-model-box .modal.in .modal-dialog {
	-webkit-transform: translate(0,0);
	-ms-transform: translate(0,0);
	-o-transform: translate(0,0);
	transform: translate(0,0)
}

.custom-model-box .modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto
}

.custom-model-box .modal-dialog {
	position: relative;
	width: auto;
	margin: 10px
}

.custom-model-box .modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: var(--FFFcolor);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}

.custom-model-box .modal-content {
	position: relative;    
	background-color: var(--FFFcolor);    
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid var(--G999color);
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 6px;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
	box-shadow: 0 3px 9px rgba(0,0,0,.5)
}

.custom-model-box .modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000
}

.custom-model-box .modal-backdrop.fade {
	filter: alpha(opacity=0);
	opacity: 0
}

.custom-model-box .modal-backdrop.in {
	filter: alpha(opacity=50);
	opacity: .5
}

.custom-model-box .modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.custom-model-box .modal-header {
	padding: 15px;
	border-bottom: 1px solid #e5e5e5
}

.custom-model-box .modal-header .close {
	font-size: 131.25%; /*1.3125em; /*21*/
	font-weight: 400;
	line-height: 0.5;    
	color: var(--G999color);
	text-shadow: 0 1px 0 var(--FFFcolor);
	margin-top: -2px;
	opacity: 1;
}

.custom-model-box .modal-header button.close {
	padding: 5px;
	border-radius: 50px;
    
	background-color: var(--FFFcolor);
	border: 1px solid #CCCCCC;
}

.custom-model-box .modal-header button.close:hover {
    background-color: #E6E6E6;
    border-color: #ADADAD;
}

.custom-model-box .modal-header button.close span {
	display: block;
	width: 15px;
	height: 15px;
}

.custom-model-box .modal-header h3 {
	font-size: 125%; /*1.25em*/
}

.custom-model-box .modal-header h3 i {
	font-size: 150%; /*1.5em*/
	color: #FFB300;
}

.custom-model-box .modal-title {
	font-size: 125%; /*1.25em*/
	line-height: 1.42857143;
	margin: 0;
}

.custom-model-box .modal-body {
	position: relative;
	padding: 15px
}

.custom-model-box .modal-body h4 {
    font-size: 112.5%; /*1.125em*/
	color: #FF0000;
}

.custom-model-box .modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.custom-model-box .modal-footer {
	padding: 15px;
	text-align: right;
	border-top: 1px solid #e5e5e5
}

.custom-model-box .modal-footer .btn+.btn {
	margin-bottom: 0;
	margin-left: 5px
}

.custom-model-box .modal-footer .btn-group .btn+.btn {
	margin-left: -1px
}

.custom-model-box .modal-footer .btn-block+.btn-block {
	margin-left: 0
}

.custom-model-box .modal-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll
}

@media (min-width:768px) {
	.custom-model-box .modal-dialog {
		width: 600px;
		margin: 30px auto
	}

	.custom-model-box .modal-content {
		-webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
		box-shadow: 0 5px 15px rgba(0,0,0,.5)
	}

	.custom-model-box .modal-sm {
		width: 300px
	}
}
/* ============================================= */
/* ------ 自訂 Model --------------------------- */
/* ============================================= */


/* ============================================= */
/* ------ Fullpage-wrapper --------------------- */
/* ============================================= */
.fullpage-wrapper {
	position: relative;
	width: 100%;
	height: auto;
	/* transform: translate3d(0px, 0px, 0px); */
}
.customize-paddingtop,
.fullpage-wrapper.customize-paddingtop { 
	padding-top: 131px;
}
@media (min-width: 1370px) and (max-width: 1920px) {
    .customize-paddingtop,    
    .fullpage-wrapper.customize-paddingtop {
        padding-top: 131px;
    }
}
@media (min-width: 992px) and (max-width: 1370px) {
    .customize-paddingtop,
    .fullpage-wrapper.customize-paddingtop {
        padding-top: 162px;
    }
}
@media (min-width: 770px) and (max-width: 992px) {
    .customize-paddingtop,
    .fullpage-wrapper.customize-paddingtop {
        padding-top: 117px;
    }
}
@media (min-width: 590px) and (max-width: 770px) {
    .customize-paddingtop,
    .fullpage-wrapper.customize-paddingtop {
        padding-top: 117px;
    }
}
@media (min-width: 540px) and (max-width: 590px) {
    .customize-paddingtop,
    .fullpage-wrapper.customize-paddingtop {
        padding-top: 112px;
    }
}
@media (min-width: 480px) and (max-width: 540px) {
    .customize-paddingtop,
    .fullpage-wrapper.customize-paddingtop {
        padding-top: 109px;
    }
}
@media (min-width: 470px) and (max-width: 480px) {
    .customize-paddingtop,
    .fullpage-wrapper.customize-paddingtop {
        padding-top: 107px;
    }
}
@media (min-width: 460px) and (max-width: 470px) {
    .customize-paddingtop,
    .fullpage-wrapper.customize-paddingtop {
        padding-top: 105px;
    }
}
@media (min-width: 450px) and (max-width: 460px) {
    .customize-paddingtop,
    .fullpage-wrapper.customize-paddingtop {
        padding-top: 104px;
    }
}
@media (min-width: 440px) and (max-width: 450px) {
    .customize-paddingtop,
    .fullpage-wrapper.customize-paddingtop {
        padding-top: 103px;
    }
}
@media (min-width: 430px) and (max-width: 440px) {
    .customize-paddingtop,
    .fullpage-wrapper.customize-paddingtop {
        padding-top: 102px;
    }
}
@media (min-width: 420px) and (max-width: 430px) {
    .customize-paddingtop,
    .fullpage-wrapper.customize-paddingtop {
        padding-top: 101px;
    }
}
@media (min-width: 410px) and (max-width: 420px) {
    .customize-paddingtop,
    .fullpage-wrapper.customize-paddingtop {
        padding-top: 100px;
    }
}
@media (min-width: 400px) and (max-width: 410px) {
    .customize-paddingtop,
    .fullpage-wrapper.customize-paddingtop {
        padding-top: 99px;
    }
}
@media (min-width: 390px) and (max-width: 400px) {
    .customize-paddingtop,
    .fullpage-wrapper.customize-paddingtop {
        padding-top: 97px;
    }
}
@media (min-width: 380px) and (max-width: 390px) {
    .customize-paddingtop,
    .fullpage-wrapper.customize-paddingtop {
        padding-top: 96px;
    }
}
@media (min-width: 370px) and (max-width: 380px) {
    .customize-paddingtop,
    .fullpage-wrapper.customize-paddingtop {
        padding-top: 95px;
    }
}
@media (min-width: 365px) and (max-width: 370px) {
    .customize-paddingtop,
    .fullpage-wrapper.customize-paddingtop {
        padding-top: 93px;
    }
}
@media (min-width: 363px) and (max-width: 365px) {
    .customize-paddingtop,
    .fullpage-wrapper.customize-paddingtop {
        padding-top: 93px;
    }
}
@media (min-width: 320px) and (max-width: 363px) {
    .customize-paddingtop,
    .fullpage-wrapper.customize-paddingtop {
        padding-top: 117px;
    }
}

/* for life_theme_section 作用 */
.life_theme {
	position: relative;
    top: -176px; /*-183px;*/
}

@media (max-width: 991px) {
	.life_theme {
		position: relative;
		top: 15px;
	}
}
/* ============================================= */
/* ------ Fullpage-wrapper --------------------- */
/* ============================================= */


/* ============================================= */
/* ------ layout_padding set ------------------- */
/* ============================================= */
.layout_padding {
    padding-top: 100px;
    padding-bottom: 100px;
}

.layout_padding-top {
    padding-top: 100px;
}

.layout_padding-bottom {
    padding-bottom: 100px;
}

@media (max-width:768px) {
    .layout_padding {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .layout_padding-top {
        padding-top: 50px;
    }

    .layout_padding-bottom {
        padding-bottom: 50px;
    }
}

/* ============================= */
.layout_padding0 {
    padding-top: 0px;
    padding-bottom: 0px;
}

.layout_padding0-top {
    padding-top: 0px;
}

.layout_padding0-bottom {
    padding-bottom: 0px;
}

@media (max-width:768px) {
    .layout_padding0 {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .layout_padding0-top {
        padding-top: 0px;
    }

    .layout_padding0-bottom {
        padding-bottom: 0px;
    }
}

/* ============================= */
.layout_padding1 {
    padding-top: 90px;
    padding-bottom: 90px;
}

.layout_padding1-top {
    padding-top: 90px;
}

.layout_padding1-bottom {
    padding-bottom: 90px;
}

@media (max-width:768px) {
    .layout_padding1 {
        padding-top: 45px;
        padding-bottom: 45px;
    }

    .layout_padding1-top {
        padding-top: 45px;
    }

    .layout_padding1-bottom {
        padding-bottom: 45px;
    }
}

/* ============================= */
.layout_padding2 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.layout_padding2-top {
    padding-top: 60px;
}

.layout_padding2-bottom {
    padding-bottom: 60px;
}

@media (max-width:768px) {
    .layout_padding2 {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .layout_padding2-top {
        padding-top: 30px;
    }

    .layout_padding2-bottom {
        padding-bottom: 30px;
    }
}

/* ============================= */
.layout_padding3 {
    padding-top: 45px;
    padding-bottom: 45px;
}

.layout_padding3-top {
    padding-top: 45px;
}

.layout_padding3-bottom {
    padding-bottom: 45px;
}

@media (max-width:768px) {
    .layout_padding3 {
        padding-top: 22.5px;
        padding-bottom: 22.5px;
    }

    .layout_padding3-top {
        padding-top: 22.5px;
    }

    .layout_padding3-bottom {
        padding-bottom: 22.5px;
    }
}

/* ============================= */
.layout_padding4 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.layout_padding4-top {
    padding-top: 30px;
}

.layout_padding4-bottom {
    padding-bottom: 30px;
}

@media (max-width:768px) {
    .layout_padding4 {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .layout_padding4-top {
        padding-top: 15px;
    }

    .layout_padding4-bottom {
        padding-bottom: 15px;
    }
}

/* ============================= */
.layout_padding_trbl {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

@media (max-width:768px) {
    .layout_padding_trbl {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

/* ============================= */
.layout_padding-rl {
    padding-left: 100px;
    padding-right: 100px;
}

.layout_padding-left {
    padding-left: 100px;
}

.layout_padding-right {
    padding-right: 100px;
}

@media (max-width:768px) {
    .layout_padding-rl {
        padding-left: 50px;
        padding-right: 50px;
    }

    .layout_padding-left {
        padding-left: 50px;
    }

    .layout_padding-right {
        padding-right: 50px;
    }
}

/* ============================= */
.layout_padding-rl-1 {
    padding-left: 90px;
    padding-right: 90px;
}

.layout_padding-rl-1-left {
    padding-left: 90px;
}

.layout_padding-rl-1-right {
    padding-right: 90px;
}

@media (max-width:768px) {
    .layout_padding-rl-1 {
        padding-left: 45px;
        padding-right: 45px;
    }

    .layout_padding-rl-1-left {
        padding-left: 45px;
    }

    .layout_padding-rl-1-right {
        padding-right: 45px;
    }
}

/* ============================= */
.layout_padding_trbl_2 {
    padding-left: 60px;
    padding-right: 60px;
}

.layout_padding-rl-2-left {
    padding-left: 60px;
}

.layout_padding-rl-2-right {
    padding-right: 60px;
}

@media (max-width:768px) {
    .layout_padding-rl-2 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .layout_padding-rl-2-left {
        padding-left: 30px;
    }

    .layout_padding-rl-2-right {
        padding-right: 30px;
    }
}

/* ============================= */
.layout_padding-rl-3 {
    padding-left: 45px;
    padding-right: 45px;
}

.layout_padding-rl-3-left {
    padding-left: 45px;
}

.layout_padding-rl-3-right {
    padding-right: 45px;
}

@media (max-width:768px) {
    .layout_padding-rl-3 {
        padding-left: 22.5px;
        padding-right: 22.5px;
    }

    .layout_padding-rl-3-left {
        padding-left: 22.5px;
    }

    .layout_padding-rl-3-right {
        padding-right: 22.5px;
    }
}

/* ============================= */
.layout_padding-rl-4 {
    padding-left: 30px;
    padding-right: 30px;
}

.layout_padding-rl-4-left {
    padding-left: 30px;
}

.layout_padding-rl-4-right {
    padding-right: 30px;
}

@media (max-width:768px) {
    .layout_padding-rl-4 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .layout_padding-rl-4-left {
        padding-left: 15px;
    }

    .layout_padding-rl-4-right {
        padding-right: 15px;
    }
}
/* ============================================= */
/* ------ layout_padding set ------------------- */
/* ============================================= */


/* ====================================================== */
/* ------ ContentPlaceContent_ContentSubMenu H1~H6 ------ */
/* ------ ContentPlaceContent_ContentConentA H1~H6 ------ */
/* ====================================================== */
#ContentPlaceContent_ContentSubMenu .h1,
#ContentPlaceContent_ContentSubMenu .h2,
#ContentPlaceContent_ContentSubMenu .h3,
#ContentPlaceContent_ContentSubMenu .h4,
#ContentPlaceContent_ContentSubMenu .h5,
#ContentPlaceContent_ContentSubMenu .h6,
#ContentPlaceContent_ContentSubMenu h1,
#ContentPlaceContent_ContentSubMenu h2,
#ContentPlaceContent_ContentSubMenu h3,
#ContentPlaceContent_ContentSubMenu h4,
#ContentPlaceContent_ContentSubMenu h5,
#ContentPlaceContent_ContentSubMenu h6,

#ContentPlaceContent_ContentConentA .h1,
#ContentPlaceContent_ContentConentA .h2,
#ContentPlaceContent_ContentConentA .h3,
#ContentPlaceContent_ContentConentA .h4,
#ContentPlaceContent_ContentConentA .h5,
#ContentPlaceContent_ContentConentA .h6,
#ContentPlaceContent_ContentConentA h1,
#ContentPlaceContent_ContentConentA h2,
#ContentPlaceContent_ContentConentA h3,
#ContentPlaceContent_ContentConentA h4,
#ContentPlaceContent_ContentConentA h5,
#ContentPlaceContent_ContentConentA h6
 {
	margin-bottom: .5rem;
	font-weight: 500;
	line-height: 1.2
}

#ContentPlaceContent_ContentSubMenu .h1,
#ContentPlaceContent_ContentSubMenu h1,
#ContentPlaceContent_ContentConentA .h1,
#ContentPlaceContent_ContentConentA h1 {
	font-size: 200%; /*2em*/
}

#ContentPlaceContent_ContentSubMenu .h2,
#ContentPlaceContent_ContentSubMenu h2,
#ContentPlaceContent_ContentConentA .h2,
#ContentPlaceContent_ContentConentA h2 {
	font-size: 175%; /*1.755em*/
}

#ContentPlaceContent_ContentSubMenu .h3,
#ContentPlaceContent_ContentSubMenu h3,
#ContentPlaceContent_ContentConentA .h3,
#ContentPlaceContent_ContentConentA h3 {
	font-size: 150%; /*1.5em*/
}

#ContentPlaceContent_ContentSubMenu .h4,
#ContentPlaceContent_ContentSubMenu h4,
#ContentPlaceContent_ContentConentA .h4,
#ContentPlaceContent_ContentConentA h4 {
	font-size: 125%; /*1.25em*/
}

#ContentPlaceContent_ContentSubMenu .h5,
#ContentPlaceContent_ContentSubMenu h5,
#ContentPlaceContent_ContentConentA .h5,
#ContentPlaceContent_ContentConentA h5 {
	font-size: 100%; /*1.0em*/
}

#ContentPlaceContent_ContentSubMenu .h6,
#ContentPlaceContent_ContentSubMenu h6,
#ContentPlaceContent_ContentConentA .h6,
#ContentPlaceContent_ContentConentA h6 {
	font-size: 93.75%; /*0.9375em*/
}
/*------------------------------------*/
/* == 活動花絮用 ======================*/
#ContentPlaceContent_ContentSubMenu .h3.title,
#ContentPlaceContent_ContentSubMenu h3.title,
#ContentPlaceContent_ContentConentA .h3.title,
#ContentPlaceContent_ContentConentA h3.title {
	margin-bottom: .5rem;
	font-weight: 500;
	line-height: 1.2;
	padding: 10px 0;	
}

#ContentPlaceContent_ContentSubMenu .h3.title,
#ContentPlaceContent_ContentSubMenu h3.title,
#ContentPlaceContent_ContentConentA .h3.title,
#ContentPlaceContent_ContentConentA h3.title {
	font-size: 100%; /*1.0em*/
}

#ContentPlaceContent_ContentSubMenu a .h3.title,
#ContentPlaceContent_ContentSubMenu a h3.title,
#ContentPlaceContent_ContentConentA a .h3.title,
#ContentPlaceContent_ContentConentA a h3.title {
	color: var(--G333color);
}

#ContentPlaceContent_ContentSubMenu a:hover .h3.title,
#ContentPlaceContent_ContentSubMenu a:hover  h3.title,
#ContentPlaceContent_ContentConentA a:hover  .h3.title,
#ContentPlaceContent_ContentConentA a:hover  h3.title {
	color: var(--Customize_color);
}
/* == 活動花絮用 ======================*/
/*------------------------------------*/

/* ====================================================== */
/* ------ ContentPlaceContent_ContentSubMenu H1~H6 ------ */
/* ------ ContentPlaceContent_ContentConentA H1~H6 ------ */
/* ====================================================== */


/* IMG or Video Play Icon 按鈕圖示 */
body a.palyBtn {    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    position: absolute;
}
body .play-btn {
    position: absolute;
    z-index: 2;
}
body .play-btn > i {
    display:inline-block;
    width: 64px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    background-color: #ab884b;
    color: var(--FFFcolor);
    font-size: 150%;
    border-radius: 50%;
    z-index: 3;
    transition: all ease .4s;
}
body .play-btn:after,
body .media_box .play-btn:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #ab884b;
    z-index: 1;
    border-radius: 50%;
    transition: all ease .4s;
}
body .play-btn:after {
    animation-delay: 2s;
}
body .play-btn:hover > i,
body .play-btn:hover::before,
body .play-btn:hover::after {
    background-color: #f7c56d;
    color: var(--FFFcolor);
}
body .play-btn.style1:before,
body .play-btn.style1:after {
    border: 2px solid #f7c56d;
    background-color: rgba(0,0,0,0);
    animation-name: ripple-md;
}

body .play-btn:after,
body .play-btn:before {
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-name: ripple;
}

/* ========================================================================= */
/* ------ 首頁 CSS BADY 所有內容設定開始 ---- 以上 END ------- */
/* ========================================================================= */







