@charset "utf-8";
/* CSS Document */
/* color: var(--Customize_color); */
/* hover color: #0534a1;*/


/* ============================================= */
/* ------ 登入頁 滑動色塊 ------------------------- */
/* ============================================= */
.shape-right {
    height: 100%;
    width: calc((100vw + 220px)/4);
    background-color: color-mix(in srgb, var(--Customize__shape_color) 100%, transparent); /* 50% 透明 */
    content: "";
    right: 0;
    top: 0;
    z-index: -1;
    position: absolute;
}
@media only screen and (max-width: 1199px) {
    .shape-right {
        width: calc((100vw + 180px)/4);
    }
}
@media only screen and (max-width: 991px) {
    .shape-right {
        width: calc((100vw + 140px)/4);
    }
}
@media only screen and (max-width: 767px) {
    .shape-right {
        width: calc((100vw + 100px)/4);
    }
}
@media only screen and (max-width: 575px) {
    .shape-right {
        width: calc((100vw + 60px)/4);
    }
}
@media only screen and (max-width: 479px) {
    .shape-right {
        width: calc((100vw + 30px)/4);
    }
}
/* ============================================= */
/* ------ 登入頁 滑動色塊 ------------------------- */
/* ============================================= */


/* ============================================= */
/* ------ 新設計註冊頁 --------------------------- */
/* ============================================= */
.Register-section {
    position: relative;    
    width: 100%;
    /*padding-bottom: 110px;*/
    background-color: transparent;
}
@media only screen and (max-width: 1199px) {
}
@media only screen and (max-width: 991px) {
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 575px) {
}
@media only screen and (max-width: 479px) {
}
/* ------------------------------------------------------ */
.Register-section .shape.animation-active {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}
.loaded.Register-section .shape.animation-active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
/* ------------------------------------------------------ */
.Register-section .content-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100%;
    width: 100%;
}
@media only screen and (max-width: 991px) {
    .Register-section .content-wrap {
        display: block;
    }
}
/* ------------------------------------------------------ */
.Register-section .heading-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    
    width: 50%;    
    padding: 50px;
    overflow: hidden;
    
    z-index: 1;
}
.Register-section .heading-content:before {
    height: 100%;
    width: 100%;
    background-color: rgba(9, 64, 194, 0.9);
    content: "";
    left: 0;
    top: 0;
    z-index: -1;
    position: absolute;
}
@media only screen and (max-width: 991px) {
    .Register-section .heading-content {
        width: 100%;
    }
}
@media only screen and (max-width: 575px) {
    .Register-section .heading-content {
        padding: 40px 15px;
    }
}
/* ------------------------------------------------------ */
.Register-section .heading-content .inner-wrap {
    text-align: center;
    max-width: 640px;
    width: 100%;
}
/* ------------------------------------------------------ */
.Register-section .heading-content .logo {
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 25vw;
    max-width: 70vw;
}
@media only screen and (max-width: 1199px) {
    .Register-section .heading-content .logo {
        width: 30.5vw;
    }
}
@media only screen and (max-width: 991px) {
    .Register-section .heading-content .logo {
        width: 40vw;
    }
}
@media only screen and (max-width: 767px) {
    .Register-section .heading-content .logo {
        width: 47vw;
    }
}
@media only screen and (max-width: 575px) {
    .Register-section .heading-content .logo {
        width: 100%;
    }
}
/* ------------------------------------------------------ */
.Register-section .heading-content .logo img {
    width: 100%;
    height: auto;
    max-width: 100%;	
	object-fit: cover;
}
/* ------------------------------------------------------ */
.Register-section .heading-content .main-title {
    font-size: 225%;
    font-weight: bold;
    color: var(--FFFcolor);
    
    margin-bottom: 40px;
}
@media only screen and (max-width: 1199px) {
    .Register-section .heading-content .main-title {
        font-size: 225%;
    }
}
@media only screen and (max-width: 991px) {
    .Register-section .heading-content .main-title {
        font-size: 200%;
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 767px) {
    .Register-section .heading-content .main-title {
        font-size: 187.5%;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 575px) {
    .Register-section .heading-content .main-title {
        font-size: 175%;
        margin-bottom: 10px;
    }
}
/* ------------------------------------------------------ */
.Register-section .heading-content .main-title-en {
    font-size: 150.0%;
    font-weight: 500;
    color: var(--FFFcolor);
    
    margin-bottom: 60px;
}
@media only screen and (max-width: 1199px) {
    .Register-section .heading-content .main-title-en {
        font-size: 137.5%;
    }
}
@media only screen and (max-width: 991px) {
    .Register-section .heading-content .main-title-en {
        font-size: 125.0%;
        margin-bottom: 50px;
    }
}
@media only screen and (max-width: 767px) {
    .Register-section .heading-content .main-title-en {
        font-size: 112.5%;
        margin-bottom: 40px;
    }
}
@media only screen and (max-width: 575px) {
    .Register-section .heading-content .main-title-en {
        font-size: 106.25%;
        margin-bottom: 30px;
    }
}
/* ------------------------------------------------------ */
.Register-section .heading-content .login-option {
    max-width: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.Register-section .heading-content .login-option ul {
    text-align: center;
}

.Register-section .heading-content .login-option ul li {
    margin-bottom: 15px;
}
.Register-section .heading-content .login-option ul li:last-child {
    margin-bottom: 0;
}

.Register-section .heading-content .login-option ul li a {
    display: block;
    font-size: 106.25%;
    color: var(--FFFcolor);
    width: 100%;
    padding: 15px;
    border: 1px solid;
    border-color: #5984e8;
    
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.Register-section .heading-content .login-option ul li a:hover {
    background-color: var(--FFFcolor);
    color: #14133b;
}
@media only screen and (max-width: 1199px) {
    .Register-section .heading-content .login-option ul li a {
        font-size: 100%;
        padding: 14px;
    }
}
@media only screen and (max-width: 991px) {
    .Register-section .heading-content .login-option ul li a {
        font-size: 93.75%;
        padding: 13px;
    }
}
@media only screen and (max-width: 767px) {
    .Register-section .heading-content .login-option ul li a {
        font-size: 87.5%;
        padding: 12px;
    }
}
@media only screen and (max-width: 575px) {
    .Register-section .heading-content .login-option ul li a {
        font-size: 81.25%;
        padding: 11px;
    }
}
/* ------------------------------------------------------ */
.Register-section .form-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;    
    
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9); 
    -webkit-box-shadow: 0 3px 79px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 3px 79px 0 rgba(0, 0, 0, 0.08);
}
@media only screen and (max-width: 991px) {
}
/* ------------------------------------------------------ */
.Register-section .form-content .page-switcher {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    
    padding: 50px 50px 0 50px;    
}
@media only screen and (max-width: 575px) {
    .Register-section .form-content .page-switcher {
        padding: 40px 15px 0;
    }
}
/* ------------------------------------------------------ */
.Register-section .form-content .page-switcher .switcher-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    margin-bottom: 20px;
}
/* ------------------------------------------------------ */
.Register-section .form-content .page-switcher .switcher-wrap li:first-child .switcher-btn {
    border-left: 1px solid;
    border-color: var(--blackcolor);
}
.Register-section .form-content .page-switcher .switcher-wrap li:first-child .switcher-btn:hover,
.Register-section .form-content .page-switcher .switcher-wrap li:first-child .switcher-btn.active {
    border-color: var(--Customize_HRcolor);
}
.Register-section .form-content .page-switcher .switcher-wrap li:last-child .switcher-btn {
    border-right: 1px solid;
    border-color: var(--blackcolor);
}
.Register-section .form-content .page-switcher .switcher-wrap li:last-child .switcher-btn:hover,
.Register-section .form-content .page-switcher .switcher-wrap li:last-child .switcher-btn.active {
    border-color: var(--Customize_HRcolor);
}
/* ------------------------------------------------------ */
.Register-section .form-content .page-switcher .switcher-btn {
    display: block;
    font-size: 93.75%;
    color: var(--blackcolor);
    
    padding: 9px 27px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: var(--blackcolor);    
    
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.Register-section .form-content .page-switcher .switcher-btn:hover {
    color: var(--Customize_HRcolor);
}
.Register-section .form-content .page-switcher .switcher-btn.active {
    background-color: var(--Customize_HRcolor);
    color: var(--FFFcolor);
    border-color: var(--Customize_HRcolor);
}
@media only screen and (max-width: 1199px) {
    .Register-section .fxt-form-content .page-switcher .switcher-btn {
        font-size: 93.75%;
        padding: 8px 25px;
    }
}
@media only screen and (max-width: 991px) {
    .Register-section .form-content .page-switcher .switcher-btn {
        font-size: 87.5%;
        padding: 7px 23px;
    }
}
@media only screen and (max-width: 767px) {
    .Register-section .form-content .page-switcher .switcher-btn {
        font-size: 81.25%;
        padding: 6px 21px;
    }
}
/* ------------------------------------------------------ */
.Register-section .form-content .page-title {
    font-size: 200%;
    font-weight: 700;
    color: var(--blackcolor);
    margin-bottom: 15px;    
}
@media only screen and (max-width: 1199px) {
    .Register-section .form-content .page-title {
        font-size: 187.5%;
    }
}
@media only screen and (max-width: 991px) {
    .Register-section .form-content .page-title {
        font-size: 175.0%;
    }
}
@media only screen and (max-width: 767px) {
    .Register-section .form-content .page-title {
        font-size: 162.5%;
    }
}
@media only screen and (max-width: 575px) {
    .Register-section .form-content .page-title {
        font-size: 150.0%;
    }
}
@media only screen and (max-width: 479px) {
    .Register-section .form-content .page-title {
        font-size: 137.5%;
    }
}
/* ------------------------------------------------------ */
.Register-section .form-content .description {
    font-size: 106.25%;
    font-weight: 500;
    margin-bottom: 30px;
}
/* ------------------------------------------------------ */
.Register-section .form-content .label {
    font-size: 112.5%;
    font-weight: 700;
    color: #14133b;    
    margin-bottom: 12px;
}
/* ------------------------------------------------------ */
.Register-section .form-content .main-form {
    padding: 30px 50px 20px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    height: 100%;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
}
@media only screen and (max-width: 991px) {
    .Register-section .form-content .main-form {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}
@media only screen and (max-width: 575px) {
    .Register-section .form-content .main-form {
        padding: 20px 15px 10px;
    }
}
/* ------------------------------------------------------ */
.Register-section .form-content .Basic_InfoBOX,
.Register-section .form-content .My_PlanBOX,
.Register-section .form-content .ButtonBOX {
    position: relative;
    width: 100%;
}
/* ------------------------------------------------------ */
.Register-section .form-content .inner-wrap {
    /*max-width: 440px;*/
    width: 100%;
}
/* ------------------------------------------------------ */
.Register-section .form-content .form-group {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 20px;
}
/* ------------------------------------------------------ */
.Register-section .form-content .form-group .field-icon {
    position: absolute;
    bottom: 18px;
    right: 19px;    
    font-size: 87.5%;
    color: #a1a1a1;
    z-index: 1;
}
.Register-section .form-content .form-group .field-icon:before {
    padding: 17px 10px;
}
/* ------------------------------------------------------ */
.Register-section .form-content input.form-control,
.Register-section .form-content select.form-control {
    font-size: 93.75%;
    color: #4d4d4d;
    /*min-height: 50px;*/
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    padding: 10px 15px;
    
    border-radius: 0;
    background-color: transparent;
    border-bottom: 1px solid var(--G999color);    
    transition: background-color 0.25s ease;
}
@media only screen and (max-width: 1199px) {
    .Register-section .form-content input.form-control,
    .Register-section .form-content select.form-control {
        font-size: 93.75%;
    }
}
@media only screen and (max-width: 991px) {
    .Register-section .form-content input.form-control,
    .Register-section .form-content select.form-control {
        font-size: 87.5%;
    }
}
@media only screen and (max-width: 767px) {
    .Register-section .form-content input.form-control,
    .Register-section .form-content select.form-control {
        font-size: 87.5%;
    }
}
@media only screen and (max-width: 575px) {
    .Register-section .form-content input.form-control,
    .Register-section .form-content select.form-control {
        font-size: 87.5%;
    }
}

.Register-section .form-content label.i-label {
    position: relative;
    top: -36px;
    font-size: 100%;
    color: #4d4d4d;
    pointer-events: none;
    transition: all 0.25s ease;
    font-weight: 400;
    margin-bottom: 0;
}
@media only screen and (max-width: 1199px) {
    .Register-section .form-content label.i-label {
        font-size: 93.75%;
    }
}
@media only screen and (max-width: 991px) {
    .Register-section .form-content label.i-label {
        font-size: 87.5%;
    }
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 575px) {
}

/* 輸入框*/
.Register-section .form-content input.form-control:focus,
.Register-section .form-content input.form-control:not(:placeholder-shown), 
.Register-section .form-content input.form-control:-webkit-autofill {
    border-bottom: 1px solid var(--Customize_color);
}

/* 輸入框 label 文字 */
.Register-section .form-content input.form-control:focus + label.i-label,
.Register-section .form-content input.form-control:not(:placeholder-shown) + label.i-label,
.Register-section .form-content input.form-control:-webkit-autofill + label.i-label {
    color: var(--Customize_color);
    top: -60px;
}
@media only screen and (max-width: 1199px) {
    .Register-section .form-content input.form-control:focus + label.i-label,
    .Register-section .form-content input.form-control:not(:placeholder-shown) + label.i-label,
    .Register-section .form-content input.form-control:-webkit-autofill + label.i-label {
        top: -58px;
    }
}
@media only screen and (max-width: 991px) {
    .Register-section .form-content input.form-control:focus + label.i-label,
    .Register-section .form-content input.form-control:not(:placeholder-shown) + label.i-label,
    .Register-section .form-content input.form-control:-webkit-autofill + label.i-label {
        top: -53px;
    }
}
/* ------------------------------------------------------ */
.Register-section .form-content input::-webkit-input-placeholder {
    color: #acacac;
    font-size: 100%;
    font-weight: 400;
}
.Register-section .form-content input::-moz-placeholder {
    color: #acacac;
    font-size: 100%;
    font-weight: 400;
}
.Register-section .form-content input:-moz-placeholder {
    color: #acacac;
    font-size: 100%;
    font-weight: 400;
}
.Register-section .form-content input:-ms-input-placeholder {
    color: #acacac;
    font-size: 100%;
    font-weight: 400;
}

/* ------------------------------------------------------ */
.Register-section .form-content select.form-control {
    font-size: 100%;
    color: #4d4d4d;
    /*min-height: 50px;*/
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    padding: 10px 12px;
    
    border-radius: 0;
    background-color: transparent;
    border-bottom: 1px solid var(--G999color);    
    transition: background-color 0.25s ease;
}
@media only screen and (max-width: 1199px) {
    .Register-section .form-content select.form-control {
        font-size: 93.75%;
    }
}
@media only screen and (max-width: 991px) {
    .Register-section .form-content select.form-control {
        font-size: 87.5%;
    }
}
@media only screen and (max-width: 767px) {
    .Register-section .form-content select.form-control {
        font-size: 81.25%;
    }
}
@media only screen and (max-width: 575px) {
    .Register-section .form-content select.form-control {
        font-size: 81.25%;
    }
}

.Register-section .form-content label.S-i-label {
    position: relative;
    /*top: -36px;*/
    font-size: 100%;
    color: #4d4d4d;
    pointer-events: none;
    transition: all 0.25s ease;
    font-weight: 400;
    margin-bottom: 0;
}
@media only screen and (max-width: 1199px) {
    .Register-section .form-content label.S-i-label {
        font-size: 93.75%;
    }
}
@media only screen and (max-width: 991px) {
    .Register-section .form-content label.S-i-label {
        font-size: 87.5%;
    }
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 575px) {
}

/* 下拉選項*/
.Register-section .form-content select.form-control:focus,
.Register-section .form-content select.form-control:not(:placeholder-shown), 
.Register-section .form-content select.form-control:-webkit-autofill {
    border-bottom: 1px solid var(--G999color);
}

/* 下拉選項 label 文字 */
.Register-section .form-content select.form-control:focus + label.S-i-label,
.Register-section .form-content select.form-control:not(:placeholder-shown) + label.S-i-label,
.Register-section .form-content select.form-control:-webkit-autofill + label.S-i-label {
    color: #4d4d4d;
    top: -60px;
}
@media only screen and (max-width: 1199px) {
    .Register-section .form-content select.form-control:focus + label.S-i-label,
    .Register-section .form-content select.form-control:not(:placeholder-shown) + label.S-i-label,
    .Register-section .form-content select.form-control:-webkit-autofill + label.S-i-label {
        top: -50px;
    }
}
@media only screen and (max-width: 991px) {
    .Register-section .form-content select.form-control:focus + label.S-i-label,
    .Register-section .form-content select.form-control:not(:placeholder-shown) + label.S-i-label,
    .Register-section .form-content select.form-control:-webkit-autofill + label.S-i-label {
        top: -50px;
    }
}
.BColor {
    color: var(--a_linkcolor) !important;
}
/* ------------------------------------------------------ */
.Register-section .form-content a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.Register-section .form-content a .btn-fill {
    display: inline-block;
    font-size: 106.25%;
    font-weight: 500;
    color: var(--FFFcolor);
    cursor: pointer;
    padding: 10px 36px;
    width: 100%;   
    
    /*outline: none;*/
    border: 1px solid;
    border-color: var(--Customize_Btn_color);
    
    border-radius: 3px;
    background-color: var(--Customize_Btn_color);

    -webkit-box-shadow: none;
    box-shadow: none;
        
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.Register-section .form-content a:hover .btn-fill {
	color: var(--FFFcolor);
    background-color: var(--Customize_Btn_HRcolor);
    border-color: var(--Customize_Btn_HRcolor);
}
.Register-section .form-content a:focus .btn-fill {
	text-decoration: none;    
	outline: thin dotted;
    outline: 1px solid var(--a_focusbordercolor);
	outline-offset: 0px;    
    color: var(--blackcolor) !important;
	background-color: var(--a_focuscolor) !important;
    /*outline: none;*/
}
@media only screen and (max-width: 991px) {
    .Register-section .form-content a .btn-fill {
        font-size: 100%;
        padding: 10px 32px;
    }
}
@media only screen and (max-width: 767px) {
    .Register-section .form-content a .btn-fill {
        font-size: 93.75%;
        padding: 9px 28px;
    }
}
/* ------------------------------------------------------ */
.Register-section .form-content .switcher-description {
    text-align: center;
    font-size: 93.75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: var(--G555color);
    margin-bottom: 10px;
}
@media only screen and (max-width: 1199px) {
    .Register-section .form-content .switcher-description {
        font-size: 93.75%;
    }
}
@media only screen and (max-width: 991px) {}
/* ------------------------------------------------------ */
.Register-section .form-content .switcher-text {
    display: inline-block;
    font-size: 93.75%;
    font-weight: 500;
    text-decoration: underline;
    color: #1b52d2;
    cursor: pointer;
    
    padding: 0;
    margin-bottom: 5px;
    border: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 1199px) {
    .Register-section .form-content .switcher-text {
        font-size: 87.5%;
    }
}
@media only screen and (max-width: 991px) {}
/* ------------------------------------------------------ */
.Register-section .form-content .switcher-text:hover {
    color: #06339e;
}
.Register-section .form-content .switcher-text:focus {
    outline: none;
}
/* ------------------------------------------------------ */
.Register-section .form-content .checkbox-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;    
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;    
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    
    margin-bottom: 45px;
}
/* ------------------------------------------------------ */
.Register-section .form-content .checkbox-box {
    margin-bottom: 5px;
}
.Register-section .form-content .checkbox-box label {
    position: relative;
    font-size: 93.75%;
    color: var(--G555color);
    margin-bottom: 0;
}
@media only screen and (max-width: 1199px) {
    .Register-section .form-content .checkbox-box label {
        font-size: 87.5%;
    }
}
@media only screen and (max-width: 991px) {}

.Register-section .form-content .checkbox-box label:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 2px;
    left: 0;
    right: 0;
    border: 1px solid;
    border-color: var(--G777color);
    border-radius: 3px;
    background-color: var(--FFFcolor);
    
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
@media only screen and (max-width: 575px) {
    .Register-section .form-content .checkbox-box label:before {
        top: 1px;
    }
}
/* ------------------------------------------------------ */
.Register-section .form-content .checkbox-box label:after {
    position: absolute;
    font-size: 62.5%;
    color: var(--G555color);
}
/* ------------------------------------------------------ */
.Register-section .form-content .checkbox-box input[type="checkbox"] {
    display: none;
}
.Register-section .form-content .checkbox-box input[type="checkbox"]:checked+label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
    font-weight: 500;
    color: var(--FFFcolor);
    left: 0;
    right: 0;
    top: 3px;
    width: 16px;
    text-align: center;
}
.Register-section .form-content .checkbox-box input[type="checkbox"]:checked+label::before {
    background-color: var(--Customize_color);
    border-color: var(--Customize_color);
}
/* ------------------------------------------------------ */
.Register-section .form-content .otp-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 45px;
}
/* ------------------------------------------------------ */
.Register-section .form-content .otp-row .otp-col {
    padding: 10px 5px;
    text-align: center;
    margin-right: 30px;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.Register-section .form-content .otp-row .otp-col:last-child {
    margin-right: 0;
}
.Register-section .form-content .otp-btn {
    margin-bottom: 45px;
}
/* ------------------------------------------------------ */

/* ============================================= */
/* ------ 新設計註冊頁 --------------------------- */
/* ============================================= */




