/* ====================================================== */
/* =====  內頁  404錯誤  ================================= */
/* ====================================================== */
.error-area {
	position: relative;
}
/*----------------------------------------------*/
.error-area .space {
	padding-top: 120px;
}
@media (max-width: 991px) {
	.error-area .space {
		padding-top: 80px;
	}
}
/*----------------------------------------------*/
.error-area .error-thumb {
	margin-bottom: 60px;
}
.error-area .error-thumb img {
	max-width: 50%;
	height: auto;
	object-fit: cover;
}
@media (max-width: 991px) {
	.error-area .error-thumb img {
		max-width: 75%;
	}
}
/*----------------------------------------------*/
.error-area .title-area {
	position: relative;
	margin-bottom: calc(60px - 17px);	
	z-index: 2;
}
/*----------------------------------------------*/
.error-area .tw-title,
.error-area .en-title {
	position: relative;
	display: inline-block;		
	font-weight: 600;
	overflow: hidden;
	width: 100%;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
	gap: 30px;
}
.error-area .tw-title {
	font-size: 300%;
}
@media (max-width: 1399px) {
	.error-area .tw-title {
		font-size: 262.5%;
	}
}
@media (max-width: 1199px) {
	.error-area .tw-title {
		font-size: 225.0%;
	}
}
@media (max-width: 767px) {
	.error-area .tw-title {
		font-size: 200%;
	}
}
@media (max-width: 390px) {
	.error-area .tw-title {
		font-size: 175.0%;
	}
}
/*----------------------------------------------*/
.error-area .en-title {
	font-size: 250%;
}
@media (max-width: 1399px) {
	.error-area .en-title {
		font-size: 212.5%;
	}
}
@media (max-width: 1199px) {
	.error-area .en-title {
		font-size: 225.0%;
	}
}
@media (max-width: 767px) {
	.error-area .en-title {
		font-size: 187.5%;
	}
}
@media (max-width: 390px) {
	.error-area .en-title {
		font-size: 162.5%;
	}
}
/*----------------------------------------------*/
.error-area a.btn.btn-error-color {
	font-size: 112.5%;
	font-weight: 900;
	border-radius: 50px !important;
	margin-top: 3rem;
	padding: 0.5rem 1.25rem;
}
.error-area a.btn.btn-error-color {
	/* color: var(--FFFcolor) !important; */
	color: #FFF !important;
	/* background-color: var(--Customize_color) !important; */
	background-color: #9D6038 !important;
}

.error-area a:hover.btn.btn-error-color {
	/* background-color: var(--Customize_HRcolor) !important; */
	background-color: #292929 !important;
}

@media (max-width: 1399px) {
	.error-area a.btn.btn-error-color {
		font-size: 105%;
	}
}
@media (max-width: 1199px) {
	.error-area a.btn.btn-error-color {
		font-size: 100%;
	}
}
@media (max-width: 767px) {
	.error-area a.btn.btn-error-color {
		font-size: 95%;
	}
}
@media (max-width: 390px) {
	.error-area a.btn.btn-error-color {
		font-size: 90%;
	}
}
/* ====================================================== */
/* =====  內頁  404錯誤  ================================= */
/* ====================================================== */