:root {
	--Customize_color: #96662a;
	--Customize_color02: #402210;
	--Customize_HRcolor: #96662a;
	--Customize_ACcolor: #96662a;
	--Customize_FCcolor: #96662a;
	--Customize_Footercolor: #000000;
	--Customize_BGcolor: #f3f1ea;
	
	/* =================================== */
	
	--Customize_TXTcolor: #000000;
	--Customize_TXTHRcolor: #96662a;
	--Customize_SUB_TITLEcolor: #ffb250;
	--Customize_moreHRcolor: #ff4e00;
	
	/* =================================== */
	
	--Customize_Btn_color: #000000;
	--Customize_Btn_HRcolor: #96662a;
	--Customize_border_color: #00305c;
} 

:root {
	--a_linkcolor: #0b5ed7;
	--a_linkHRcolor: #0a58ca;
	--a_focuscolor: #FFBD40;
	--a_focusbordercolor: #43B5FC;
}

/* 登入 + 註冊 */
:root {
	--Customize__shape_color: #6d4310; /*#906323 - HSB-(B減10%)*/
}


