@charset "utf-8";
/* CSS Document */
/* color: #6552f7; */
/* ======================= */
/* -------------------------

**	Container-Custom
**	表單 ( form-control / input / Label )
**	內頁左邊選單 / 內頁上邊選單
**	自訂 共用 - 按鈕
**	自訂 Model ( 互動視窗 )
**	Fullpage-wrapper
**	layout_padding set
**	標準標題 STYLE-0
**	自訂標題 STYLE-1
**	自訂標題 STYLE-2
**	ContentPlaceContent_ContentSubMenu H1~H6
**	ContentPlaceContent_ContentConentA H1~H6

-------------------------- */
/* ======================= */


@import url(http://fonts.googleapis.com/css?family=Roboto);


* {
	font-family: "open sans","微軟正黑體",sans-serif;
}

a, 
a:hover {
    text-decoration: none;
}
a:focus {
    text-decoration: none;
    outline: 2px solid #43B5FC;
	outline:thin dotted;
	outline-offset: -2px;
}
[tabindex="-1"]:focus:not(:focus-visible) {
	text-decoration: none;
    outline: 2px solid #43B5FC !important;
	outline: thin dotted !important;
	outline-offset: -2px;
}
img {
    max-width: 100%;
    height: auto;
}
.list-group {
    list-style: none;
}

.pad {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
@media (max-width: 1305px) {
	.pad {
		padding-top: 0rem;
		padding-bottom: 0rem;
	}
}

.bg_area {
	position: relative; 
	z-index: 16; 
	background-color: transparent;  /*efefef*/
	background-size: auto; 
	background-repeat: no-repeat; 
	/*background-position: bottom;*/
	/*background-image: url(images/bg/main_background-image_1903x4000.png)*/
}

/*.fixed-top {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}*/



/* ============================================= */
/* ------ Container-Custom --------------------- */
/* ============================================= */
.container,.container-fluid,.container-lg,.container-md,.container-sm,.container-xl {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}

@media (min-width:576px) {
	.container,.container-sm {
		max-width: 540px
	}
}

@media (min-width:768px) {
	.container,.container-md,.container-sm {
		max-width: 720px
	}
}

@media (min-width:992px) {
	.container,.container-lg,.container-md,.container-sm {
		max-width: 960px
	}
}

@media (min-width:1200px) {
	.container,.container-lg,.container-md,.container-sm,.container-xl {
		max-width: 1170px; /*1140*/
	}
}

@media (min-width: 1200px) {
  .container-custom {
    max-width: 1500px; /*1170 / 1500*/
  }
}

.container-custom {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* ============================================= */
/* ------ Container-Custom --------------------- */
/* ============================================= */


/* ============================================= */
/* ------ 表單所有 ( 以下 ) ---------------------- */
/* ============================================= */
.required {
	color: red;
	font-size: 87.5%; /*0.875em*/
	margin-left: 5px;
}

.y-required {
	color: yellow;
	font-size: 87.5%; /*0.875em*/
	margin-left: 5px;
}

.col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}

.form-control:not(.form-control-lg):not(.form-control-sm), 
.swal-modal input.swal-content__input:not(.form-control-lg):not(.form-control-sm) {
    height: -webkit-calc(1.5em + .75rem + 3px);
    height: -moz-calc(1.5em + .75rem + 3px);
    height: calc(1.5em + .75rem + 3px);
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


/* ============================================= */
/* ------ 自訂 勾選開關 ------------------------- */
.form-check-input {
    position: absolute;
    margin-top: 0.65rem; /*.3rem*/
    margin-left: 0rem; /*-1.25rem*/
}

.form-check-input {
	padding-top: calc(.375rem + 1px);
	padding-bottom: calc(.375rem + 1px);
	margin-bottom: 0;
	font-size: inherit;
	line-height: 1.5;
	width: 18px;
	height: 18px;
}

.custom-check-label {
	padding-top: calc(.375rem + 1px);
	padding-bottom: calc(.375rem + 1px);
	margin-bottom: 0;
	font-size: inherit;
	line-height: 1.5;
}

.custom-check-label span.check-txt {
    margin-left: 1.5rem;
}
/* ------ 自訂 勾選開關 ------------------------- */
/* ============================================= */


/* ============================================= */
/* ------ 自訂 輸入區 --------------------------- */
textarea.custom-form-control-height-lg {
    height: auto !important;
}
/* ------ 自訂 輸入區 --------------------------- */
/* ============================================= */

.questionnaire-block-box {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 100%; /*1em*/
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.block-linebox {
    display: block;
    width: 100%;    
    padding: .375rem .75rem;
    font-size: 100%; /*1em*/
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
/* ============================================= */
/* ------ 表單所有 ( 以上 ) ---------------------- */
/* ============================================= */



/* ============================================= */
/* ------ 自訂 按鈕 ----------------------------- */
/* ============================================= */
.btn {
    position: relative;	
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn.btn-rounded {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.btn.btn-custom-0 {
    color: #333;
    background-color: #fff;
	border-color: #ccc;
}

.btn.btn-custom-0:hover {
    /*color: #333;*/ /*標準*/
    /*background-color: #e6e6e6;*/ /*標準*/
    /*border-color: #adadad;*/ /*標準*/	
	color: #FFF;
	background-color: #03440c;
	border-color: #03440c;
}

.btn.btn-custom-1 {
    color: #03440c;
    background-color: #FFFFFF;
	border-color: #03440c;
	padding: 10px 60px;
}

.btn.btn-custom-1:focus {
	text-decoration: none;
	outline: 2px solid #43B5FC;
	outline-offset: -2px;
}

.btn.btn-custom-1:hover {
    /*color: #333;*/ /*標準*/
    /*background-color: #e6e6e6;*/ /*標準*/
    /*border-color: #adadad;*/ /*標準*/	
	color: #FFF;
	background-color: #03440c;
	border-color: #03440c;
}
/* ============================================= */
/* ------ 自訂 按鈕 ----------------------------- */
/* ============================================= */


/* ============================================= */
/* ------ 自訂 Model --------------------------- */
/* ============================================= */
.custom-model-box {
	position: relative;
	display: block;
}

.custom-model-box .modal-open {
	overflow: hidden
}

.custom-model-box .modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	display: none;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	outline: 0
}

.custom-model-box .modal.fade .modal-dialog {
	-webkit-transition: -webkit-transform .3s ease-out;
	-o-transition: -o-transform .3s ease-out;
	transition: transform .3s ease-out;
	-webkit-transform: translate(0,-25%);
	-ms-transform: translate(0,-25%);
	-o-transform: translate(0,-25%);
	transform: translate(0,-25%)
}

.custom-model-box .modal.in .modal-dialog {
	-webkit-transform: translate(0,0);
	-ms-transform: translate(0,0);
	-o-transform: translate(0,0);
	transform: translate(0,0)
}

.custom-model-box .modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto
}

.custom-model-box .modal-dialog {
	position: relative;
	width: auto;
	margin: 10px
}

.custom-model-box .modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}

.custom-model-box .modal-content {
	position: relative;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #999;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 6px;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
	box-shadow: 0 3px 9px rgba(0,0,0,.5)
}

.custom-model-box .modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000
}

.custom-model-box .modal-backdrop.fade {
	filter: alpha(opacity=0);
	opacity: 0
}

.custom-model-box .modal-backdrop.in {
	filter: alpha(opacity=50);
	opacity: .5
}

.custom-model-box .modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.custom-model-box .modal-header {
	padding: 15px;
	border-bottom: 1px solid #e5e5e5
}

.custom-model-box .modal-header .close {
	font-size: 131.25%; /*1.3125em; /*21*/
	font-weight: 400;
	line-height: 0.5;
	color: #959595;
	text-shadow: 0 1px 0 #fff;
	margin-top: -2px;
	opacity: 1;
}

.custom-model-box .modal-header button.close {
	padding: 5px;
	border-radius: 50px;
	background-color: #fff;
	border: 1px solid #ccc;
}

.custom-model-box .modal-header button.close:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
}

.custom-model-box .modal-header button.close span {
	display: block;
	width: 15px;
	height: 15px;
}

.custom-model-box .modal-header h3 {
	font-size: 125%; /*1.25em*/
}

.custom-model-box .modal-header h3 i {
	font-size: 150%; /*1.5em*/
	color: #FFB300;
}

.custom-model-box .modal-title {
	font-size: 125%; /*1.25em*/
	line-height: 1.42857143;
	margin: 0;
}

.custom-model-box .modal-body {
	position: relative;
	padding: 15px
}

.custom-model-box .modal-body h4 {
    font-size: 112.5%; /*1.125em*/
	color: #FF0000;
}

.custom-model-box .modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.custom-model-box .modal-footer {
	padding: 15px;
	text-align: right;
	border-top: 1px solid #e5e5e5
}

.custom-model-box .modal-footer .btn+.btn {
	margin-bottom: 0;
	margin-left: 5px
}

.custom-model-box .modal-footer .btn-group .btn+.btn {
	margin-left: -1px
}

.custom-model-box .modal-footer .btn-block+.btn-block {
	margin-left: 0
}

.custom-model-box .modal-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll
}

@media (min-width:768px) {
	.custom-model-box .modal-dialog {
		width: 600px;
		margin: 30px auto
	}

	.custom-model-box .modal-content {
		-webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
		box-shadow: 0 5px 15px rgba(0,0,0,.5)
	}

	.custom-model-box .modal-sm {
		width: 300px
	}
}
/* ============================================= */
/* ------ 自訂 Model --------------------------- */
/* ============================================= */


/* ============================================= */
/* ------ Fullpage-wrapper --------------------- */
/* ============================================= */
.fullpage-wrapper {
	position: relative;
	width: 100%;
	height: auto;
	/* transform: translate3d(0px, 0px, 0px); */
}
.fullpage-wrapper.paddingtop-120 { 
	padding-top: 120px;
}
@media (min-width: 1322px) and (max-width: 1920px) {
  .fullpage-wrapper.paddingtop-120 {
    padding-top: 120px;
  }
}

@media (min-width: 992px) and (max-width: 1321px) {
  .fullpage-wrapper.paddingtop-120 {
    padding-top: 139px;
  }
}
@media (min-width: 770px) and (max-width: 991px) {
  .fullpage-wrapper.paddingtop-120 {
    padding-top: 104px;
  }
}

@media (min-width: 522px) and (max-width: 769px) {
  .fullpage-wrapper.paddingtop-120 {
    padding-top: 132px;
  }
}

@media (max-width: 521px) {
  .fullpage-wrapper.paddingtop-120 {
    padding-top: 132px;
  }
}

/* for life_theme_section 作用 */
.life_theme {
	position: relative;
    top: -176px; /*-183px;*/
}

@media (max-width: 991px) {
	.life_theme {
		position: relative;
		top: 15px;
	}
}
/* ============================================= */
/* ------ Fullpage-wrapper --------------------- */
/* ============================================= */


/* ============================================= */
/* ------ layout_padding set ------------------- */
/* ============================================= */
.layout_padding {
    padding-top: 100px;
    padding-bottom: 100px;
}

.layout_padding-top {
    padding-top: 100px;
}

.layout_padding-bottom {
    padding-bottom: 100px;
}

@media (max-width:768px) {
    .layout_padding {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .layout_padding-top {
        padding-top: 50px;
    }

    .layout_padding-bottom {
        padding-bottom: 50px;
    }
}

/* ============================= */
.layout_padding0 {
    padding-top: 0px;
    padding-bottom: 0px;
}

.layout_padding0-top {
    padding-top: 0px;
}

.layout_padding0-bottom {
    padding-bottom: 0px;
}

@media (max-width:768px) {
    .layout_padding0 {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .layout_padding0-top {
        padding-top: 0px;
    }

    .layout_padding0-bottom {
        padding-bottom: 0px;
    }
}

/* ============================= */
.layout_padding1 {
    padding-top: 90px;
    padding-bottom: 90px;
}

.layout_padding1-top {
    padding-top: 90px;
}

.layout_padding1-bottom {
    padding-bottom: 90px;
}

@media (max-width:768px) {
    .layout_padding1 {
        padding-top: 45px;
        padding-bottom: 45px;
    }

    .layout_padding1-top {
        padding-top: 45px;
    }

    .layout_padding1-bottom {
        padding-bottom: 45px;
    }
}

/* ============================= */
.layout_padding2 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.layout_padding2-top {
    padding-top: 60px;
}

.layout_padding2-bottom {
    padding-bottom: 60px;
}

@media (max-width:768px) {
    .layout_padding2 {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .layout_padding2-top {
        padding-top: 30px;
    }

    .layout_padding2-bottom {
        padding-bottom: 30px;
    }
}

/* ============================= */
.layout_padding3 {
    padding-top: 45px;
    padding-bottom: 45px;
}

.layout_padding3-top {
    padding-top: 45px;
}

.layout_padding3-bottom {
    padding-bottom: 45px;
}

@media (max-width:768px) {
    .layout_padding3 {
        padding-top: 22.5px;
        padding-bottom: 22.5px;
    }

    .layout_padding3-top {
        padding-top: 22.5px;
    }

    .layout_padding3-bottom {
        padding-bottom: 22.5px;
    }
}

/* ============================= */
.layout_padding4 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.layout_padding4-top {
    padding-top: 30px;
}

.layout_padding4-bottom {
    padding-bottom: 30px;
}

@media (max-width:768px) {
    .layout_padding4 {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .layout_padding4-top {
        padding-top: 15px;
    }

    .layout_padding4-bottom {
        padding-bottom: 15px;
    }
}

/* ============================= */
.layout_padding_trbl {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

@media (max-width:768px) {
    .layout_padding_trbl {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

/* ============================= */
.layout_padding-rl {
    padding-left: 100px;
    padding-right: 100px;
}

.layout_padding-left {
    padding-left: 100px;
}

.layout_padding-right {
    padding-right: 100px;
}

@media (max-width:768px) {
    .layout_padding-rl {
        padding-left: 50px;
        padding-right: 50px;
    }

    .layout_padding-left {
        padding-left: 50px;
    }

    .layout_padding-right {
        padding-right: 50px;
    }
}

/* ============================= */
.layout_padding-rl-1 {
    padding-left: 90px;
    padding-right: 90px;
}

.layout_padding-rl-1-left {
    padding-left: 90px;
}

.layout_padding-rl-1-right {
    padding-right: 90px;
}

@media (max-width:768px) {
    .layout_padding-rl-1 {
        padding-left: 45px;
        padding-right: 45px;
    }

    .layout_padding-rl-1-left {
        padding-left: 45px;
    }

    .layout_padding-rl-1-right {
        padding-right: 45px;
    }
}

/* ============================= */
.layout_padding_trbl_2 {
    padding-left: 60px;
    padding-right: 60px;
}

.layout_padding-rl-2-left {
    padding-left: 60px;
}

.layout_padding-rl-2-right {
    padding-right: 60px;
}

@media (max-width:768px) {
    .layout_padding-rl-2 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .layout_padding-rl-2-left {
        padding-left: 30px;
    }

    .layout_padding-rl-2-right {
        padding-right: 30px;
    }
}

/* ============================= */
.layout_padding-rl-3 {
    padding-left: 45px;
    padding-right: 45px;
}

.layout_padding-rl-3-left {
    padding-left: 45px;
}

.layout_padding-rl-3-right {
    padding-right: 45px;
}

@media (max-width:768px) {
    .layout_padding-rl-3 {
        padding-left: 22.5px;
        padding-right: 22.5px;
    }

    .layout_padding-rl-3-left {
        padding-left: 22.5px;
    }

    .layout_padding-rl-3-right {
        padding-right: 22.5px;
    }
}

/* ============================= */
.layout_padding-rl-4 {
    padding-left: 30px;
    padding-right: 30px;
}

.layout_padding-rl-4-left {
    padding-left: 30px;
}

.layout_padding-rl-4-right {
    padding-right: 30px;
}

@media (max-width:768px) {
    .layout_padding-rl-4 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .layout_padding-rl-4-left {
        padding-left: 15px;
    }

    .layout_padding-rl-4-right {
        padding-right: 15px;
    }
}
/* ============================================= */
/* ------ layout_padding set ------------------- */
/* ============================================= */





/* ============================================= */
/* ------ 標準標題 STYLE-0 ---------------------- */
/* ============================================= */
.customstyle-title {
	display: inline-block;
	/*border-bottom: 1px solid rgba(0,0,0,0.25);*/
	padding-bottom: 8px;
	width: 100%;
}

.customstyle-title .language-tw {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	
	justify-content: center;
	align-items: center;
}

.customstyle-title .language-tw .tle-size {
    font-size: 165%;
    font-weight: 900;
	letter-spacing: 0.085em;
	color: #333333;
	text-transform: uppercase;
}

.customstyle-title .language-tw a .more {
	font-size: 90%;
	font-weight: 600;
	letter-spacing: normal;
	text-transform: uppercase;
}

.customstyle-title .language-tw a .more i {
	position: relative;
	font-size: 68.8%; /*0.688em/*11*/
	margin-left: 5px;
	bottom: 1.5px;
}

.customstyle-title .language-tw a {
	color: #333333;
	text-decoration: none;
}
.customstyle-title .language-tw a:hover {
	color: #007bff;
	text-decoration: underline;
}

.customstyle-title .language-en {
    margin: auto; /*auto auto 50px*/
    position: relative;
    text-align: center;
    width: 100%;
}

.customstyle-title .language-en .en-word { 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: flex-start ;
    align-items: center;
}

.customstyle-title .language-en .en-word { 
    font-size: 100%;
	font-weight: 600;
	letter-spacing: 0.1em;
    text-align: left;
    text-transform: capitalize;
	color: #0a0a0a;
}

.customstyle-title .language-en .tle-size-2 {
    font-size: 100%;
    font-weight: normal;
	letter-spacing: 0.085em;
	color: #333333;
	text-transform: uppercase;
}

.customstyle-title .language-en > .en-word::before {
	display: inline-block;
	position: relative; /*原本沒有，須加才能調整 線條位置*/
	content: " ";
	width: 40px;
	height: 32px;
	top: 0; /*19*/
	z-index: 0;
	background-image: url("../images/title_icon/title_icon.svg");
	/* [disabled]background: #8a8a8a none repeat scroll 0 0; */
}
.customstyle-title .language-en > .en-word::before {
    margin-right: 10px;
}

@media (max-width:320px) {
	.customstyle-title .language-en > .en-word::after, 
	.customstyle-title .language-en > .en-word::before {
		width: 35px;
	}
}
/* ============================================= */
/* ------ 標準標題 STYLE-0 ---------------------- */
/* ============================================= */


/* ============================================= */
/* ------ 自訂標題 STYLE-1 ---------------------- */
/* ============================================= */
.customstyle1-title {
	position: relative;
}

.customstyle1-title h3 {
	font-size: 175%; /*1.75em*/
	line-height: 1.5;
	font-weight: 600;
    color: #333333;
	margin-bottom: 0;
}

.customstyle1-title .separator_line {
    bottom: 0;
    clear: both;
    display: inline-block;
    height: 3px;
    position: relative;
    width: 150px; /*264px*/
	background: #ff7004;
}

.customstyle1-title .separator_line::before {
    /*background: #ffffff none repeat scroll 0 0;*/
    content: "";
    height: 30px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 46px;
}

.customstyle1-title .separator_line span {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	
    border-radius: 50%;
    bottom: -15px;
    height: 30px;
    left: 0;
    line-height: 29px;
    margin: auto;
    position: absolute;
    right: 0;
    width: 30px;
}

.customstyle1-title .separator_line span {
	background: #800000;
}

.customstyle1-title .mt-20 {
    margin-top: 20px;
}

.customstyle1-title .mb-20 {
    margin-bottom: 20px;
}

.customstyle1-title h4 {
	font-size: 112.5%; /*1.125em*/
	line-height: 1.5;
	font-weight: 600;
    color: #959595; /*777777*/
	margin-bottom: 0;
	text-transform: uppercase;
}

@media (max-width: 767px) {
	.customstyle1-title h3 {
		font-size: 150%; /*1.5em*/
	} 
	.customstyle1-title h4 {
		font-size: 100%; /*1em*/
	}
}
/* ============================================= */
/* ------ 自訂標題 STYLE-1 ---------------------- */
/* ============================================= */


/* ============================================= */
/* ------ 自訂標題 STYLE-2 ---------------------- */
/* ============================================= */
.customstyle2-title {
	position: relative;
}

.customstyle2-title h3 {
	font-size: 175%; /*1.75em*/
	line-height: 1.5;
	font-weight: 600;
    color: #FFFFFF;
	margin-bottom: 0;
}

.customstyle2-title .separator_line {
    bottom: 0;
    clear: both;
    display: inline-block;
    height: 3px;
    position: relative;
    width: 264px;
	background: #FFFFFF;
}

.customstyle2-title .separator_line::before {
    /*background: #ffffff none repeat scroll 0 0;*/
    content: "";
    height: 30px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 46px;
}

.customstyle2-title .separator_line span {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	
    border-radius: 50%;
    bottom: -15px;
    height: 30px;
    left: 0;
    line-height: 29px;
    margin: auto;
    position: absolute;
    right: 0;
    width: 30px;
}

.customstyle2-title .separator_line span {
	background: #FFFFFF;
}

.customstyle2-title .mt-20 {
    margin-top: 20px;
}

.customstyle2-title .mb-20 {
    margin-bottom: 20px;
}

.customstyle2-title h4 {
	font-size: 112.5%; /*1.125em*/
	line-height: 1.5;
	font-weight: 600;
    color: #FFFFFF;
	margin-bottom: 0;
	text-transform: uppercase;
}

@media (max-width: 767px) {
	.customstyle2-title h3 {
		font-size: 150%; /*1.5em*/
	} 
	.customstyle2-title h4 {
		font-size: 100%; /*1em*/
	}
}
/* ============================================= */
/* ------ 自訂標題 STYLE-2 ---------------------- */
/* ============================================= */


/* ====================================================== */
/* ------ ContentPlaceContent_ContentSubMenu H1~H6 ------ */
/* ------ ContentPlaceContent_ContentConentA H1~H6 ------ */
/* ====================================================== */
#ContentPlaceContent_ContentSubMenu .h1,
#ContentPlaceContent_ContentSubMenu .h2,
#ContentPlaceContent_ContentSubMenu .h3,
#ContentPlaceContent_ContentSubMenu .h4,
#ContentPlaceContent_ContentSubMenu .h5,
#ContentPlaceContent_ContentSubMenu .h6,
#ContentPlaceContent_ContentSubMenu h1,
#ContentPlaceContent_ContentSubMenu h2,
#ContentPlaceContent_ContentSubMenu h3,
#ContentPlaceContent_ContentSubMenu h4,
#ContentPlaceContent_ContentSubMenu h5,
#ContentPlaceContent_ContentSubMenu h6,

#ContentPlaceContent_ContentConentA .h1,
#ContentPlaceContent_ContentConentA .h2,
#ContentPlaceContent_ContentConentA .h3,
#ContentPlaceContent_ContentConentA .h4,
#ContentPlaceContent_ContentConentA .h5,
#ContentPlaceContent_ContentConentA .h6,
#ContentPlaceContent_ContentConentA h1,
#ContentPlaceContent_ContentConentA h2,
#ContentPlaceContent_ContentConentA h3,
#ContentPlaceContent_ContentConentA h4,
#ContentPlaceContent_ContentConentA h5,
#ContentPlaceContent_ContentConentA h6
 {
	margin-bottom: .5rem;
	font-weight: 500;
	line-height: 1.2
}

#ContentPlaceContent_ContentSubMenu .h1,
#ContentPlaceContent_ContentSubMenu h1,
#ContentPlaceContent_ContentConentA .h1,
#ContentPlaceContent_ContentConentA h1 {
	font-size: 200%; /*2em*/
}

#ContentPlaceContent_ContentSubMenu .h2,
#ContentPlaceContent_ContentSubMenu h2,
#ContentPlaceContent_ContentConentA .h2,
#ContentPlaceContent_ContentConentA h2 {
	font-size: 175%; /*1.755em*/
}

#ContentPlaceContent_ContentSubMenu .h3,
#ContentPlaceContent_ContentSubMenu h3,
#ContentPlaceContent_ContentConentA .h3,
#ContentPlaceContent_ContentConentA h3 {
	font-size: 150%; /*1.5em*/
}

#ContentPlaceContent_ContentSubMenu .h4,
#ContentPlaceContent_ContentSubMenu h4,
#ContentPlaceContent_ContentConentA .h4,
#ContentPlaceContent_ContentConentA h4 {
	font-size: 125%; /*1.25em*/
}

#ContentPlaceContent_ContentSubMenu .h5,
#ContentPlaceContent_ContentSubMenu h5,
#ContentPlaceContent_ContentConentA .h5,
#ContentPlaceContent_ContentConentA h5 {
	font-size: 100%; /*1.0em*/
}

#ContentPlaceContent_ContentSubMenu .h6,
#ContentPlaceContent_ContentSubMenu h6,
#ContentPlaceContent_ContentConentA .h6,
#ContentPlaceContent_ContentConentA h6 {
	font-size: 93.75%; /*0.9375em*/
}
/*------------------------------------*/
/* == 活動花絮用 ======================*/
#ContentPlaceContent_ContentSubMenu .h3.title,
#ContentPlaceContent_ContentSubMenu h3.title,
#ContentPlaceContent_ContentConentA .h3.title,
#ContentPlaceContent_ContentConentA h3.title {
	margin-bottom: .5rem;
	font-weight: 500;
	line-height: 1.2;
	padding: 10px 0;	
}

#ContentPlaceContent_ContentSubMenu .h3.title,
#ContentPlaceContent_ContentSubMenu h3.title,
#ContentPlaceContent_ContentConentA .h3.title,
#ContentPlaceContent_ContentConentA h3.title {
	font-size: 100%; /*1.0em*/
}

#ContentPlaceContent_ContentSubMenu a .h3.title,
#ContentPlaceContent_ContentSubMenu a h3.title,
#ContentPlaceContent_ContentConentA a .h3.title,
#ContentPlaceContent_ContentConentA a h3.title {
	color: #333333;
}

#ContentPlaceContent_ContentSubMenu a:hover .h3.title,
#ContentPlaceContent_ContentSubMenu a:hover  h3.title,
#ContentPlaceContent_ContentConentA a:hover  .h3.title,
#ContentPlaceContent_ContentConentA a:hover  h3.title {
	color: #aa210f;
}
/* == 活動花絮用 ======================*/
/*------------------------------------*/

/* ====================================================== */
/* ------ ContentPlaceContent_ContentSubMenu H1~H6 ------ */
/* ------ ContentPlaceContent_ContentConentA H1~H6 ------ */
/* ====================================================== */







