#BoxNews {
    float: left;
    width: 65%;
}

    #BoxNews ul {
        margin: 0;
        padding: 0;
    }

    #BoxNews li a {
        margin-left: 10px;
    }

    #BoxNews ul li {
        list-style: none;
        list-style-image: none;
        margin: 0 0 20px;
        overflow: hidden;
    }

#BoxPage {
    float: right;
    width: 30%;
}

#BoxGallery {
    float: left;
    width: 65%;
}
    #BoxGallery ul {
        margin: 0;
        padding: 0;
    }

    #BoxGallery li a {
        margin-left: 10px;
        width: 20%;
    }

    #BoxGallery ul li {
        list-style: none;
        list-style-image: none;
        margin: 0 0 20px;
        overflow: hidden;
    }

    #BoxGallery .img-responsive {
        width: 22%;
        float: left;
        margin: 0 10px 10px 10px;
    }

#BoxWebResource {
    clear:both;
    float: right;
    width: 30%;
}

    #BoxWebResource ul li {
        list-style: none;
        list-style-image: none;
        margin: 0 0 10px;
        overflow: hidden;
    }

#BoxAD {
    width: 100%;
    clear: both;
}

#BoxAD .carousel {
    float: left;
    margin: 10px;
}