@charset "utf-8";
/* CSS Document */


/* ===== STYLE 02 Cart Total 訂單列表 結算總計 區塊 ====== */
.shop_member_center_section .custom-totall-m {
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 0;
    /*padding: 45px 45px 0px 45px;*/
	padding: 8px 21px;
}

.shop_member_center_section .custom-totall-m .img-wrap {
    position: relative;
	margin-bottom: 30px;
}

.shop_member_center_section .custom-totall-m .title-wrap {
    position: relative;
}

.shop_member_center_section .custom-totall-m .title-wrap::before {
    background-color: #a2a2a2;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 13px;
    transition: all .4s ease 0s;
    width: 100%;
    z-index: 1;
}

.shop_member_center_section .custom-totall-m .title-wrap .cart-bottom-title.h4,
.shop_member_center_section .custom-totall-m .title-wrap h4.cart-bottom-title {
    display: inline-block;
    font-size: 112.5%;	/*1.125em*/ /*18px*/
    font-weight: 700;
    margin: 0;
    padding-right: 18px;
    background-color: #ebebeb;
    position: relative;
    z-index: 1;
    color: var(--blackcolor);
}

.shop_member_center_section .custom-totall-m .tax-wrapper {
    margin-top: 22px;
}

.shop_member_center_section .custom-totall-m .h5,
.shop_member_center_section .custom-totall-m h5 {
    font-size: 93.75%; /*0.9375em*/ /*15px*/
    margin: 20px 0 27px 0;
    font-weight: 400;
}

.shop_member_center_section .custom-totall-m .h5 span,
.shop_member_center_section .custom-totall-m h5 span {
    float: right;
    font-size: 112.5%; /*1.125em*/ /*18px*/
    font-weight: 700;
}

.shop_member_center_section .custom-totall-m .total-shipping {
	margin: 0;
    /*margin: 0 0 27px;*/
    /*padding: 28px 0;*/
}

.shop_member_center_section .custom-totall-m .total-shipping .h5,
.shop_member_center_section .custom-totall-m .total-shipping h5 {
    font-size: 93.75%; /*0.9375em*/ /*15px*/
    margin: 0;
}

.shop_member_center_section .custom-totall-m .total-shipping .h5 span,
.shop_member_center_section .custom-totall-m .total-shipping h5 span {
    float: right;
    font-size: 112.5%; /*1.125em*/ /*18px*/
    font-weight: 700;
}

/*-------------------------*/
.shop_member_center_section .custom-totall-m .total-shipping ul {
	margin-bottom: 0.5rem;
    /*padding: 19px 0 0 0;*/
}

.shop_member_center_section .custom-totall-m .total-shipping ul li {
	font-size: 93.75%; /*0.9375em*/ /*15px*/
    color: var(--blackcolor);
    list-style: outside none none;
    margin: 0 0 6px;
    display: block;
	text-align: right;
}

.shop_member_center_section .custom-totall-m .total-shipping ul li input {
    background-color: #e9e9e9 none repeat scroll 0 0;
    border: 1px solid #d7d7d7;
    border-radius: 5px !important;
    color: var(--blackcolor);
    cursor: pointer;
    height: 13px;
    margin-right: 10px;
    padding: 0;
    position: relative;
    top: 2px;
    width: 13px;
}

.shop_member_center_section .custom-totall-m .total-shipping ul li span {
	margin-left: 44px;
    float: right;
}
/*-------------------------*/

.shop_member_center_section .custom-totall-m .custom-totall-title {
    color: var(--color_007069);
    font-size: 125%; /*1.25em*/ /*20px*/
    font-weight: 700;
    /*margin: 0 0 25px;*/
	text-align: right;
	margin-bottom: 0.5rem;
}

.shop_member_center_section .custom-totall-m .custom-totall-title span {
	margin-left: 44px;
    float: right;
}

.shop_member_center_section .custom-totall-m a {
    display: block;
    font-size: 93.75%; /*0.9375em*/ /*15px*/
    font-weight: 700;
    line-height: 1;
	color: var(--FFFcolor);
	
    padding: 18px 10px 17px;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s ease 0s;
	
	border-radius: 99rem;
	background-color: var(--color_007069);
}

.shop_member_center_section .custom-totall-m a:hover {
    background-color: var(--color_007069)
}

.shop_member_center_section .totall-button {
    background-color: #ebebeb;
    border: 1px solid #ebebeb;
    border-radius: 0;
    padding: 45px 30px 50px;
}

.shop_member_center_section .totall-button a {
    display: block;
    font-size: 125%; /*1.25em*/
    font-weight: 700;
    line-height: 1;
    color: var(--FFFcolor);
    padding: 18px 10px 17px;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s ease 0s;
    border-radius: 99rem;
    background-color: var(--color_007069);
}

.shop_member_center_section .totall-button a:hover {
    background-color: var(--color_007069);
}

.shop_member_center_section .yourorder h3 {
    font-weight: 600;
    color: var(--blackcolor);
    margin: 0 0 30px;
    font-size: 150%; /*1.5em*/
}
/* ===== STYLE 02 Cart Total 訂單列表 結算總計 區塊 ====== */








/* ===== 繼續/更新/清除 Button ====== */
.cart-main-area .cart-check-order-wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 30px 0 60px
}

@media only screen and (max-width:767px) {
    .cart-main-area .cart-check-order-wrapper {
        display: block;
        padding: 30px 0 15px
    }
}

.cart-main-area .cart-check-order-wrapper .check-order > a > .button {
    border: medium none;
    cursor: pointer;
    transition: all .3s ease 0s
}

.cart-main-area .cart-check-order-wrapper .check-order > a > .button {
    display: inline-block;
    font-size: 93.75%; /*0.9375em*/ /*14px*/
    font-weight: 600;
    line-height: 1;
	color: var(--blackcolor);
    padding: 18px 63px 17px;
    text-transform: uppercase;	
	border-radius: 99rem;
	border: 1px solid #ddd;
}

.cart-main-area .cart-shiping-update-wrapper .check-order > a > .button {
	background-color: transparent;
	border: 1px solid #ddd;
}

@media only screen and (min-width:768px) and (max-width:991px) {

    .cart-main-area .cart-check-order-wrapper .check-order > a > .button {
        padding: 18px 25px
    }
}

@media only screen and (max-width:767px) {

    .cart-main-area .cart-check-order-wrapper .check-order > a > .button {
        padding: 18px 25px;
        margin: 0 0 15px
    }
}

.cart-main-area .cart-check-order-wrapper .check-order > a:hover > .button {    
		color: var(--FFFcolor);
		background-color: var(--color_007069);
		border: 1px solid  var(--color_007069);
}
/* ===== 繼續/更新/清除 Button ====== */