:root {
	--Customize_color: #906323;
	--Customize_HRcolor: #906323;
	--Customize_ACcolor: #906323;
	--Customize_FCcolor: #906323;
	--Customize_Footercolor: #00305c;
	
	/* =================================== */
	
	--Customize_TXTcolor: #942700;
	--Customize_TXTHRcolor: #942700;
	
	/* =================================== */
	
	--Customize_Btn_color: #a05b42;
	--Customize_Btn_HRcolor: #a05b42;
	--Customize_border_color: #00305c;

	/* =================================== */
	
	--a_linkcolor: #0b5ed7;
	--a_linkHRcolor: #0a58ca;
	--a_focuscolor: #FFBD40;
	--a_focusbordercolor: #43B5FC;
}

/* 登入 + 註冊 */
:root {
	--Customize__shape_color: #75501c;  /*#906323 - HSB-(B減10%)*/
}