@charset "utf-8";
/* CSS Document */

:root {
    --Customize_color: #00305c;
    --Customize_HRcolor: #0d6efd;
    --Customize_ITcolor: #059cb5;
    --Customize_LMBGcolor: #00305c;

    --Graycolor: #727171;
    --FFFcolor: #FFFFFF;
    --blackcolor: #000000;
    --b2020color: #202020;
    --G333color: #333333;
    --G555color: #555555;
    --G777color: #777777;
    --G999color: #999999;
    --G979color: #979797;
}
color: var(--Customize_color);

color: var(--Customize_HRcolor);

color: var(--Customize_Before);

color: var(--Customize_TXTcolor);

color: var(--Customize_TXT_2_color);

color: var(--Customize_TXT_3_color);

color: var(--Customize_HRTXT_color);

color: var(--Customize_CRoom_color);

color: var(--Customize_CRoom_2_color);

color: var(--Customize_CRoom_3_color);

color: var(--Graycolor);

color: var(--FFFcolor);

color: var(--blackcolor);

color: var(--b2020color);

color: var(--G333color);

color: var(--G555color);

color: var(--G777color);

color: var(--G999color);

/* ======================================================== */
/* --------------------------------------------------------
**  自定義 H1 ~ H6
**  Main Content ALL
｜—————————————————————————————————————————————————————————｜
**  Main Content 標題
**  Main Content 麵包屑
**  Main card + card-header + card-body
**  Main panel
**  Main 自訂Button
**  Main progress進度條
｜—————————————————————————————————————————————————————————｜
----------------------------------------------------------- */
/* ======================================================== */