/* ====================================================== */
/* =====  內頁 - 多層 左邊選單 ( 以下 )  =================== */
/* ====================================================== */
/* ============================================= */
/* ------  左邊選單 標題區 ----------------------- */
.SubPage-leftMenu h2,
#ContentPlaceContent_ContentSubMenu .h2, #ContentPlaceContent_ContentSubMenu h2,
#ContentPlaceContent_ContentConentA .h2, #ContentPlaceContent_ContentConentA h2 {
	font-size: 150% !important;
	font-weight: 500;
}
@media screen and (min-width: 320px) and (max-width: 991px) {
	.SubPage-leftMenu h2,
	#ContentPlaceContent_ContentSubMenu .h2, #ContentPlaceContent_ContentSubMenu h2,
	#ContentPlaceContent_ContentConentA .h2, #ContentPlaceContent_ContentConentA h2 {
		font-size: 125% !important;
	}
}
/* ------  左邊選單 標題區 ----------------------- */
/* ============================================= */
#SubPage-SidebarMenu {
	position: relative;
	display: inline-block;
	width: 100%;
}

.sidebar {
	position: relative;
	display: inline-block;
	width: 100%;
	
	padding: 0.5rem 0.5rem;
	padding: 1.5rem 0.5rem 1.25rem 0.5rem;
	border: 1px solid #dddddd;
	border-radius: 4px;
}
@media screen and (min-width: 991px) {
	.sidebar::before {
		content: "";
		width: 100%;
		height: 5px;
		position: absolute;
		top: 0px;
		left: 0;
		background-color: var(--Customize_color);
		background-color: #bfa06b;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;
	}
}
/* ============================================= */
/* ------  第一層 ul.list-group ----------------- */
.sidebar ul.list-group {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: flex-start;
    align-items: center;
	
	padding: 0;
	margin: 0;
	list-style: none;
	width: 100%;
}
@media screen and (min-width: 320px) and (max-width: 991px) {
	.sidebar ul.list-group {
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
	}
}
/* ------  第一層 ul.list-group ----------------- */
/* ============================================= */

/* ============================================= */
/* ------ 第一層 ITEM ul li.nav-item ------------ */
.sidebar ul li.nav-item {
	position: relative;
	list-style: none;
	width: 100%;
	margin-bottom: 5px;
}
/* ------ 第一層 ITEM ul li.nav-item ------------ */
/* ============================================= */

/* ============================================= */
/* ------  第二.三.四.五.六層 ul.submenu --------- */
.sidebar ul li ul.submenu {
	padding: 0;
	margin: 0;
	list-style: none;
	width: 100%;
}
/* ------  第二.三.四.五.六層 ul.submenu --------- */
/* ============================================= */

/* ============================================= */
/* ------ 手機模式 第一層 ITEM ul li.nav-item ---- */
@media screen and (min-width: 320px) and (max-width: 991px) {
	#nav_accordion {
		display: flex;
		flex-wrap: wrap;
    }

    #nav_accordion > .nav-item {
		/*width: 50%;*/
		width: calc((100% - (2.5px * 4)) / 2);    /* =col4 x 2個 */
		/*width: calc((100% - (2.5px * 6)) / 3);*/    /* =col4 x 3個 */
		/*width: calc((100% - (2.5px * 8)) / 4);*/    /* =col3 x 4個 */
		/*width: calc((100% - (2.5px * 10)) / 5);*/   /* =col-? x 5個 */
		/*width: calc((100% - (2.5px * 12)) / 6);*/   /* =col2 x 5個 */

		box-sizing: border-box;
		margin-bottom: 5px;
		margin-left: 2.5px;
  		margin-right: 2.5px;
    }

    /* 展開保持子選單為直式清單 */
    #nav_accordion .submenu {
		width: 100%;
    }

}
/* ------ 手機模式 第一層 ITEM ul li.nav-item ---- */
/* ============================================= */

/* ============================================= */
/* ------ a class="list-group-item ------------- */
.sidebar .list-group-item {
	position: relative;
	cursor: pointer;
	font-size: 93.75%;
	color: var(--blackcolor);
	width: 100%;	
	border: 1px solid #dddddd;
	border: 1px solid transparent;
	border-radius: 4px;
	
	border-bottom: 1px solid #dddddd;
}
@media screen and (min-width: 320px) and (max-width: 991px) {
	.sidebar .list-group-item {
		font-size: 87.5%;
		width: 100%;
	}
}
.sidebar .list-group-item:hover,
.sidebar .list-group-item:focus,
.sidebar .list-group-item.active {
	color: var(--FFFcolor) !important;
	background-color: var(--Customize_color) !important;
	border-color: var(--Customize_color);
}
.sidebar .list-group-item:focus {
	outline: 3px solid var(--a_focusbordercolor) !important;
	outline-offset: -3px !important;
}

/* 只有有子選單的 a 才加箭頭 */
.sidebar .has-submenu > .list-group-item::after {
	content: "▼";
	position: absolute;
	top: 33.3333333%;
	right: 0.5rem;
	font-size: 56.25%;
	transition: transform 0.2s ease;
	background-image: none;
}
.sidebar .has-submenu > .list-group-item:hover::after,
.sidebar .has-submenu > .list-group-item:focus::after{
/* .sidebar .has-submenu > .list-group-item.parent-active::after{ */
	color: var(--FFFcolor);
	filter: none;
}
/* 展開時變成向上箭頭 */
.sidebar .has-submenu > .list-group-item.active::after {
	content: "▲";
	background-image: none;
}
.sidebar .has-submenu > .list-group-item.parent-active::after {
    transform: rotate(180deg);
		transform-origin: 50% 33%;
}
/* ------ a class="list-group-item ------------- */
/* ============================================= */

/* ============================================= */
/* ------ 第一層 ITEM ul li.nav-item ------------ */
.sidebar ul > li > .list-group-item {
	padding: 0.75rem 1.25rem 0.75rem 0.75rem;
}
/* ------ 第一層 ITEM ul li.nav-item ------------ */
/* ============================================= */

/* ============================================= */
/* ------  第二.三.四.五.六層 ul.submenu --------- */
.sidebar ul > li > ul.submenu > li > .list-group-item {
	padding: 0.75rem 1.25rem 0.75rem 1.25rem;
}
.sidebar ul > li > ul.submenu > li > ul.submenu > li .list-group-item {
	padding: 0.75rem 1.25rem 0.75rem 1.5rem;
}
.sidebar ul > li > ul.submenu > li > ul.submenu > li > ul.submenu > li .list-group-item {
	padding: 0.75rem 1.25rem 0.75rem 1.75rem;
}
.sidebar ul > li > ul.submenu > li > ul.submenu > li > ul.submenu > li > ul.submenu > li .list-group-item {
	padding: 0.75rem 1.25rem 0.75rem 2rem;
}
.sidebar ul > li > ul.submenu > li > ul.submenu > li > ul.submenu > li > ul.submenu > li > ul.submenu > li .list-group-item {
	padding: 0.75rem 1.25rem 0.75rem 2.25rem;
}
/* ------  第二.三.四.五.六層 ul.submenu --------- */
/* ============================================= */
/* ====================================================== */
/* =====  內頁 - 多層 左邊選單 ( 以上 )  =================== */
/* ====================================================== */