:root {
	--Customize_color: #0B4476;
	--Customize_HRcolor: #0B4476;
	--Customize_ACcolor: #0B4476;
	--Customize_FCcolor: #0B4476;
	--Customize_Footercolor: #0B4476;
	
	/* =================================== */
	
	--Customize_TXTcolor: #942700;
	--Customize_TXTHRcolor: #942700;
	
	/* =================================== */
	
	--Customize_Btn_color: #0B4476;
	--Customize_Btn_HRcolor: #0B4476;
	--Customize_border_color: #0B4476;

	/* =================================== */
	
	--a_linkcolor: #0b5ed7;
	--a_linkHRcolor: #0a58ca;
	--a_focuscolor: #FFBD40;
	--a_focusbordercolor: #43B5FC;
}

/* 登入 + 註冊 */
:root {
	--Customize__shape_color: #00305C;  /*#906323 - HSB-(B減10%)*/
}