@charset "utf-8";
/* CSS Document */
/* 16px = 1rem = 1em = 100% */ 

/* ============================================= */
/* 基本 Kits */
@import url("css_import/default_content.css");
@import url("css_import/common_content.css");
@import url("css_import/static/header_section.css");
@import url("css_import/static/menu_section.css");
/*@import url("css_import/static/carousel_slide_section.css");*/  /* 標準 Bootstrap5 Carousel_Slide */
@import url("css_import/static/standard_table_RWD.css");

/* ------ 首頁內容 index content ----------------------- */
@import url("css_import/style_index_content/index_content.css");
/*@import url("css_import/style_index_content/index_content_1.css");*/
/*@import url("css_import/style_index_content/index_content_2.css");*/
/*@import url("css_import/style_index_content/index_content_3.css");*/

/* ------ 內頁內容 subpage content ----------------------- */
/* @import url("css_import/style_subpage_content/subpage-content.css"); */
@import url("css_import/style_subpage_content/subpage-content_1.css");
/*@import url("css_import/style_subpage_content/subpage-content_2.css");*/
/*@import url("css_import/style_subpage_content/subpage-content_3.css");*/

/* ------ 登入頁 login ----------------------- */
@import url("css_import/assets/login/login_default.css");

/* ------ 注冊頁 register ----------------------- */
@import url("css_import/assets/register/register_default.css");

/* ------ bootstrap-5 選單 menu ----------------------- */
@import url("css_import/assets/bs5-menu/bs5-menu-standard.css");

/* ------ 頁尾 Copyright + 訪客人數 ----------------------- */
@import url("css_import/assets/copyright-visitor/copyright-visitor.css");

/* ------ 網站導覽頁 sitemap ----------------------- */
@import url("css_import/assets/sitemap/sitemap.css");

/* ------ 列印 print ----------------------- */
@import url("css_import/assets/print/print.css");
/* 基本 Kits */
/* ============================================= */


/* ============================================= */
/* 輔助套件 Kits */
/* ------ Accesskey --------------------- */
@import url("css_import/assets/accesskey/custom_sr-only.css");
@import url("css_import/assets/accesskey/custom_accesskey.css");

/* ------ 動畫 animate ----------------------- */
@import url("css_import/assets/animate/animate.css");

/* ------ 背景動畫 Particles ----------------------- */
@import url("css_import/assets/bg_dynamic/Particles-login-register.css");

/* ------ 聊天室 chatroom ----------------------- */
@import url("css_import/assets/chatroom/font_Icon/iconfont.css");
@import url("css_import/assets/chatroom/chatroom.css");

/* ------ 跑馬燈 marquee ----------------------- */
@import url("css_import/assets/marquee/marquee-left-loop.css");

/* ------ 浮動收合式側邊選單 slide-bar ----------------------- */
@import url("css_import/assets/slide-bar/slide-bar.css");
/* 輔助套件 Kits */
/* ============================================= */


/* ============================================= */
/* 自訂套件 Kits */
@import url("css_import/kit_customize_class/style_class_kit.css");
@import url("css_import/kit_customize_class/style_background_color.css");
/* 自訂套件 Kits */

/* font-awesome-4.7.0 Icon 字型 */
@import url("css_import/assets/font-awesome-4.7.0/font-awesome-4.7.0.min.css");
/* font-awesome-4.7.0 Icon 字型 */
/* fFont Awesome Pro 5.15.4 Icon 字型 */
@import url("css_import/assets/font-awesome-pro-5/css/all.css");
/* Font Awesome Pro 5.15.4 Icon 字型 */

/* GOOGLE 字型 */
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
/*font-family: "Noto Sans TC" */
/* GOOGLE 字型 */
/* ============================================= */

/* ============================================= */

:root {
	--Customize_color: #a35c49; /* 原：#af624e */
	--Customize_HRcolor: #a35c49; /* #af624e */
	--Customize_ACcolor: #a35c49; /* #af624e */
	--Customize_FOCUScolor: #AA0000; /* 原：#A05B42 */
	--Customize_SCROLLcolor: #724033; /* #A05B42 */
	--Customize_FCcolor: #E6CCC5;
	--Customize_Footercolor: #00305c;
	--F2Fcolor: #f2f2f2;
	
	/* =================================== */
	
	--Customize_TXTcolor: #82493a; /* 原：#ad4829 */
	--Customize_TXTHRcolor: #82493a; /* #ad4829 */
	
	/* =================================== */
	
	--Customize_Btn_color: #a35c49; /* #af624e */
	--Customize_Btn_HRcolor: #a35c49; /* #af624e */
	--Customize_border_color: #00305c;

	/* =================================== */
	
	--a_linkcolor: #0b5ed7;
	--a_linkHRcolor: #0a58ca;
	--a_focuscolor: #fff0dc;
	--a_focusbordercolor: #43B5FC;
}

/* 登入 + 註冊 */
:root {
	--Customize__shape_color: #af624e;  /*#906323 - HSB-(B減10%)*/
}

:root {
	--Customize_size_8: 8px;
	--Customize_size_16: 16px;
	--Customize_size_24: 24px;
	--Customize_size_32: 32px;
	--Customize_size_40: 40px;
	--Customize_size_48: 48px;
	--Customize_size_64: 64px;
	--Customize_size_80: 80px;
	--Customize_size_100: 100px;
	--Customize_size_W100: 100%;
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0rem;
	--menu-section-height: 90px;
	
	/* =================================== */
	
	--border_color: rgba(0, 0, 0, .125);
	--Graycolor: #727171;
	--FFFcolor: #FFFFFF;
	--blackcolor: #000000;
	--b2020color: #202020;
	--GCCCcolor: #cccccc;
	--G333color: #333333;
	--G444color: #444444;
	--G555color: #555555;
	--G666color: #666666;
	--G777color: #777777;
	--G999color: #999999;
  --G979color: #979797;	
}
/* color: var(--Customize_color); #00305c */
/* background-color: var(--FFFcolor); #FFFFFF */
/* ============================================= */


/* ========================================================================== */
/* 所有 標準 STYLE 內容 CSS 設定 ( 以下 )  OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
/* ========================================================================== */

* {
	font-family: "open sans","微軟正黑體",sans-serif,"Noto Sans TC";
}
body {
    font-family: "open sans","微軟正黑體",sans-serif,"Noto Sans TC";
    font-size: 100%;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;    
    color: var(--blackcolor); /*#000000*/
}

a { color: var(--a_linkcolor); }

a, a:hover { text-decoration: none; }
/* a focus 客製 */
/* 淺橘底紅橘框 */
a:focus{
  text-decoration: none;    
	outline: thin dotted;
  outline: 2px dashed var(--Customize_FOCUScolor);
	outline-offset: 0px;    
  color: var(--blackcolor) !important;
	background-color: var(--a_focuscolor) !important;
}
.navbar-toggler:focus{
  outline: 2px dashed var(--Customize_FOCUScolor);
	outline-offset: 0px;    
}
#gotocenter{
	background: var(--a_focuscolor) !important;
}
/* 蓋過menu的a focus + TAB的a focus */
.nav-link:focus-visible{
	box-shadow: none;
	outline: 2px dashed var(--Customize_FOCUScolor);
	outline-offset: 0px;
}
#navbar-content a.nav-link:focus-visible {
	outline: 2px dashed var(--Customize_FOCUScolor) !important;
	box-shadow: none !important;
}
/* 修改header的a focus */
.header_Box a:focus .fa-search, .header_Box a:focus .LMS-text, .header_Box a:focus .link-text {
	color: var(--FFFcolor) !important; 
  background-color: var(--blackcolor) !important;
}
.header_Box a:focus.active .fa-search, .header_Box a:focus.active .LMS-text, .header_Box a:focus.active .link-text {
	color: var(--FFFcolor) !important; 
  background-color: var(--Customize_color) !important;
}
/* 修改 search的focus */
.Form_Search_DIV .Searchform-control:focus-visible{
	outline: 2px dashed var(--Customize_FOCUScolor);
	outline-offset: 0px;  	
	background-color: var(--a_focuscolor) !important;
	border: 1px solid transparent;
}
.Form_Search_DIV .Searchform-control:focus-visible::placeholder{
	color: var(--G666color);
}
.Form_Search_DIV .Search_btn:focus {
	outline: 2px dashed var(--Customize_FOCUScolor) !important;
}
/* 修改Link-icons的a focus */
.Link-icons_section a:focus{
	outline: 2px dashed var(--Customize_FOCUScolor) !important;
	outline-offset: -3px !important;
	background-color: var(--a_focuscolor) !important;
}
.Link-icons-pos a:focus .tit-contents .Link-icons-title {
  color: var(--blackcolor) !important;
}
.Link-icons-pos a:focus .icon-type-image img {
  filter: invert(1) grayscale(1);
}
/* 蓋過opening的a focus */
.Opening_hours_DIV .Open_btn:focus {
	text-decoration: none !important;
	outline: 2px dashed var(--Customize_FOCUScolor) !important;
	outline-offset: -3px;
	background-color: var(--a_focuscolor) !important;
}
/* 修改輪播的img a focus */
.Carousel_slide_section .carousel-item a:focus{
	outline: 2px dashed var(--Customize_FOCUScolor) !important;
	outline-offset: -2px;
	border-radius: 10px;
	border: 2px solid var(--FFFcolor);
}
/* 修改輪播的暫停撥放上下頁 a focus */
.Carousel_slide_section .control-toggle a:focus {
	text-decoration: none;
	outline: 2px dashed var(--Customize_FOCUScolor) !important;	
	outline-offset: -2px !important;
	color: var(--blackcolor) !important;
	background-color: var(--a_focuscolor) !important;
}
.carousel_btn-icon-prev a:focus,
.carousel_btn-icon-next a:focus{
	text-decoration: none;
	outline: 0px;
	outline-offset: -2px !important;
	color: var(--blackcolor) !important;
	background-color: var(--a_focuscolor) !important;
}
.carousel_btn-icon-prev a:focus .carousel-control-prev,
.carousel_btn-icon-next a:focus .carousel-control-next{
	background-color: var(--a_focuscolor) !important;
	outline: 2px dashed var(--Customize_FOCUScolor) !important;	
	outline-offset: -2px !important;
}
/* 修改Collections的a focus */
.Collections_section .item a:focus {
	text-decoration: none;
	outline: 0px transparent;
}
.Collections_section a:focus .wrapper_box::after{
	content: "";
	background-color: rgba(255, 255, 255, 0);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	text-decoration: none;
	border: 3px solid var(--FFFcolor);
	opacity: 1;
}
.Collections_section a:focus .wrapper_box::before{
	content: "";
	background-color: rgba(255, 255, 255, 0);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	text-decoration: none;
	border: 2px dashed var(--Customize_FOCUScolor);
	opacity: 1;
}
.Collections_section a:focus .wrapper_box .card_catname {
	text-shadow: none;
	background-color: var(--a_focuscolor) !important;
	color: var(--blackcolor);
	border-radius: 8px;
}
/* 修改Event的a focus */
.Event_section .item a:focus {
	text-decoration: none;
	outline: 0px transparent;
	outline-offset: -2px;
}
.Event_section a:focus .wrapper_box::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	border: 3px solid var(--FFFcolor);
}
.Event_section a:focus .wrapper_box::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	border: 2px dashed var(--Customize_FOCUScolor);
}
/* 修改Links的a focus */
.Links_section .item a:focus {
	text-decoration: none;
	outline: 2px dashed var(--Customize_FOCUScolor);
	outline-offset: -2px;
}
.Links_section a:focus .wrapper_box::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	border: 3px solid var(--FFFcolor);
}
.Links_section a:focus .wrapper_box::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	border: 2px dashed var(--Customize_FOCUScolor);
}
/* 修改Footer的a focus */
.Footer_section .accesskey_footer.B{ /* 為了加底反黑字，讓字與框線有間格 */
	padding: 3px;
	display: inline-block;
	width: 16.5px;
}
.Footer_section .footer-black .info-widget .list li a{ /* 為了加底反黑字，讓字與框線有間格 */
	padding: 0 3px;
	display: inline-block;
}
.Footer_section .Accessibility-Badge{ /* 為了加底反黑字，讓字與框線有間格 */
	padding: 3px;
}
.Footer_section .copyright_section a{ /* 為了加底反黑字，讓字與框線有間格 */
	padding: 0 3px;
	display: inline-block;
}
.Footer_section a:focus{
	text-decoration: none;
	outline: 2px dashed var(--Customize_FOCUScolor) !important;	
	outline-offset: -3px !important;
	color: var(--blackcolor) !important;
	background-color: var(--a_focuscolor) !important;	
	z-index: 1;
}
/* 修改gototop focus */
#gotop_btn.show:focus {
	background-color:var(--Customize_FOCUScolor) !important;	
	text-decoration: none;
	outline: 2px dashed var(--FFFcolor) !important;	
}
/* 內頁breadcrumb-print+share的a focus */
.PrintingSite__wrapper .Print-box .nav-link:focus-visible {
	outline: 2px dashed var(--Customize_FOCUScolor);
	box-shadow: none;
}
/* 內頁breadcrumb-returnbox的a focus */
.breadcrumb__wrapper a:focus .return-box {
	text-decoration: none;
	outline: thin dotted;
	outline: 2px dashed var(--Customize_FOCUScolor);
	outline-offset: 0px;
	color: var(--blackcolor) !important;
	background-color: var(--a_focuscolor) !important;
}
/* 內頁sidebar的a focus */
.sidebar .list-group-item:focus {
	outline: 2px dashed var(--Customize_FOCUScolor) !important;
	outline-offset: 0px !important;
}


[tabindex="-1"]:focus:not(:focus-visible) {
	text-decoration: none;
	outline: thin dotted !important;
  outline: 1px solid var(--a_focusbordercolor);
	outline-offset: 0px;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.list-group {
    list-style: none;
}
/* ============================================= */

/* ============================================= */
/* ------ Container-Custom --------------------- */
/* ============================================= */
.container,.container-fluid,.container-lg,.container-md,.container-sm,.container-xl {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}
@media screen and (min-width:576px) {
	.container,.container-sm {
		max-width: 540px
	}
}
@media screen and (min-width: 768px) {
	.container,.container-md,.container-sm {
		max-width: 720px
	}
}
@media screen and (min-width: 992px) {
	.container,.container-lg,.container-md,.container-sm {
		max-width: 960px
	}
}
@media screen and (min-width: 1200px) {
	.container,.container-lg,.container-md,.container-sm,.container-xl {
		max-width: 1170px; /*1140*/
	}
}
/* ============================================= */
/* ------ Container-Custom0 =100%-100px --------- */
@media screen and (min-width: 1200px) {
    .container-customize0 {
        max-width: calc(100% - 100px);
    }
}
.container-customize0 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* ============================================= */
/* ------ Container-customize1 =1170 ----------- */
@media screen and (min-width: 1200px) {
	.container-customize1 {
		max-width: 1170px; /*1170 / 1500*/
	}
}
.container-customize1 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* ============================================= */
/* ------ Container-customize2 =1260 ----------- */
@media screen and (min-width: 1200px) {
	.container-customize2 {
		max-width: 1260px; /*1170 / 1500*/
	}
}
.container-customize2 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* ============================================= */
/* ------ Container-Custom3 =1320 -------------- */
@media screen and (min-width: 1200px) {
	.container-customize3 {
		max-width: 1320px; /*1170 / 1500*/
	}
}
.container-customize3 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* ============================================= */
/* ------ Container-Custom --------------------- */
/* ============================================= */



/* ========================================================================== */
/* 所有 標準 STYLE 內容 CSS 設定 ( 以上 )  OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
/* ========================================================================== */




















