@charset "utf-8";
/* CSS Document */

/*================ ICON Part CSS Start =============*/

/* ----- // 20191002 JESS NEW 相關連結LINKS  // ----- */

#icon {
    /*padding-top: 8px;*/
    /*padding-bottom: 50px;*/
}

/* 相關連結 icon-items_1 ~ 6  CSS */
.icon-items_1, .icon-items_2, .icon-items_3, .icon-items_4, .icon-items_5, .icon-items_6 {
	position: relative;
	display: block;
	/* width: 100%; */
	/*height: 50px;*/
	
	font-family: "open sans", "微軟正黑體", sans-serif !important;
	font-size: 1.25rem;
	line-height: 60px;
	font-weight: 600;
	letter-spacing: 1rem;
	color: var(--G555color);
	text-align: center;
	border-radius: 5px;
	
	overflow: hidden;
	margin-bottom: 10px;	
}

/* ----- //FACEBOOK 用 -----*/
.icon-items_6 {
	letter-spacing: 0.25rem;
}
/* ----- //FACEBOOK 用 -----*/

.icon-items_1 {
	border: 1px solid #f2ccca;
	background-color: transparent;
}

.icon-items_2 {
	border: 1px solid #b8e1de;
	background-color: transparent;
}

.icon-items_3 {
	border: 1px solid #fce9a7;
	background-color: transparent;
}

.icon-items_4 {
	border: 1px solid #d8cfec;
	background-color: transparent;
}

.icon-items_5 {
	border: 1px solid #d5e9cc;
	background-color: transparent;
}

.icon-items_6 {
	border: 1px solid #c1d7ee;
	background-color: transparent;
}

/*@media(max-width:992px) {
  .icon-items_1 {
    margin-left: 10px;
    width: 48%;
  }
}

@media(max-width:630px) {
  .icon-items_1 {
    margin-left: 0;
    width: 100%;
  }
}*/

.mask_box_1, .mask_box_2, .mask_box_3, .mask_box_4, .mask_box_5, .mask_box_6  {
	position: absolute;
	display: block;
	width: 100%;
	height: 65px;
	
	top: 7px;
	left: 8px;         /* 這邊修改，mask_text_1~6也要改一樣 */
	border-radius: 5px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transform-origin: top left;
}

.mask_box_1 {
	background-color: #f2ccca;
}
.icon-items_1:hover .mask_box_1  {
	transform: translate(-8px, -8px);
	background-color: #ffe08c;
}

.mask_box_2 {
	background-color: #b8e1de;
}
.icon-items_2:hover .mask_box_2  {
	transform: translate(-8px, -8px);
	background-color: #b8e1de;
}

.mask_box_3 {
	background-color: #fce9a7;
}
.icon-items_3:hover .mask_box_3 {
	transform: translate(-8px, -8px);
	background-color: #fce9a7;
}

.mask_box_4 {
	background-color: #d8cfec;
}
.icon-items_4:hover .mask_box_4 {
	transform: translate(-8px, -8px);
	background-color: #d8cfec;
}

.mask_box_5 {
	background-color: #d5e9cc;
}
.icon-items_5:hover .mask_box_5 {
	transform: translate(-8px, -8px);
	background-color: #d5e9cc;
}

.mask_box_6 {
	background-color: #c1d7ee;
}
.icon-items_6:hover .mask_box_6 {
	transform: translate(-8px, -8px);
	background-color: #c1d7ee;
}

.mask_text_1, .mask_text_2, .mask_text_3, .mask_text_4, .mask_text_5, .mask_text_6 {
	position: relative;
	display: block;	
	z-index: 9999;
	text-align: center;	
	left: 8px;
}

/* ----- //FACEBOOK 用 -----*/
.mask_text_6 {
	left: 2px;
}
/* ----- //FACEBOOK 用 -----*/

.mask_text_1:hover, .mask_text_2:hover, .mask_text_3:hover, .mask_text_4:hover, .mask_text_5:hover, .mask_text_6:hover {
	color: #3d7500;
}

/*---- //20191002 JESS NEW END ----*/


/*================ ICON Part CSS End ============= */