@charset "utf-8";
/* CSS Document */

.slideBar {
    width: 85px;
    max-height: 200px;
    background-color: rgba(244, 238, 226, 0.75);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
	border-left: 5px solid var(--color_007069);
    padding: 20px;
	margin: auto 0;
    box-shadow: 0 0 5px rgba(23, 23, 54, 0.6);
    transform: translateX(0);
    transition: all 0.5s;
    z-index: 10000;
	
	border-top-left-radius: 16px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 16px;
}
.slideBar.active {
    transform: translateX(80px); /*.slideBar width: 85px - 5px*/
}
/* --------------------------------------- */

.slideBar .btn {
    position: absolute;
    top: calc((100% / 2) - (52px / 2));
    left: -26px;
    padding: 15px 5px !important;
    background-color: #345b86;
	background-color: #873c00;
    border-radius: 6px 0 0 6px;    
}
.slideBar .btn:focus {
    text-decoration: none;
    outline: 2px dashed #43B5FC !important;
	outline: thin dotted;
	outline-offset: -2px !important;
	box-shadow: none;
}
.slideBar .btn i.fa {
	font-size: 125%;
	color: var(--FFFcolor);
}
.slideBar .btn .fa-chevron-right {
    transform: rotate(0);
    transition: all 0.5s;
}
.slideBar .btn .fa-chevron-right.rotate {
    transform: rotate(180deg);
}
/* --------------------------------------- */

.slideBar .listBox {
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: auto 0;	
}
.slideBar .listBox .ul_List {
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    
	padding: 0; /*0*/
	margin: 0;
	list-style: none;
}
.slideBar .listBox .ul_List li {
	display: block;    
    line-height: 1.1;
	color: var(--FFFcolor);
	margin-bottom: 10px;
}
.slideBar .listBox .ul_List li:nth-last-child {
	margin-bottom: 0;
}
.slideBar .listBox .ul_List li a {
	font-size: 250%;
    color: var(--color_007069);
    outline: none;
    border: none;
}
.slideBar .listBox .ul_List li a:hover,
.slideBar .listBox .ul_List li a:focus {
    color: var(--color_007069);
}
.slideBar .listBox .ul_List li a:focus {
	color: var(--color_007069);
	text-decoration: none;
    outline: 2px dashed #43B5FC !important;
	outline-offset: -2px !important;
}
/* --------------------------------------- */




