<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
	<PropertyGroup>
		<DeleteExistingFiles>true</DeleteExistingFiles>
		<ExcludeApp_Data>false</ExcludeApp_Data>
		<LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
		<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<PublishProvider>FileSystem</PublishProvider>
		<PublishUrl>Publish\</PublishUrl>
		<WebPublishMethod>FileSystem</WebPublishMethod>
		<_TargetId>Folder</_TargetId>
		<SiteUrlToLaunchAfterPublish/>
		<ProjectGuid>76a25aca-f4d1-4f26-ad40-f1a6219bc67b</ProjectGuid>
		<SelfContained>false</SelfContained>
		<RuntimeIdentifier>win-x64</RuntimeIdentifier>
		<PublishSingleFile>false</PublishSingleFile>
	</PropertyGroup>
	<Target Name="ZipPublishedBackend"
	        AfterTargets="AfterPublish">
		<PropertyGroup>
			<BackendPublishDir>$(MSBuildProjectDirectory)\Publish</BackendPublishDir>
		</PropertyGroup>
		<Exec WorkingDirectory="$(MSBuildProjectDirectory)"
		      ConsoleToMSBuild="true"
		      Command="powershell.exe -NoProfile -ExecutionPolicy Bypass -File &quot;$(MSBuildProjectDirectory)\Scripts\Zip-PublishedBackend.ps1&quot; -ProjectDir &quot;$(MSBuildProjectDirectory)&quot; -PublishDir &quot;$(BackendPublishDir)&quot; -CompileSpecCode &quot;$(SpecCode)&quot;"/>
	</Target>
</Project>