@charset "utf-8";
/* CSS Document */





/* ================================== */
/* == 自訂分頁列 ===================== */
/* ================================= */
.custom-pagination li {
    display: inline-block;
}

.custom-pagination a {
	display: inline-block;
	font-size: 0.875rem; /*14px*/
    font-weight: bold;   
	width: 36px; 
    height: 36px;
    line-height: 36px;
	padding: 0;
	color: var(--color-v0);    
    background: #f6f6f6;    
    border-radius: 100%;
    text-align: center;
    vertical-align: top;
}

.custom-pagination a.active {
    color: var(--color-ff);
    background-color: var(--color-v2);
}

.custom-pagination a:hover {
    color: var(--color-ff);
    background-color: var(--color-v2-hover);
}
/* ================================== */
/* == 自訂分頁列 ===================== */
/* ================================= */





































