@charset "utf-8";
/* CSS Document */

.count_section02 {
	text-align: center;
	
	/*background-color: var(--FFFcolor);*/
	
	/*background-image: url(../../images/news/news_section_bg.png);*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.count_section02 .milestone-counter {
	display: inline-block;
	width: 100%;
    border: 0;
    color: var(--FFFcolor);
    padding: 10px;
    margin: 0 0 5px;
	border-radius: 20px;
}

.count_section02 .milestone-counter.c1 {
    background: #37bdc5 !important;
}

.count_section02 .milestone-counter.c2 {
    background: #2795b7 !important;
}

.count_section02 .milestone-counter.c3 {
    background: #1a75ab !important;
}

.count_section02 .milestone-counter img {
    margin-left: 20px;
    margin-top: 5px;
}

.count_section02 .alignleft {
    float: left;
    /*margin: 10px 20px 20px 0;*/
}

.count_section02 .milestone-counter .sc-box {
	margin-top: 12px;
	padding: 0 20px;
	text-align: center;
}

.count_section02 .milestone-counter h3 {
    font-size: 2em; /*32*/
	font-weight: 900;
    margin-bottom: 0px;
    color: var(--FFFcolor);
	text-align: center;
	padding: 0 10px 0 12px;	
}

.count_section02 .milestone-counter .stat-count-2 {
	position: relative;
	display: inline-block;
}

.count_section02 .milestone-counter .percent {
	position: relative;
	display: inline-block;
    font-size: 1.25em; /*14*/
	font-weight: 600;
    color: var(--FFFcolor);
    text-transform: uppercase;
	text-align: center;
	padding: 0;
}

.count_section02 .milestone-counter p {
    font-size: 1.25em; /*14*/
	font-weight: 600;
    color: var(--FFFcolor);
    text-transform: uppercase;
	text-align: center;
	padding: 0 20px;
	
	display: -webkit-box;
	/* 第一步：設定 display 為 -webkit-box 元素。 */
	-webkit-box-orient: vertical;
	/* 第二步：設定 box 的子元素，是由上往下垂直排列。*/
	-webkit-line-clamp: 1;
	/* 第三步：設定欲顯示的行數，超出則顯示省略符號(...)。 */
	overflow: hidden;
	/* 第四步：設定超過上述指定之行數時隱藏。 */
	max-height: 45px;
  	/* 第五步：其它瀏覽器降級方式：給定最大高度 */
}








































