@charset "utf-8";
/* CSS Document */

.cart-main-area .table-content table {
    border: 1px solid #ebebeb;
    width: 100%
}

.cart-main-area .table-content table thead>tr {
    background-color: #ebebeb;
    border: 1px solid #ebebeb
}

.cart-main-area .table-content table thead>tr>th {
    border-top: medium none;
    color: var(--color-v0);
    font-size: 0.875rem; /*14px*/
    font-weight: 700;
    padding: 21px 45px 22px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap
}

.cart-main-area .table-content table tbody>tr {
    border-bottom: 1px solid #ebebeb
}

.cart-main-area .table-content table tbody>tr td {
    color: var(--color-v0);
    font-size: 0.9375rem; /*15px*/
    padding: 30px 0;
    text-align: center
}

.cart-main-area .table-content table tbody>tr td.product-thumbnail {
    width: 150px
}

.cart-main-area .table-content table tbody>tr td.product-name {
    width: 435px
}

.cart-main-area .table-content table tbody>tr td.product-name a {
    color: var(--color-v0);
    font-size: 0.9375rem; /*15px*/
    font-weight: 500
}

.cart-main-area .table-content table tbody>tr td.product-price-cart {
    width: 435px
}

.cart-main-area .table-content table tbody>tr td.product-quantity {
    width: 435px
}

.cart-main-area .table-content table tbody>tr td.product-quantity .cart-plus-minus {
    display: inline-block;
    height: 40px;
    padding: 0;
    position: relative;
    width: 110px
}

.cart-main-area .table-content table tbody>tr td.product-quantity .cart-plus-minus .dec.qtybutton {
    border-right: 1px solid #e5e5e5;
    height: 40px;
    left: 0;
    padding-top: 8px;
    top: 0
}

.cart-main-area .table-content table tbody>tr td.product-quantity .cart-plus-minus .inc.qtybutton {
    border-left: 1px solid #e5e5e5;
    height: 40px;
    padding-top: 9px;
    right: 0;
    top: 0
}

.cart-main-area .table-content table tbody>tr td.product-quantity .cart-plus-minus .qtybutton {
    color: var(--color-v0);
    cursor: pointer;
    float: inherit;
    font-size: 1rem; /*16px*/
    margin: 0;
    position: absolute;
    transition: all .3s ease 0s;
    width: 20px;
    text-align: center
}

.cart-main-area .table-content table tbody>tr td.product-quantity .cart-plus-minus input.cart-plus-minus-box {
    color: var(--color-v0);
    float: left;
    font-size: 0.875rem; /*14px*/
    height: 40px;
    margin: 0;
    width: 110px;
    background: transparent none repeat scroll 0 0;
    border: 1px solid #e1e1e1;
    padding: 0;
    text-align: center
}

.cart-main-area .table-content table tbody>tr td.product-remove {
    width: 100px
}

.cart-main-area .table-content table tbody>tr td.product-remove a {
    color: var(--color-v0);
    font-size: 1rem; /*16px*/
    margin: 0 10px
}

.cart-main-area .table-content table tbody>tr td.product-remove a:hover {
    color: #ff7004
}

.cart-main-area .table-content table tbody>tr td.product-wishlist-cart>a {
    background-color: #ff7004;
    border-radius: 0;
    color: var(--color-ff);
    font-size: 0.875rem; /*14px*/
    font-weight: 700;
    line-height: 1;
    padding: 10px 12px;
    text-transform: uppercase
}

.cart-main-area .table-content table tbody>tr td.product-wishlist-cart>a:hover {
    background-color: var(--color-v0)
}

.cart-main-area .cart-shiping-update-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 60px
}

.cart-main-area .cart-shiping-update-wrapper .cart-clear>button {
    border: medium none;
    cursor: pointer;
    margin-right: 27px;
    transition: all .3s ease 0s
}

@media only screen and (max-width:767px) {
    .cart-main-area .cart-shiping-update-wrapper {
        display: block;
        padding: 30px 0 15px
    }
}



















/* ===== STYLE 01 Cart Total 購物車 結算總計 區塊 ====== */
.shoping-cart-form .custom-totall {
    background-color: #ebebeb;
    border: 1px solid #ebebeb;
    border-radius: 0;
    padding: 45px 45px 50px 45px;
}

.shoping-cart-form .custom-totall .title-wrap {
    position: relative;
}

.shoping-cart-form .custom-totall .title-wrap::before {
    background-color: #e3e1e1;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 13px;
    transition: all .4s ease 0s;
    width: 100%;
    z-index: 1;
}

.shoping-cart-form .custom-totall .title-wrap .cart-bottom-title.h4,
.shoping-cart-form .custom-totall .title-wrap h4.cart-bottom-title {
    display: inline-block;
    font-size: 1.125rem; /*18px*/
    font-weight: 700;
    margin: 0;
    padding-right: 18px;
    background-color: #ebebeb;
    position: relative;
    z-index: 1;
    color: var(--color-v0);
}

.shoping-cart-form .custom-totall .tax-wrapper {
    margin-top: 22px;
}

.shoping-cart-form .custom-totall .h5,
.shoping-cart-form .custom-totall h5 {
    font-size: 0.875rem; /*14px*/
    margin: 36px 0 27px;
    font-weight: 400;
}

.shoping-cart-form .custom-totall .h5 span,
.shoping-cart-form .custom-totall h5 span {
    float: right;
    font-size: 1.125rem; /*18px*/
    font-weight: 700;
}

.shoping-cart-form .custom-totall .total-shipping {
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    margin: 0 0 27px;
    padding: 28px 0;
}

.shoping-cart-form .custom-totall .total-shipping .h5,
.shoping-cart-form .custom-totall .total-shipping h5 {
    font-size: 0.875rem; /*14px*/
    margin: 0;
}

.shoping-cart-form .custom-totall .total-shipping ul {
    padding: 19px 0 0 0;
}

.shoping-cart-form .custom-totall .total-shipping ul li {
    color: var(--color-v0);
    list-style: outside none none;
    margin: 0 0 6px;
    display: block;
}

.shoping-cart-form .custom-totall .total-shipping ul li input {
    background: #e9e9e9 none repeat scroll 0 0;
    border: 1px solid #d7d7d7;
    border-radius: 5px !important;
    color: var(--color-v0);
    cursor: pointer;
    height: 13px;
    margin-right: 10px;
    padding: 0;
    position: relative;
    top: 2px;
    width: 13px;
}

.shoping-cart-form .custom-totall .total-shipping ul li span {
    float: right;
}

.shoping-cart-form .custom-totall .custom-totall-title {
    color: #ff7004;
    font-size: 1.25rem; /*20px*/
    font-weight: 700;
    margin: 0 0 25px;
}

.shoping-cart-form .custom-totall .custom-totall-title span {
    float: right;
}

.shoping-cart-form .custom-totall a {
    display: block;
    font-size: 0.875rem; /*14px*/
    font-weight: 700;
    line-height: 1;
	color: var(--color-ff);
	
    padding: 18px 10px 17px;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s ease 0s;
	
	border-radius: 99rem;
	background-color: #ff7004;
}

.shoping-cart-form .custom-totall a:hover {
    background-color: var(--color-v2)
}

.shoping-cart-form .totall-button {
    background-color: #ebebeb;
    border: 1px solid #ebebeb;
    border-radius: 0;
    padding: 45px 30px 50px;
}

.shoping-cart-form .totall-button a {
    display: block;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1;
    color: var(--color-ff);
    padding: 18px 10px 17px;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s ease 0s;
    border-radius: 99rem;
    background-color: #ff7004;
}

.shoping-cart-form .totall-button a:hover {
    background-color: var(--color-v2);
}
/* ===== STYLE 01 Cart Total 購物車 結算總計 區塊 ====== */

/* ===== Cart Total 購物車 結算總計 區塊 ====== */
.shoping-cart-form .grand-totall {
    background-color: #ebebeb;
    border: 1px solid #ebebeb;
    border-radius: 0;
    padding: 45px 30px 50px;
}

.shoping-cart-form .grand-totall .title-wrap {
    position: relative;
}

.shoping-cart-form .grand-totall .title-wrap::before {
    background-color: #e3e1e1;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 13px;
    transition: all .4s ease 0s;
    width: 100%;
    z-index: 1;
}

.shoping-cart-form .grand-totall .title-wrap .cart-bottom-title.h4,
.shoping-cart-form .grand-totall .title-wrap h4.cart-bottom-title {
    display: inline-block;
    font-size: 1.125rem; /*18px*/
    font-weight: 700;
    margin: 0;
    padding-right: 18px;
    background-color: #ebebeb;
    position: relative;
    z-index: 1;
    color: var(--color-v0);
}

.shoping-cart-form .grand-totall .tax-wrapper {
    margin-top: 22px;
}

.shoping-cart-form .grand-totall .h5,
.shoping-cart-form .grand-totall h5 {
    font-size: 0.875rem; /*14px*/
    margin: 36px 0 27px;
    font-weight: 400;
}

.shoping-cart-form .grand-totall .h5 span,
.shoping-cart-form .grand-totall h5 span {
    float: right;
    font-size: 1.125rem; /*18px*/
    font-weight: 700;
}

.shoping-cart-form .grand-totall .total-shipping {
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    margin: 0 0 27px;
    padding: 28px 0;
}

.shoping-cart-form .grand-totall .total-shipping .h5,
.shoping-cart-form .grand-totall .total-shipping h5 {
    font-size: 0.875rem; /*14px*/
    margin: 0
}

.shoping-cart-form .grand-totall .total-shipping ul {
    padding: 19px 0 0 0;
}

.shoping-cart-form .grand-totall .total-shipping ul li {
    color: var(--color-v0);
    list-style: outside none none;
    margin: 0 0 6px;
    display: block;
}

.shoping-cart-form .grand-totall .total-shipping ul li input {
    background: #e9e9e9 none repeat scroll 0 0;
    border: 1px solid #d7d7d7;
    border-radius: 5px !important;
    color: var(--color-v0);
    cursor: pointer;
    height: 13px;
    margin-right: 10px;
    padding: 0;
    position: relative;
    top: 2px;
    width: 13px;
}

.shoping-cart-form .grand-totall .total-shipping ul li span {
    float: right;
}

.shoping-cart-form .grand-totall .grand-totall-title {
    color: #ff7004;
    font-size: 1.25rem; /*20px*/
    font-weight: 700;
    margin: 0 0 25px;
}

.shoping-cart-form .grand-totall .grand-totall-title span {
    float: right;
}

.shoping-cart-form .grand-totall a {
    display: block;
    font-size: 0.875rem; /*14px*/
    font-weight: 700;
    line-height: 1;
	color: var(--color-ff);
	
    padding: 18px 10px 17px;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s ease 0s;
	
	border-radius: 99rem;
	background-color: #ff7004;
}

.shoping-cart-form .grand-totall a:hover {
    background-color: var(--color-v2);
}

.shoping-cart-form .totall-button {
    background-color: #ebebeb;
    border: 1px solid #ebebeb;
    border-radius: 0;
    padding: 45px 30px 50px;
}

.shoping-cart-form .totall-button a {
    display: block;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1;
    color: var(--color-ff);
    padding: 18px 10px 17px;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s ease 0s;
    border-radius: 99rem;
    background-color: #ff7004;
}

.shoping-cart-form .totall-button a:hover {
    background-color: var(--color-v2)
}
/* ===== Cart Total 購物車 結算總計 區塊 ====== */
