@charset "utf-8";
/* CSS Document */


:root {
  --Customize-dropdown-item-padding-X: 1rem;
  --Customize-dropdown-item-padding-y: 0.75rem;	
  --Customize-dropdown-mega-item-padding-X: 1rem;
  --Customize-dropdown-mega-item-padding-y: 0.75rem;	
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
/* <<<<<<<< / PC板模式 ALL // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
/* ========================================================== */
/* ==== // navbar-toggler ALL // ============================ */
.navbar-toggler {    
    font-size: 125%; /*1.25em*/
    line-height: 1;
	color: var(--FFFcolor);
	padding: .25rem .25rem;
	border-radius: 100%;    
    background-color: var(--FFFcolor);
    border: 1px solid var(--border_color);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.175);
}
.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler:hover {
    background-color: var(--Customize_color);
}
.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler .hamburger-toggle {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    z-index: 11;
    float: right;
}
@media screen and (min-width: 320px) and (max-width: 575px) {
	.navbar-toggler .hamburger-toggle {
		font-size: 93.75%;
		width: 28px;
		height: 28px;
	}
}

.navbar-toggler .hamburger-toggle .hamburger {
    position: absolute;
    transform: translate(-50%, -50%) rotate(0deg);
    left: 50%;
    top: 50%;
    width: 50%;
    height: 50%;
    pointer-events: none;
}
.navbar-toggler .hamburger-toggle:hover .hamburger {
	color: var(--FFFcolor);
}

.navbar-toggler .hamburger-toggle .hamburger span {
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: var(--blackcolor);
    border-radius: 2px;
    z-index: 1;
    transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), all 0.2s ease-in-out;
    left: 0px;
}

.menu_section .navbar-dark .navbar-toggler:hover .hamburger span {
    background-color: var(--FFFcolor);
}


.navbar-toggler .hamburger-toggle .hamburger span:first-child {
    top: 10%;
    transform-origin: 50% 50%;
    transform: translate(0% -50%) !important;
}
.navbar-toggler .hamburger-toggle .hamburger span:nth-child(2) {
    top: 50%;
    transform: translate(0, -50%);
}
.navbar-toggler .hamburger-toggle .hamburger span:last-child {
    left: 0px;
    top: auto;
    bottom: 10%;
    transform-origin: 50% 50%;
}

.navbar-toggler .hamburger-toggle .hamburger.active span {
    position: absolute;
    margin: 0;
}
.navbar-toggler .hamburger-toggle .hamburger.active span:first-child {
    top: 45%;
    transform: rotate(45deg);
}
.navbar-toggler .hamburger-toggle .hamburger.active span:nth-child(2) {
    left: 50%;
    width: 0px;
}
.navbar-toggler .hamburger-toggle .hamburger.active span:last-child {
    top: 45%;
    transform: rotate(-45deg);
}

/* ==== // navbar-toggler ALL // ============================ */
/* ========================================================== */

/* ========================================================== */
/* ==== // navbar-nav // ==================================== */
@media screen and (min-width: 992px) {
	.navbar-expand-lg .navbar-nav {
		flex-direction: row;
	}
}
/* 新增 */
@media screen and (min-width: 992px) {
	.navbar-expand-lg .navbar-nav {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		flex-direction: row;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: center;
	}
}
/* 新增 */
/* ==== // navbar-nav // ==================================== */
/* ========================================================== */

/* ========================================================== */
/* ==== // nav-link  // ===================================== */
#navbar-content .nav-link {
	position: relative;
	display: block;
	padding: var(--Customize-dropdown-item-padding-y) var(--Customize-dropdown-item-padding-X);
	font-size: 106.25%;
	font-weight: 900;
	letter-spacing: 0.05rem;
	color: inherit;
	text-decoration: none;
	background: 0 0;
	border: 0;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
#navbar-content .nav-link {
	color: var(--blackcolor);
	/*font-weight: bold;*/
	/*margin: 0.5rem 0;*/
}
#navbar-content .nav-link:focus-visible {
	outline: 1px solid var(--a_focusbordercolor);
	box-shadow: none;
}

#navbar-content .nav-link.active,
#navbar-content .nav-link.disabled,
#navbar-content .nav-link.show {
    color: var(--Customize_HRcolor);
}
#navbar-content .nav-link:hover,
#navbar-content .nav-link:focus,
#navbar-content .nav-link:active {
    color: var(--Customize_HRcolor);
}

/* 第一層::before 滑動線條  */
@media screen and (min-width: 992px) {
	#navbar-content .nav-link::before {
		color: var(--Customize_HRcolor);    
		content: '';
		width: 100%;
		position: absolute;
		bottom: 0px;
		height: 2px;
		background-color: currentColor;

        -webkit-transform: scale(0, 0) translate(-100%, 0);
        transform: scale(0, 0) translate(-100%, 0);
        transition: color .0s ease-in-out, -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out, color .0s ease-in-out;
        transition: transform .3s ease-in-out, color .0s ease-in-out, -webkit-transform .2s ease-in-out;
    }
    #navbar-content .nav-link:hover::before {
        width: calc( 100% - 2.2em);
    }
    #navbar-content .nav-link:hover::before {
        -webkit-transform: scale(1, 1) translate(0%, 0);
        transform: scale(1, 1) translate(0%, 0);
    }
}
/* 第一層::before 滑動線條  */
/* ==== // nav-link  // ===================================== */
/* ========================================================== */

/* ========================================================== */
/* ==== // dropdown-menu ALL // ============================= */
/* 第一層 */
#navbar-content ul.navbar-nav .dropdown-item {
	display: block;
	width: 100%;
	padding: var(--Customize-dropdown-item-padding-y) var(--Customize-dropdown-item-padding-X);
	clear: both;
	font-weight: 900;
	letter-spacing: 0.025rem;
	color: inherit;
	text-align: inherit;
	text-decoration: none;
	white-space: normal;
	background-color: transparent;
	border: 0;
	border-radius: 0;
}
/* 第一層 */
/* ========================================================== */
#navbar-content ul.navbar-nav .dropdown-item,
#navbar-content .navbar-nav .dropend .dropdown-toggle {
    color: var(--blackcolor);
}
#navbar-content ul.navbar-nav .dropdown-item:hover,
#navbar-content ul.navbar-nav .dropend .dropdown-toggle:hover {
	color: var(--FFFcolor);
    background-color: var(--Customize_HRcolor);
}
/* ========================================================== */

/* ========================================================== */
/* ==== // MENU 選單文字大小 // =============================== */
/* 第二層 *//* 第三層 *//* 第四層 *//* 第五層 */
#navbar-content ul.navbar-nav ul a.dropdown-item /*第二層*/,
#navbar-content ul.navbar-nav ul ul a.dropdown-item /*第三層*/, 
#navbar-content ul.navbar-nav ul ul ul a.dropdown-item /*第四層*/,
#navbar-content ul.navbar-nav ul ul ul ul a.dropdown-item /*第五層*/ {
	/*font-size: 93.75%;*/
	border-bottom: 1px solid #bbb;
}

/* PC模式時，第一層::after 箭頭位置  */
@media screen and (min-width: 992px) {
	#navbar-content ul .dropdown-toggle::after {
		position: relative;
		display: inline-block;
		top: 1px;
		right: -3px;
		margin-left: .255em;
		vertical-align: .255em;
		content: "";
		border-top: .25em solid;
		border-right: .25em solid transparent;
		border-bottom: 0;
		border-left: .25em solid transparent;
	}
	#navbar-content ul .dropdown-toggle::after {
		color: var(--G999color);
	}
	
	#navbar-content ul .dropdown-toggle:hover::after,
	#navbar-content ul .dropdown-toggle:focus::after,
	#navbar-content ul .dropdown-toggle:active::after {
		color: var(--Customize_HRcolor);
	}
}
/* PC模式時，第一層::after 箭頭位置  */

/* PC模式時，第二層 *//* 第三層 *//* 第四層 *//* 第五層::after 箭頭位置 */
@media screen and (min-width: 992px) {
	#navbar-content ul ul .dropend .dropdown-toggle::after,
	#navbar-content ul ul ul .dropend .dropdown-toggle::after,
	#navbar-content ul ul ul ul .dropend .dropdown-toggle::after,
	#navbar-content ul ul ul ul ul .dropend .dropdown-toggle::after {
		position: absolute;
		top: 42.5%;
		right: 5%;  
		display: inline-block;
		margin-left: .255em;
		vertical-align: .255em;
		content: "";
		border-top: .3em solid transparent;
		border-right: 0;
		border-bottom: .3em solid transparent;
		border-left: .3em solid;
	}
	#navbar-content ul ul .dropend .dropdown-toggle:hover::after,
	#navbar-content ul ul .dropend .dropdown-toggle:focus::after,
	#navbar-content ul ul .dropend .dropdown-toggle:active::after,

	#navbar-content ul ul ul .dropend .dropdown-toggle:hover::after,
	#navbar-content ul ul ul .dropend .dropdown-toggle:focus::after,
	#navbar-content ul ul ul .dropend .dropdown-toggle:active::after,

	#navbar-content ul ul ul ul .dropend .dropdown-toggle:hover::after,
	#navbar-content ul ul ul ul .dropend .dropdown-toggle:focus::after,
	#navbar-content ul ul ul ul .dropend .dropdown-toggle:active::after,

	#navbar-content ul ul ul ul ul .dropend .dropdown-toggle:hover::after,
	#navbar-content ul ul ul ul ul .dropend .dropdown-toggle:focus::after,
	#navbar-content ul ul ul ul ul .dropend .dropdown-toggle:active::after {
		color: var(--FFFcolor);
	}
}	
/* ==== // MENU 選單文字大小 // =============================== */
/* ========================================================== */

/* ========================================================== */
/* ==== // dropdown-menu // ================================= */
.dropdown .dropdown-menu {
    display: none;
}
@media screen and (min-width: 992px) {
	.navbar-expand-lg .navbar-nav .dropdown-menu {
		position: absolute;
		min-width: 16rem;
		max-width: 20rem;
		padding: 0rem 0;
		-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.175) !important;
		box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.175) !important;
		background-color: var(--FFFcolor);	
	}
	.navbar-expand-lg .navbar-nav .dropdown-menu[data-bs-popper] {
		top: 100%;
		left: 0;
		/*margin-top: var(--bs-dropdown-spacer);*/
		margin-top: 0;
	}
}
/* ========================================================== */
/* 下拉選單向上滑動出現 */
.dropdown .dropdown-menu {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
	/*-webkit-animation-name: fadeInUp__General_Version;
    animation-name: fadeInUp__General_Version;*/
}
@-webkit-keyframes fadeInUp__General_Version {
	from {
		opacity: 0;
		-webkit-transform: translateY(20px);
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}
@keyframes fadeInUp__General_Version {
	from {
		opacity: 0;
		-webkit-transform: translateY(20px);
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}
/* 下拉選單向上滑動出現 */
/* ========================================================== */

/* ========================================================== */
/* 手機模式時，取消HOVER狀態 */
.dropdown-menu.show {
	display: block;
}
/* 手機模式時，取消HOVER狀態 */
/* ========================================================== */

/* ========================================================== */
/* PC模式時，HOVER狀態 */
@media screen and (min-width: 992px) {
	.dropdown:hover > .dropdown-menu,
	.dropend:hover > .dropdown-menu {
		display: block;
	}
	
	.dropend:hover > .dropdown-toggle,
	.dropend > .dropdown-toggle.show {
		background: var(--Customize_HRcolor) !important;
		color: var(--FFFcolor) !important;
	}
}
@media screen and (min-width: 992px) {
    .dropend:hover > .dropdown-menu {
        position: absolute;
        top: 0;
        left: 100%;
    }
}
/* PC模式時，HOVER狀態 */
/* ========================================================== */

/* ========================================================== */
/* 自訂判別 第三層/第四層/第五層 MENU submenu 左右呈現位置 */
#navbar-content .navbar-nav .submenu {
    position: relative;
}
#navbar-content .navbar-nav .submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: 0;
}
#navbar-content .navbar-nav .submenu.show-left .dropdown-menu {
    left: auto;
    right: 100%;
    margin-left: 0;
    margin-right: 0;
}
/* 自訂判別 第三層/第四層/第五層 MENU submenu 左右呈現位置 */
/* ========================================================== */
/* ==== // dropdown-menu // ================================= */

/* ==== // dropdown-menu ALL // ============================= */
/* ========================================================== */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
/* <<<<<<<< / PC板模式 ALL // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */



/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
/* <<<<<<<< / 手機板模式 ALL // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
@media screen and (max-width: 991px) {
	.navbar-collapse {
		position: absolute;
		left: 0px;	
		
		/* 重要 : 如果 MENU 有出現底線線條(Line_section BOTTOM)，此處top: 100% 就要加上(Line_section BOTTOM 高度 Npx)，否則設為 top: 100%; */
		top: calc(100% + 0px); 			
				
		/*height: 41vh;*/
		height: auto;
		max-height: calc(100vh - 51vh);
		/*width: calc(100% + 30px);*/
		width: 100vw;
		margin-left: -15px;	
		border-left: 1px solid rgba(0, 0, 0, 0.175);
		border-right: 1px solid rgba(0, 0, 0, 0.175);
		border-bottom: 1px solid rgba(0, 0, 0, 0.175);
		border-radius: 0 0 0.5rem 0.5rem;
		background-color: var(--FFFcolor);	
		z-index: 1000;
		
		-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.175) !important;
		box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.175) !important;
	}
	.collapsing {
		height: 0;
		overflow: hidden;
		transition: height .35s ease
	}
	
	.navbar-collapse.overflow-scroll-Y {
		overflow-y: scroll;
	}
	/* 定義滾動條樣式（高寬及背景）*/ 
	.navbar-collapse.overflow-scroll-Y::-webkit-scrollbar { 
		width: 6px;   /* 滾動條寬度， width：對應垂直滾動條的寬度 height：對應橫滾動條的高度 */
		background-color: #e9ecef;
	} 
	/* 定義滾動條軌道（凹槽）樣式 */
	.navbar-collapse.overflow-scroll-Y::-webkit-scrollbar-track { 
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);    /* 较少使用 */
		border-radius: 3px; 
	} 
	/* 定義滑桿 樣式 */
	.navbar-collapse.overflow-scroll-Y::-webkit-scrollbar-thumb { 
		border-radius: 3px; 
		height: 100px;    /* 捲軸滑桿長度 */    
		background-color: #007acc;
	}
}
/* ========================================================== */
@media screen and (max-width: 991px) {
	.navbar-nav .dropdown-menu {
		position: static;
	}
	.navbar-nav .dropdown-menu {
		z-index: 1000;
		min-width: 10rem;
		/*padding: var(--Customize-dropdown-item-padding-y) 0rem;*/
		padding: 0rem;
		margin: 0;
		margin-top: 0px;
		font-size: 100%;
		color: var(--blackcolor);
		text-align: left;
		list-style: none;
		
		background-color: var(--FFFcolor);
		
		background-clip: padding-box;
		/*border: 1 solid rgba(0, 0, 0, 0.175);*/
		border: none;
		/*border-radius: 0.375rem;*/
		border-radius: 0;
	}
	
	.dropdown-menu[data-bs-popper] {
		top: 100%;
		left: 0;
		margin-top: 0;
	}
}

/* ========================================================== */
/* 手機模式時，HOVER + ACTIVE + FOCUS ... /*第一層*/ /*第二層 *//* 第三層 *//* 第四層 *//* 第五層 */
@media screen and (max-width: 991px) {
	#navbar-content .nav-link {
		color: var(--blackcolor);
		/*font-weight: bold;*/
		margin: 0rem 0;
	}
	/*第一層*//* 第二層 *//* 第三層 *//* 第四層 *//* 第五層 */
	#navbar-content ul a.nav-link.active /*第一層*/,
	#navbar-content ul a.nav-link.disabled /*第一層*/,
	#navbar-content ul a.nav-link.show /*第一層*/,
	#navbar-content ul a.nav-link:hover /*第一層*/,
	#navbar-content ul a.nav-link:focus /*第一層*/,
	#navbar-content ul a.nav-link:active /*第一層*/,
	
	#navbar-content .navbar-nav ul a.dropdown-item.active /*第二層*/,
	#navbar-content .navbar-nav ul a.dropdown-item.disabled /*第二層*/,
	#navbar-content .navbar-nav ul a.dropdown-item.show /*第二層*/,
	#navbar-content .navbar-nav ul a.dropdown-item:hover /*第二層*/,
	#navbar-content .navbar-nav ul a.dropdown-item:focus /*第二層*/,
	#navbar-content .navbar-nav ul a.dropdown-item :active /*第二層*/,
	
	#navbar-content .navbar-nav ul ul a.dropdown-item.active /*第三層*/,
	#navbar-content .navbar-nav ul ul a.dropdown-item.disabled /*第三層*/,
	#navbar-content .navbar-nav ul ul a.dropdown-item.show /*第三層*/,
	#navbar-content .navbar-nav ul ul a.dropdown-item:hover /*第三層*/,
	#navbar-content .navbar-nav ul ul a.dropdown-item:focus /*第三層*/,
	#navbar-content .navbar-nav ul ul a.dropdown-item:active /*第三層*/,
	
	#navbar-content .navbar-nav ul ul ul a.dropdown-item.active /*第四層*/,
	#navbar-content .navbar-nav ul ul ul a.dropdown-item.disabled /*第四層*/,
	#navbar-content .navbar-nav ul ul ul a.dropdown-item.show /*第四層*/,
	#navbar-content .navbar-nav ul ul ul a.dropdown-item:hover /*第四層*/,
	#navbar-content .navbar-nav ul ul ul a.dropdown-item:focus /*第四層*/,
	#navbar-content .navbar-nav ul ul ul a.dropdown-item:active /*第四層*/,
	
	#navbar-content .navbar-nav ul ul ul ul a.dropdown-item.active /*第五層*/,
	#navbar-content .navbar-nav ul ul ul ul a.dropdown-item.disabled /*第五層*/,
	#navbar-content .navbar-nav ul ul ul ul a.dropdown-item.show /*第五層*/,
	#navbar-content .navbar-nav ul ul ul ul a.dropdown-item:hover /*第五層*/,
	#navbar-content .navbar-nav ul ul ul ul a.dropdown-item:focus /*第五層*/,
	#navbar-content .navbar-nav ul ul ul ul a.dropdown-item:active /*第五層*/ {
		color: var(--FFFcolor) !important;
		background-color: var(--Customize_HRcolor) !important;
		outline: none;
	}
}
/* 手機模式時，HOVER + ACTIVE + FOCUS ... /*第一層*/ /*第二層 *//* 第三層 *//* 第四層 *//* 第五層 */
/* ========================================================== */

/* ========================================================== */
/* 手機模式時，第二層 *//* 第三層 *//* 第四層 *//* 第五層 內縮位置 */
@media screen and (max-width: 991px) {
	/* 第二層 *//* 第三層 *//* 第四層 *//* 第五層 */
	#navbar-content .navbar-nav ul a.dropdown-item /*第二層*/ {
		padding: var(--Customize-dropdown-item-padding-y) 1.75rem;
	}
	#navbar-content .navbar-nav ul ul a.dropdown-item /*第三層*/ {
		padding: var(--Customize-dropdown-item-padding-y) 2.75rem;
	}
	#navbar-content .navbar-nav ul ul ul a.dropdown-item /*第四層*/ {
		padding: var(--Customize-dropdown-item-padding-y) 3.75rem;
	}
	#navbar-content .navbar-nav ul ul ul ul a.dropdown-item /*第五層*/ {
		padding: var(--Customize-dropdown-item-padding-y) 4.75rem;
	}
}
/* 手機模式時，第二層 *//* 第三層 *//* 第四層 *//* 第五層 內縮位置 */
/* ========================================================== */

/* ========================================================== */
/* 手機模式時，第二層 *//* 第三層 *//* 第四層 *//* 第五層 箭頭位置 */
@media screen and (max-width: 991px) {
	.dropdown-toggle:not(.show)::after {
		position: absolute;
		top: 15.5px;
		right: 5%; 
		display: inline-block;
		margin-left: .255em;
		vertical-align: .255em;
		content: "+";
		content: "\f067";
		border: none;
		
		font-family: "Font Awesome 5 Pro";
		font-size: 75%;
		font-weight: 300;
	}
	.dropdown-toggle::after {
		position: absolute;
		top: 15.5px;
		right: 5%; 
		display: inline-block;
		margin-left: .255em;
		vertical-align: .255em;
		content: "–";
		content: "\f068";
		border: none;
		
		font-family: "Font Awesome 5 Pro";
		font-size: 75%;
		font-weight: 300;
	}
	
	.dropend.submenu .dropdown-toggle:not(.show)::after,
	.dropend.submenu ul .dropdown-toggle:not(.show)::after,
	.dropend.submenu ul ul .dropdown-toggle:not(.show)::after,
	.dropend.submenu ul ul ul .dropdown-toggle:not(.show)::after,
	.dropend.submenu ul ul ul ul .dropdown-toggle:not(.show)::after {
		position: absolute;
		top: 15.5px;
		right: 5%; 
		display: inline-block;
		margin-left: .255em;
		vertical-align: .255em;
		content: "+";
		content: "\f067";
		
		font-family: "Font Awesome 5 Pro";
		border: none;
		font-size: 75%;
		font-weight: 300;
	}
	.dropend.submenu .dropdown-toggle::after,
	.dropend.submenu ul .dropdown-toggle::after,
	.dropend.submenu ul ul .dropdown-toggle::after,
	.dropend.submenu ul ul ul .dropdown-toggle::after,
	.dropend.submenu ul ul ul ul .dropdown-toggle::after {
		position: absolute;
		top: 15.5px;
		right: 5%; 
		display: inline-block;
		margin-left: .255em;
		vertical-align: .255em;
		content: "–";
		content: "\f068";
		
		font-family: "Font Awesome 5 Pro";
		border: none;
		font-size: 75%;
		font-weight: 300;
	}
}
/* 手機模式時，第二層 *//* 第三層 *//* 第四層 *//* 第五層 箭頭位置 */
/* ========================================================== */

/* ========================================================== */
/* 手機模式時，增加於 黑色透明遮照 */
@media screen and (max-width: 991px) {
	body .main-header.active .overlayer {
		opacity: 1;
		-webkit-transition: 0.9s;
		transition: 0.9s;
		pointer-events: auto;
	}
	body .overlayer {
		content: "";
		width: 100vw;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;
		background-color: rgba(0, 0, 0, 0.5);/*0.3*/
		display: block;
		pointer-events: none;
		opacity: 0;		
	}
}
/* 手機模式時，增加 黑色透明遮照 */
/* ========================================================== */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
/* <<<<<<<< / 手機板模式 ALL // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */


/* ========================================================== */


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
/* <<<<<<<< / PC板模式 MAGA ALL // >>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.nav-item.dropdown.dropdown-mega {
	position: static;
}
.nav-item.dropdown.dropdown-mega .dropdown-menu {
	width: 100%;
	top: auto;
	/*top: 125.7px;*/
	left: 0%;
	
	border: none;
	border-top-left-radius: 0rem;
	border-top-right-radius: 0rem;
	border-bottom-right-radius: 0.375rem;
	border-bottom-left-radius: 0.375rem;
	background-color: var(--FFFcolor);
	
	/*-webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;*/
}
/* ========================================================== */
/* 下拉選單向上滑動出現 */
.nav-item.dropdown.dropdown-mega .dropdown-menu {
	-webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
	/*-webkit-animation-name: fadeInUp__Maga_Version;
    animation-name: fadeInUp__Maga_Version;*/
}
@-webkit-keyframes fadeInUp__Maga_Version {
	from {
		opacity: 0;
		-webkit-transform: translateY(30px);
		transform: translateY(30px);
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}
@keyframes fadeInUp__Maga_Version {
	from {
		opacity: 0;
		-webkit-transform: translateY(30px);
		transform: translateY(30px);
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}
/* 下拉選單向上滑動出現 */
/* ========================================================== */

/*-------------------------------------------*/

@media screen and (max-width: 991px) {
	.nav-item.dropdown.dropdown-mega .dropdown-menu {
		width: 100%;
	}
	/* 箭頭位置 */
	.nav-item.dropdown.dropdown-mega .dropdown-toggle:not(.show)::after {
		position: absolute;
		top: 15.5px;
		right: 5%; 
		display: inline-block;
		margin-left: .255em;
		vertical-align: .255em;
		content: "+";
		content: "\f067";
		border: none;
		
		font-family: "Font Awesome 5 Pro";
		font-size: 75%;
		font-weight: 300;
	}
	.nav-item.dropdown.dropdown-mega .dropdown-toggle::after {
		position: absolute;
		top: 15.5px;
		right: 5%; 
		display: inline-block;
		margin-left: .255em;
		vertical-align: .255em;
		content: "–";
		content: "\f068";
		border: none;
		
		font-family: "Font Awesome 5 Pro";
		font-size: 75%;
		font-weight: 300;
	}
	/* 箭頭位置 */
}
@media screen and (min-width: 992px) {
	.nav-item.dropdown.dropdown-mega .dropdown-menu {
		/*position: absolute;*/	 /* 重要 預設值 */
		position: fixed;		 /* 重要 JESS 修改滿版浮動 20250918 */
		
		top: 124.7px !important;		 /* 重要 JESS 修改滿版浮動 20250918 */
		
		min-width: auto;
    	max-width: 100%;
		width: 100%;
	}
}
/* ========================================================== */

/* ========================================================== */
.nav-item.dropdown.dropdown-mega .row {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(-1 * var(--bs-gutter-y));
}

.nav-item.dropdown.dropdown-mega .mega-content {
	padding-left: 1.5rem !important;
	padding-right: 1.5rem !important;
	padding: var(--Customize-dropdown-mega-item-padding-y) var(--Customize-dropdown-mega-item-padding-X);
}
@media screen and (max-width: 991px) {
	.nav-item.dropdown.dropdown-mega .mega-content {
		padding-left: 0.75rem !important;
		padding-right: 0.75rem !important;
	}
}

.nav-item.dropdown.dropdown-mega .mega-item-tilte {
	display: inline-block;
	width: 100%;
	padding: var(--Customize-dropdown-mega-item-padding-y) var(--Customize-dropdown-mega-item-padding-X);
	clear: both;
	font-weight: bold;
	color: var(--Customize_TXTcolor);
	text-align: inherit;
	text-decoration: none;
	white-space: normal;
	background-color: transparent;
	border: 0;
	border-radius: 0;
}
.nav-item.dropdown.dropdown-mega .mega-item-tilte {
	/*font-size: 93.75%;*/
	font-size: 137.5%;
	border-bottom: 1px solid #bbb;
}

.nav-item.dropdown.dropdown-mega .list-group {
	list-style: none;
}
.nav-item.dropdown.dropdown-mega .list-group {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	border-radius: .25rem;
}

.nav-item.dropdown.dropdown-mega .list-group a.list-group-item {
	display: inline-block;
	width: 100%;
	padding: var(--Customize-dropdown-mega-item-padding-y) var(--Customize-dropdown-mega-item-padding-X);
	clear: both;
	font-weight: bold;
	color: inherit;
	text-align: inherit;
	text-decoration: none;
	white-space: normal;
	background-color: transparent;
	border: 0;
	border-radius: 0;
}
.nav-item.dropdown.dropdown-mega .list-group a.list-group-item {
	font-size: 93.75%;
	border-bottom: 1px solid var(--border_color);
}
.nav-item.dropdown.dropdown-mega .list-group a.list-group-item:hover,
.nav-item.dropdown.dropdown-mega .list-group a.list-group-item:focus,
.nav-item.dropdown.dropdown-mega .list-group a.list-group-item:active,
.nav-item.dropdown.dropdown-mega .list-group a.list-group-item.active {
	color: var(--FFFcolor);
    background-color: var(--Customize_HRcolor);
}
/* ---------------------------------------------------------------------*/
/* ---------------------------------------------------------------------*/
.nav-item.dropdown.dropdown-mega .content-mb {
	margin-bottom: 3rem;
}
@media screen and (max-width: 991px) {
	.nav-item.dropdown.dropdown-mega .content-mb {
		margin-bottom: 1.5rem;
		padding: 0 !important;
	}
}
/* ---------------------------------------------------------------------*/
/* ---------------------------------------------------------------------*/
.nav-item.dropdown.dropdown-mega .card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, .125);
	border: none;
	border-radius: .25rem;
}

.nav-item.dropdown.dropdown-mega .img-body,
.nav-item.dropdown.dropdown-mega .ptext-body,
.nav-item.dropdown.dropdown-mega .card-body {
	flex: 1 1 auto;
	padding: var(--Customize-dropdown-mega-item-padding-y) var(--Customize-dropdown-mega-item-padding-X);
	color: var(--bs-card-color);
}


.nav-item.dropdown.dropdown-mega .P-text {
	position: relative;
	display: inline-block;
	font-size: inherit;
	color: inherit;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
/* <<<<<<<< / PC板模式 MAGA ALL // >>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
























