@charset "utf-8";
/* CSS Document */



/* ========================================================================= */
/* ------ 以下文字 需放在-- 網站導覽 裡 上方位置 ---- 以下 START ------- */
/* ========================================================================= */

/* ----------------------------------------------------------------------------

HTML : <p> ...以下文字... </p>


本網站依無障礙網頁設計原則建置，網站的主要內容分為二大區塊：
1.上方主選單連結區(U)、2.中間內容區(C)、3.下方連結區(B)。

本網站的快速鍵﹝Accesskey﹞設定如下：
Alt + U：上方主選單連結區(U)
Alt + C：中間內容區(C)
Alt + B：下方連結區(B)
Alt + L：左方選單區(L)
Alt + R：右方連結區(R)

===============================================================================


網站導覽 說明

本網站依『無障礙網頁開發規範』設計原則而建置，遵循無障礙網站設計之規範，提供網頁導盲磚(:::)、網站導覽 (Site Navigator)、鍵盤快速鍵(Access Key) 等設計方式。
本網站的主要區塊內容及快速鍵(Accesskey)設定如下：

    上方導覽區(Alt+U)： [網站導覽]、[English] 連結。
    中央內容區(Alt+C)： 為本站主要內容區。
    下方功能區(Alt+B)： 為本站版權宣告說明區。

各瀏覽器快速鍵操作說明：

    Internet Explorer 請使用 Alt 加上快速鍵代碼操作。
    Firefox 請使用 Alt+Shift 加上快速鍵代碼操作。
    Google Chrome 若作業系統為 Windows 請使用 Alt 加上快速鍵代碼操作，若為 Mac 則使用 Alt+Option 加上快速鍵代碼操作。
    Opera 請使用 Shift+Esc 加上快速鍵代碼操作。
    Safari 若作業系統為 Windows 請使用 Alt 加上快速鍵代碼操作，若作業系統為Mac則使用 Alt+Option 加上快速鍵代碼操作。

常用鍵盤快速鍵說明：

    ← → or ↑↓ ：頁面上下左右移動。
    Home or End ：跳至頁面的最上方或最下方。
    鍵盤Tab鍵 ：下一個選項。
    鍵盤Tab鍵+Shift鍵 ：回上一個選項。
    Ctrl+P ：列印網頁。

-----------------------------------------------------------------------------*/

/* ========================================================================= */
/* ------ 以下文字 需放在-- 網站導覽 裡 上方位置 ---- 以上 END --------- */
/* ========================================================================= */




/* ========================================================================= */
/* ------ accesskey 所有內容設定開始 ---- 以下 START ------- */
/* ========================================================================= */
.accesskey_header {
	/*position: relative;*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	
	justify-content: center;
	align-items: baseline;
	
	font-size: 100%; /*16*/
	color: rgba(0,0,0,0.35);
	margin-right: 5px;
	top: 30px;
	left: 375px;
}
/*----------------------------------------------*/
.accesskey_search {
	/*position: relative;*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	
	justify-content: center;
	align-items: baseline;
	
	font-size: 100%; /*16*/
	color: var(--FFFcolor);
	margin-right: 5px;
	top: 30px;
	left: 375px;
}
/*----------------------------------------------*/
.accesskey_menu {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	
	font-size: 100%; /*16*/
	color: var(--G333color);
	margin-right: 5px;
	top: 5px;
	/*left: 60px;*/
}
/*----------------------------------------------*/
.accesskey_main {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	
	
	font-size: 100%; /*16*/
	color: var(--G333color);
	margin-right: 5px;
	left: -15px;
	width: 10px;
	z-index: 1;
	/*top: 30px;*/
}
/*----------------------------------------------*/
.accesskey_left {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	
	font-size: 100%; /*16*/
	color: var(--G333color);
	margin-right: 5px;
	left: -10px;
}
/*----------------------------------------------*/
.accesskey_right {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	
	font-size: 100%; /*16*/
	color: var(--G333color);
	margin-right: 5px;
	left: -10px;
}
/*----------------------------------------------*/
.accesskey_footer {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	
	font-size: 100%; /*16*/
	color: var(--G333color);
	/*margin-right: 5px;*/
	/*left: -10px;*/
	width: 10px;
}
/*----------------------------------------------*/
.accesskey_main.left-30 {
	left: -30px;
}

/* ========================================================================= */
/* ------ accesskey 所有內容設定開始 ---- 以上 END ------- */
/* ========================================================================= */