@charset "utf-8";
/* CSS Document */
/* 16px = 1rem = 1em = 100% */ 

@import url("css_import/style_index_content/index_content.css");

/* GOOGLE 字型 */
/* ============================================= */

/* ============================================= */

:root {
	--Customize_color: #8a433b;
	--Customize_HRcolor: #8a433b;
	--Customize_ACcolor: #906323;
	--Customize_FCcolor: #906323;
	--Customize_Footercolor: #00305c;
	
	/* =================================== */
	
	--Customize_TXTcolor: #8a433b;
	--Customize_TXTHRcolor: #8a433b;
	
	/* =================================== */
	
	--Customize_Btn_color: #3F342D;
	--Customize_Btn_HRcolor: #8a433b;
	--Customize_border_color: #00305c;

	/* =================================== */
	
	--a_linkcolor: #0b5ed7;
	--a_linkHRcolor: #0a58ca;
	--a_focuscolor: #FFBD40;
	--a_focusbordercolor: #43B5FC;
}
