@charset "utf-8";
/* CSS Document */

.margin_0 {
    margin-top: 0;
}

.mb-5, .my-5 {
    /*margin-bottom: 3rem !important;*/
    margin-bottom: 2rem !important;
}

.photo_box {
    margin-bottom: 1.8rem !important;
    text-align: center;
	border: 1px solid #ddd;
}

.photo_box img {
	max-width: 100%;
    vertical-align: middle;
	padding: 0.5rem;
	border: 1px solid #eee;
    /*border-style: none;*/
}

.photo_box img:hover {	
	border: 1px solid var(--blackcolor);
    /*border-style: none;*/
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/*.resize {
	width : auto;
	width : 200px;
}*/

.resize {
	height : auto;
	height : 176px;
}

@media (max-width:992px) {
	.resize {
		height : 146px !important;
		/*height : 226px !important;*/
	}
}
@media (max-width:768px) {
	.resize {
		height : 226px !important;
	}
}
@media (max-width:480px) {
	.resize {
		height : 306px !important;
	}
}
@media (max-width:320px) {
	.resize {
		height : auto !important;
	}
}