@charset "utf-8";
/* CSS Document */

/* ============================================= */
/* ****** sticky-header  *********************** */
/* ============================================= */
.sticky-header {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	left: 0px;
	top: 0px;
	width: 100%;
	padding: 0px 0px;
	z-index: -1;
	background-color: var(--FFFcolor);
	border-bottom:1px solid #f0f0f0;
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.10);
	-moz-box-shadow: 0 0 15px rgba(0,0,0,0.10);
	-ms-box-shadow: 0 0 15px rgba(0,0,0,0.10);
	-o-box-shadow: 0 0 15px rgba(0,0,0,0.10);
	box-shadow: 0 0 15px rgba(0,0,0,0.10);
	-webkit-transition: top 300ms ease;
	-moz-transition: top 300ms ease;
	-ms-transition: top 300ms ease;
	-o-transition: top 300ms ease;
	transition: top 300ms ease;
}
.sticky-header.fixed-header {
	opacity: 1;
	z-index: 99901;
	visibility: visible;
}
 .sticky-header.slideInDown {
	-webkit-animation-name: slideInDown;
	animation-name: slideInDown;
}
 .sticky-header.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode:forwards;
    /*-webkit-animation-fill-mode: both;
    animation-fill-mode: both;*/
}
@media (max-width:991px) {
	.sticky-header { display: none; }
}
/* ============================================= */
/* ****** sticky-header  *********************** */
/* ============================================= */

/* ------ LOGO Name -------------------------- */
.auto-container {
	position: static;
	max-width: 1500px;
	padding: 0px 15px;
	margin: 0 auto;
}
.sticky-header .navbar {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: .5rem 0rem;
}
.sticky-header h1 {
	margin-bottom: 0;
	font-size: inherit;
	position: relative; /*absolute*/
	/*top: -57px;*/
	/*left: 0;*/
}
@media (max-width: 1305px) {
	.sticky-header h1 {
		position: relative;
		top: 0;
		left: 0;
	}
}

.sticky-header .navbar-brand,
.sticky-header h1 .navbar-brand {
	display: inline-block;
	font-size: 150%; /*1.5em*/
	font-weight: 500;
	line-height: 1.2;
	white-space: nowrap;
	
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	margin-right: 1rem;
	margin-bottom: 0;
}

.sticky-header .navbar-brand img {
    max-width: 450px; /*300*/
	height: 60px;  /* 重要!!!--必須設定高度 */
}
/*@media screen and (min-device-width: 000px) and (max-device-width: 000px) {}*/
/* ------ LOGO Name -------------------------- */






/*========================================*/
/*============== NEW =====================*/
/*========================================*/
/* NEW 搜尋+購物車--自訂圖示 START */
.sticky-header .pc-box {
    display: -webkit-box;
    display: -ms-flexbox;
    /*display: flex;*/
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sticky-header .pc-box {
    display: flex;
}

.sticky-header .mobile-box {
    display: -webkit-box;
    display: -ms-flexbox;
    /*display: flex;*/
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sticky-header .mobile-box {
    display: none;
}

@media (max-width: 991px) {
    .sticky-header .pc-box {
        display: none;
    }

    .sticky-header .mobile-box {
        display: flex;
    }
}


.sticky-header .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width: 991px) {
    .sticky-header .icons {
        padding-right: 0.5rem;
    }
}

.sticky-header .icons .fa-search,
.sticky-header .icons .fa-shopping-cart {
    cursor: pointer;
    font-size: 125%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: var(--FFFcolor);
    /*width: 32px;*/
    /*height: 32px;*/
	width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--Customize_color);

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media (max-width: 480px) {

    .sticky-header .icons .fa-search,
    .sticky-header .icons .fa-shopping-cart {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
}

@media (min-width: 320px) and (max-width: 435px) {

    .sticky-header .icons .fa-search,
    .sticky-header .icons .fa-shopping-cart {
        font-size: 123%;
    }
}


.sticky-header .icons div:hover {
    /*width: 32px;*/
    /*height: 32px;*/
	width: 40px;
    height: 40px;
    border-radius: 100%;

    color: var(--b2020color);
    background-color: var(--Customize_color);
}

/*#menu-btn {
    display: none;
}*/
/*-----------------------------------------*/
.sticky-header .search-form-down {
    position: absolute;
    top: 100%; /*115%*/
    right: calc(21.2% - 21.2% / 2); /*14rem / 12%*/
    background-color: var(--FFFcolor);
    width: calc(100% - 21.2%); /*21.75rem*/
    height: 3rem !important; /*3rem*/
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    z-index: 1000;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
    border-radius: 32px;
    width: calc(100% - 75.2%);
}

@media (max-width:991px) {
    .sticky-header .search-form-down {
        width: calc(100% - 1.75rem);        /*90%*/
        right: 0.8rem;        /*2rem*/
    }
}

.sticky-header .search-form-down.active {
    transform: scaleY(1);
    transition: .3s linear;
}

.sticky-header .search-form-down input {
    height: 100%;
    width: 100%;
    font-size: 100%;
    color: var(--blackcolor);

    border-top: none;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: none;
    text-transform: none;

    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;

    /*border-radius: 30px;*/
    border-top-left-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 30px;
}

.sticky-header .search-form-down label {
    cursor: pointer;
    font-size: 150%;
    margin: 0rem;    /*1rem*/
    color: var(--b2020color);

    padding: 0.75rem 2rem;
    border-top-left-radius: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 0;
}

.sticky-header .search-form-down label:hover {
    color: var(--FFFcolor);
    background-color: #db3737;
}

/*-----------------------------------------*/
.sticky-header .icons span.count {
    position: absolute;
    font-size: 87.5%;
    line-height: 20px;
    font-weight: 600;
    text-align: center;
    color: var(--FFFcolor);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--Customize_color);
}

.sticky-header .icons span.count {
    top: -5px;
    /*15px*/
    right: -5px;
}

@media (max-width:991px) {
    .sticky-header .icons span.count {
        top: 20px;
        /*5px*/
        right: 38.5px;
    }
}

/*-----------------------------------------*/
/*== 側邊購物車清單 ==*/
.sticky-header .cart-items-container {
    position: absolute;
    top: 100%;
    right: -120%;
    height: calc(100vh - 9.5rem);
    width: 21.75rem;
    background-color: var(--FFFcolor);
    padding: 1rem 1rem 1rem 1rem;
    z-index: 1000;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
}

.sticky-header .cart-items-container.active {
    right: 0;
    transition: .3s linear;
}

.sticky-header .cart-items-container .cart-item {
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.sticky-header .cart-items-container .cart-item .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 000%;
    cursor: pointer;
    color: var(--blackcolor);
}

.sticky-header .cart-items-container .cart-item .fa-times:hover {
    color: #d3ad7f;
}

.sticky-header .cart-items-container .cart-item img {
    height: 7rem;
}

.sticky-header .cart-items-container .cart-item .content h3 {
    font-size: 100%;
    color: var(--blackcolor);
    padding-bottom: .5rem;
}

.sticky-header .cart-items-container .cart-item .content .price {
    font-size: 100%;
    color: var(--Customize_color);
}

.sticky-header .cart-items-container .btn {
    width: 100%;
    text-align: center;
}

/* ================================= */
/* == 下拉式 商品購物清單 ============= */
.sticky-header .cart-items-container .right-widget .dropdown-form {
    padding: 0;
    width: 100%;
    height: 100%;
}

@media (min-width: 991px) {
    .sticky-header .cart-items-container .right-widget .dropdown-form {
        padding: 0;
    }
}

.sticky-header .cart-items-container .right-widget .dropdown-form::before,
.sticky-header .cart-items-container .right-widget .dropdown-form::after {
    content: '';
    position: absolute;
    top: -18px;
    right: 3%;
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 9px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #bbbbbb transparent;
}

.sticky-header .cart-items-container .right-widget .dropdown-form::after {
    top: -16px;
    right: 3.1%;
    border-width: 8px;
    border-color: transparent transparent #fff transparent;
}

@media (min-width: 320px) and (max-width: 990px) {

    .sticky-header .cart-items-container .right-widget .dropdown-form::before,
    .sticky-header .cart-items-container .right-widget .dropdown-form::after {
        right: 15%;
    }

    .sticky-header .cart-items-container .right-widget .dropdown-form::after {
        right: 15.1%;
    }
}

.sticky-header .cart-items-container .mincart-list-box {
    position: relative;
    display: block;
    height: 80vh;
    padding: 0px 15px 0px 0px;
    overflow-y: scroll;
}

/*----------------------------------*/
/* scrollbar 樣式 ------------------*/
/*Firefox 用*/
.sticky-header .cart-items-container .mincart-list-box {
    scrollbar-width: thin;
    /*auto | thin | none | <length> 這幾種選項*/
    scrollbar-border: 1px solid var(--FFFcolor);
    /*scrollbar-color: var(--blackcolor) #000000;*/
    scrollbar-color: rgba(255, 255, 255, 0.3) rgba(0, 0, 0, 0.5);
}

/*Firefox 用*/
/*Chrome 用*/
.sticky-header .cart-items-container .mincart-list-box::-webkit-scrollbar-track {
    background-color: var(--blackcolor);
    /*transparent;*/
    /* color of the 滾動區塊 */
}

.sticky-header .cart-items-container .mincart-list-box::-webkit-scrollbar {
    width: 8px;
    /* width of the 滾動條寬度 */
}

.sticky-header .cart-items-container .mincart-list-box::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    /* color of the 滾動條顏色 */
    border-radius: 20px;
    /* roundness of the 滾動條寬度圓角 */
    /*border: 1px solid var(--FFFcolor);*/
    /* creates padding around 滾動條邊框+顏色 */
}

/*Chrome 用*/
/* scrollbar 樣式 ------------------*/
/*----------------------------------*/

.sticky-header .cart-items-container .mincart-list-box .minicart-product-list {
    margin: 0;
    padding-left: 0;
    list-style: none;
    margin-bottom: 15px;
}

.sticky-header .cart-items-container .mincart-list-box .minicart-product-list li {
    display: flex;
    /*flex-wrap: wrap;*/
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ebebeb
}

.sticky-header .cart-items-container .mincart-list-box .minicart-product-list li a {
    color: var(--blackcolor);
}

.sticky-header .cart-items-container .mincart-list-box .minicart-product-list li a:hover {
    color: var(--Customize_color);
}

.sticky-header .cart-items-container .mincart-list-box .minicart-product-list li .image {
    /*flex: 1 0 75px;*/

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
}

.sticky-header .cart-items-container .mincart-list-box .minicart-product-list li .image img {
    /*max-width: 100%;*/
    max-width: 30%;    /*25%*/
    border: 1px solid #ebebeb;
    margin-top: 4px;
}

@media only screen and (max-width:575px) {
    .sticky-header .cart-items-container .mincart-list-box .minicart-product-list li .image {
        flex: 1 0 50px
    }
}

.sticky-header .cart-items-container .mincart-list-box .minicart-product-list li .content {
    position: relative;
    flex: 1 0 calc(100% - 100px);
    /* 1 0 calc(100% - 150px)*/
    padding-left: 15px
}

.sticky-header .cart-items-container .mincart-list-box .minicart-product-list li .content .title {
    font-size: 87.5%;
    color: var(--blackcolor);
    font-weight: 400;
    display: block;
}

.sticky-header .cart-items-container .mincart-list-box .minicart-product-list li .content .title:hover {
    color: var(--Customize_color);
}

.quantity-price-box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.sticky-header .cart-items-container .mincart-list-box .minicart-product-list li .content .quantity-price {
    font-size: 87.5%;    /*0.875rem / 14px*/
    /*display: block;*/
    margin-top: 10px
}

.sticky-header .cart-items-container .mincart-list-box .minicart-product-list li .content span.quantity {
    display: inline-block;
    font-size: 87.5%;   /*14px*/
}

.sticky-header .cart-items-container .mincart-list-box .minicart-product-list li .content span.take {
    display: inline-block;
    font-size: 87.5%;    /*0.875rem / 14px*/
    /*margin: 12px 10px 0 10px;*/
}

.sticky-header .cart-items-container .mincart-list-box .minicart-product-list li .content span.amount {
    font-size: 100%;    /*16px*/
    color: var(--Customize_color);
    font-weight: 600;    
    /*margin: 13px 0 0 0;*/
}

/*.sticky-header .cart-items-container .mincart-list-box .minicart-product-list li .content .remove*/
.sticky-header .cart-items-container .mincart-list-box .minicart-product-list li a.remove {
    line-height: 1.5;
    position: relative;
    top: 0;
    right: 0;
    padding: 0 3px;
    color: var(--blackcolor);
    font-size: 100%;    /*16px*/
}

/*.sticky-header .cart-items-container .mincart-list-box .minicart-product-list li .content .remove:hover*/
.sticky-header .cart-items-container .mincart-list-box .minicart-product-list li a.remove:hover {
    color: #eb2606
}

@media only screen and (max-width:575px) {
    .sticky-header .cart-items-container .mincart-list-box .minicart-product-list li .content {
        flex: 1 0 calc(100% - 75px)
    }
}

.sticky-header .cart-items-container .mincart-list-box .minicart-product-list li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0
}


/* == 數量選擇 == */
.sticky-header .cart-items-container .mincart-list-box .cart-plus-minus {
    border: 1px solid #ebebeb;
    display: inline-block;
    height: 50px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 94px;    /*115*/
}

.sticky-header .cart-items-container .mincart-list-box .cart-plus-minus .qtybutton {
    color: var(--blackcolor);
    cursor: pointer;
    float: inherit;
    font-size: 112.5%;
    /*18px*/
    font-weight: 500;
    line-height: 20px;
    margin: 0;
    position: absolute;
    text-align: center;
    transition: all .3s ease 0s;
    width: 30px;    /*40*/
}

.sticky-header .cart-items-container .mincart-list-box .cart-plus-minus input.cart-plus-minus-box {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    color: var(--blackcolor);
    float: left;
    font-size: 87.5%;    /*14px*/
    height: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 94px;    /*115*/
    outline: 0
}

/*移除 input type="number" 时浏览器自带的上下箭头*/
.sticky-header .cart-items-container .mincart-list-box .cart-plus-minus input::-webkit-outer-spin-button,
.sticky-header .cart-items-container .mincart-list-box .cart-plus-minus input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.sticky-header .cart-items-container .mincart-list-box .cart-plus-minus input[type='number'] {
    -moz-appearance: textfield;
}

/*移除 input type="number" 时浏览器自带的上下箭头*/

.sticky-header .cart-items-container .mincart-list-box .cart-plus-minus .inc.qtybutton {
    height: 50px;
    padding-top: 14px;
    right: 0;
    top: 0
}

.sticky-header .cart-items-container .mincart-list-box .cart-plus-minus .dec.qtybutton {
    height: 50px;
    padding-top: 14px;
    left: 0;
    top: 0
}

/* == 數量選擇 == */


/* ===== STYLE 01 Cart Total 購物車 結算總計 區塊 ====== */
.sticky-header .cart-items-container .mincart-list-box .custom-totall {
    background-color: #ebebeb;
    border: 1px solid #ebebeb;
    border-radius: 0;
    padding: 15px 15px;
}

.sticky-header .cart-items-container .mincart-list-box .custom-totall .title-wrap {
    position: relative;
}

.sticky-header .cart-items-container .mincart-list-box .custom-totall .title-wrap::before {
    background-color: #e3e1e1;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 13px;
    transition: all .4s ease 0s;
    width: 100%;
    z-index: 1;
}

.sticky-header .cart-items-container .mincart-list-box .custom-totall .title-wrap .cart-bottom-title.h4,
.sticky-header .cart-items-container .mincart-list-box .custom-totall .title-wrap h4.cart-bottom-title {
    display: inline-block;
    font-size: 112.5%;    /*18px*/
    font-weight: 700;
    margin: 0;
    padding-right: 18px;
    background-color: #ebebeb;
    position: relative;
    z-index: 1;
    color: var(--blackcolor);
}

.sticky-header .cart-items-container .mincart-list-box .custom-totall .tax-wrapper {
    margin-top: 22px;
}

.sticky-header .cart-items-container .mincart-list-box .custom-totall .h5,
.sticky-header .cart-items-container .mincart-list-box .custom-totall h5 {
    font-size: 93.75%;    /*15px*/
    margin: 20px 0 27px 0;
    font-weight: 400;
}

.sticky-header .cart-items-container .mincart-list-box .custom-totall .h5 span,
.sticky-header .cart-items-container .mincart-list-box .custom-totall h5 span {
    float: right;
    font-size: 112.5%;    /*18px*/
    font-weight: 700;
}

.sticky-header .cart-items-container .mincart-list-box .custom-totall .total-shipping {
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    margin: 0 0 27px;
    /*padding: 28px 0;*/
}

.sticky-header .cart-items-container .mincart-list-box .custom-totall .total-shipping .h5,
.sticky-header .cart-items-container .mincart-list-box .custom-totall .total-shipping h5 {
    font-size: 93.75%;    /*15px*/
    margin: 0;
}

.sticky-header .cart-items-container .mincart-list-box .custom-totall .total-shipping .h5 span,
.sticky-header .cart-items-container .mincart-list-box .custom-totall .total-shipping h5 span {
    float: right;
    font-size: 112.5%;    /*18px*/
    font-weight: 700;
}

.sticky-header .cart-items-container .mincart-list-box .custom-totall .custom-totall-title {    
    font-size: 125.0%;    /*20px*/
    font-weight: 700;
    color: var(--Customize_color);
    margin: 0 0 25px;
}

.sticky-header .cart-items-container .mincart-list-box .custom-totall .custom-totall-title span {
    float: right;
}

.sticky-header .cart-items-container .mincart-list-box .custom-totall a {
    display: block;
    font-size: 93.75%;    /*15px*/
    font-weight: 700;
    line-height: 1;
    color: var(--FFFcolor);

    padding: 18px 10px 17px;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s ease 0s;

    border-radius: 99rem;
    background-color: var(--Customize_color);
}

.sticky-header .cart-items-container .mincart-list-box .custom-totall a:hover {
    background-color: var(--blackcolor);
}

.sticky-header .cart-items-container .mincart-list-box .totall-button {
    background-color: transparent;
    border: 1px solid transparent;
    /*background-color: #ebebeb;*/
    /*border: 1px solid #ebebeb;*/
    border-radius: 0;
    padding: 0px 30px 30px 30px;
}

.sticky-header .cart-items-container .mincart-list-box .totall-button a {
    display: block;
    font-size: 125.0%;    /*20*/
    font-weight: 700;
    line-height: 1;
    color: var(--blackcolor);
    padding: 18px 10px 17px;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s ease 0s;
    border-radius: 99rem;
    border: 1px solid var(--Customize_color);
    background-color: var(--FFFcolor);
}

.sticky-header .cart-items-container .mincart-list-box .totall-button a:hover {
    color: var(--FFFcolor);
    border: 1px solid var(--FFFcolor);
    background-color: var(--Customize_color);
}

/* ===== STYLE 01 Cart Total 購物車 結算總計 區塊 ====== */
/*== 側邊購物車清單 ==*/

.sticky-header .cart-items-container .mincart-list-box .minicart-product-list li .remove {
    position: relative;
    top: 0;
    right: 0;
    padding: 0 3px;
    color: var(--blackcolor);
    font-size: 100%;    /*16px*/
    line-height: 1.5;
}

.sticky-header .cart-items-container .mincart-list-box .minicart-product-list li .remove input {
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../images/shop/icon-remove_24x24.svg");
    background-color: transparent;
    top: 4px;
}

.sticky-header .cart-items-container .mincart-list-box .minicart-product-list li .remove input:hover {
    background-image: url("../../images/shop/icon-remove_24x24_hover.svg");
}

/* NEW 搜尋+購物車--自訂圖示 START *
/*========================================*/
/*============== NEW =====================*/
/*========================================*/